<nav class="navbar navbar-expand-lg px-0 py-0 master-header__navbar navbar-bg-themed">

    <!-- Mobile sidebar toggle button -  visible on mobile devices only -->
    <!-- <button class="sidebar--toggler collapsed d-lg-none" type="button" data-toggle="sidebar">
         &lt;!&ndash; To display the "hamburger icon" &ndash;&gt;
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         &lt;!&ndash; /To display the "hamburger icon" &ndash;&gt;
     </button>-->
    <!-- /Mobile Sidebar toggle button -  visible on mobile devices only -->

    <!-- Sidebar toggle button -->
    <button class="sidebar--toggler collapsed rarr" type="button" data-toggle="sidebar">
        <!-- To display the "hamburger icon" -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!-- /To display the "hamburger icon" -->
    </button>
    <!-- /Sidebar toggle button -->

    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
    <!-- /Brand -->

    <!-- Header navbar toggle button -->
    <button class="navbar-toggler minus collapsed" type="button" data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <!-- To display the "hamburger icon" -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!-- /To display the "hamburger icon" -->
    </button>
    <!-- /Header navbar toggle button -->

    <div class="collapse navbar-collapse px-2" id="navbar-content">

        <!-- Welcome text -->
        <span class="navbar-text d-lg-none d-xl-block"> Welcome to Obeus admin panel  <a href="" class="fullscreen-toggle">asdsad</a> </span>
        <!-- /Welcome text -->

        <!-- Header left navigation -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            {{!-- <li class="nav-item">
                 <a class="nav-link" href="#">Link </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#">Link 2</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link disabled" href="#">Disabled</a>
             </li>--}}
        </ul>
        <!-- /Header left navigation -->

        <ul class="navbar-nav no-collapse flex-row">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle no-arrow" href="#" id="navbarDropdownTest"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-user"></i>
                </a>
                <ul class="dropdown-menu extended bordered has-arrow" aria-labelledby="navbarDropdownTest">
                    {{{ddw_header 'Dropdown header'}}}
                    {{#ddw_items dropdowns.items}}
                        <a class="{{class}}" href="{{url}}"><i class="{{class_i}} mr-2"></i>{{text}}<span  class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>
                    {{/ddw_items}}
                    {{{ddw_divider}}}
                    {{#ddw_items dropdowns.items_2}}
                        <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>
                    {{/ddw_items}}
                    <li class="dropdown has-child show-right">
                        <a class="dropdown-item dropdown-toggle" href="#"><i class="fa fa-tasks mr-2"></i>Submenu</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Submenu action</a></li>
                            <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                            <li class="dropdown has-child show-right">
                                <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                </ul>
                            </li>
                            <li class="dropdown has-child show-right"><a class="dropdown-item dropdown-toggle" href="#">Second
                                subsubmenu</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-user"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-user"></i></a>
            </li>
        </ul>
        <!-- Header right navigation -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link has-icon-left dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-envelope"></i>Themed
                </a>
                <ul class="dropdown-menu extended themed" aria-labelledby="navbarDropdownMenuLink">
                    {{{ddw_header 'Dropdown header'}}}
                    {{#ddw_items dropdowns.items}}
                        <a class="{{class}}" href="{{url}}"><i class="{{class_i}} mr-2"></i>{{text}}<span
                                class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>{{/ddw_items}}
                    {{{ddw_divider}}}
                    {{#ddw_items dropdowns.items_2}}
                        <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                </ul>
            </li>

            <!-- Inbox Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle no-arrow" href="#" id="navbarDropdownInbox"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-envelope"></i>
                    <span class="badge badge-round badge-danger floating">5</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right list-unstyled extended inbox"
                    aria-labelledby="navbarDropdownInbox">
                    {{{ddw_header 'Dropdown header'}}}
                    {{#ddw_items dropdowns.items}}
                        <a class="{{class}}" href="{{url}}"><i class="{{class_i}} mr-2"></i>{{text}}<span
                                class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>{{/ddw_items}}
                    {{{ddw_divider}}}
                    {{#ddw_items dropdowns.items_2}}
                        <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                </ul>
            </li>
            <!-- /Inbox Dropdown -->
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item">
                <!-- Aside toggle button -->
                <button class="aside--toggler x collapsed" type="button" data-toggle="aside">
                    <!-- To display the "hamburger icon" -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <!-- /To display the "hamburger icon" -->
                </button>
                <!-- /Aside toggle button -->
            </li>
        </ul>
        <!-- /Header right navigation -->

        <!-- Search -->
       <!-- <form class="master-header__search px-3" action="" role="search">
            <input type="text" placeholder="Search here..."/>
            <span></span>
        </form>-->
        <!-- /Search -->



    </div>

</nav>
