<li class="sidebar__item has-child{{#if page.components}} active{{/if}}">
    <a href="#" class="has-arrow" aria-expanded="{{#if page.components}}true{{else}}false{{/if}}">
        <span class="sidebar__item-icon"><i class="icon-puzzle"></i></span>
        <span class="sidebar__item-title">Components</span>
    </a>
    <ul class="sidebar__child" aria-expanded="false">

        {{#each navigation.components}}

            <li class="sidebar__item {{#is ../title this.name }}active{{/is}}{{#is this.subnav ../page.categories }}{{#if this.subnav}}active{{/if}}{{/is}}{{#is this.subnav ../page.top_categories}}{{#if
                    this.subnav }} active{{/if}}{{/is}}{{#if this.subnav }} has-child{{/if}}">

                <a href="{{link url}}" {{#if this.subnav}}class="has-arrow" {{#if ../page.top_categories }}{{#is ../page.top_categories this.name }}aria-expanded="true"{{else}}aria-expanded="false"{{/is}}{{else}}{{#is
                        ../page.categories this.name }}aria-expanded="true"{{else}}aria-expanded="false"{{/is}}{{/if}}
                {{/if}}>{{ name }}</a>
                {{#if this.subnav }}
                    <ul class="sidebar__child" aria-expanded="false">
                        {{!--<li class="sidebar__item"><a href="{{link url }}">{{ name }}</a></li>--}}
                        {{#each ../pages }}
                            {{#is data.categories ../this.subnav}}
                                <li class="sidebar__item{{#if data.subnav }} has-child{{#is ../../page.categories data.subnav }} active{{/is}}{{/if}}{{#is ../../page.dest this.dest}} active{{/is}}">
                                    <a href="{{ replaceStr dest 'app/build/' '/' }}" {{#if data.subnav}}class="has-arrow"
                                       aria-expanded="{{#is ../../page.categories data.subnav }}true{{else}}false{{/is}}"{{/if}}>{{ data.title }}</a>

                                    {{#if data.subnav }}
                                        <ul class="sidebar__child" aria-expanded="false">
                                            {{#each ../../pages }}
                                                {{#is data.categories ../data.subnav }}
                                                    <li class="sidebar__item{{#is ../../../page.dest this.dest}} active{{/is}}"><a href="{{ replaceStr dest 'app/build/' '/' }}">{{ data.title }}</a></li>
                                                {{/is}}
                                            {{/each}}
                                        </ul>
                                    {{/if}}

                                </li>
                            {{/is}}
                        {{/each}}

                    </ul>
                {{/if}}

            </li>

        {{/each}}

    </ul>
</li>
