<!--Sidebar brand logo-->
<div class="sidebar__brand">
    <a href="" data-toggle="tooltip" title="Return Home" data-placement="right">
        <img alt="branding logo" src="http://findicons.com/files/icons/1785/social_and_web_icons_v2/46/google.png"
             data-expand="http://findicons.com/files/icons/1785/social_and_web_icons_v2/46/google.png"
             data-collapse="http://findicons.com/files/icons/1785/social_and_web_icons_v2/46/blogger.png"
             class="sidebar__brand__logo">
    </a>
</div>
<!--/Sidebar brand logo-->

<!--Sidebar navigation-->
<nav class="sidebar__nav">

    <ul class="sidebar__list metismenu list-unstyled" data-plugin="metismenu">

        <!--Main-->
        <li class="sidebar__header">OVERVIEW</li>
        <li {{#if page.dashboard}} class="sidebar__item active" {{else}} class="sidebar__item" {{/if}} >
            <a href="#" class="has-arrow" {{#if page.dashboard}}
               aria-expanded="true" {{else}} aria-expanded="false" {{/if}}>
                <span class="sidebar__item-icon"><i class="fa fa-dashboard"></i></span>
                <span class="sidebar__item-title">Dashboard</span>
                <span class="ml-auto mr-3 badge badge-info">42</span>
            </a>
            <ul class="sidebar__child" {{#if page.dashboard}}
                aria-expanded="true" {{else}} aria-expanded="false" {{/if}}>
                {{#withSort dashboard 'data.posted'}}
                    {{#each pages }}
                        <li {{#is ../../page.dest this.dest}}
                        class="sidebar__item active" {{ else }} class="sidebar__item"{{/is}}>
                            <a href="{{ replaceStr dest 'app/development/' '' }}">{{ data.title }}</a>
                        </li>
                    {{/each}}
                {{/withSort}}

            </ul>
        </li>
        <li class="sidebar__divider"></li>
        <!--/Main-->

        <!--UI Elements-->
        <li class="sidebar__header">UI Elements</li>
        <li {{#if page.components}} class="sidebar__item active" {{else}} class="sidebar__item" {{/if}} >

            <a href="#" class="has-arrow" {{#if page.components}}
               aria-expanded="true" {{else}} aria-expanded="false" {{/if}}>
                <span class="sidebar__item-icon"><i class="fa fa-puzzle-piece"></i></span>
                <span class="sidebar__item-title">Components</span>
            </a>
            <ul class="sidebar__child" {{#if page.components}}
                aria-expanded="true" {{else}} aria-expanded="false" {{/if}}>
                {{#withSort components 'data.posted'}}
                    {{#each pages }}
                        <li {{#is ../../page.dest this.dest}}
                        class="sidebar__item active" {{ else }} class="sidebar__item"{{/is}}><a
                                href="{{ replaceStr dest 'app/development/' '' }}">{{ data.title }}
                        {{#is data.title "Badges"}}
                            <span class="ml-auto badge badge-round badge-primary">4</span>
                        {{/is}}
                        </a>
                        </li>
                    {{/each}}
                {{/withSort}}
            </ul>
        </li>
        <li class="sidebar__divider"></li>
        <!--/UI Elements-->

        <!--Navigation-->
        <li class="sidebar__header">Navigation</li>
        <li class="sidebar__item">
            <a href="#" class="has-arrow" aria-expanded="false">
                <span class="sidebar__item-icon"><i class="fa fa-folder-open"></i></span>
                <span class="sidebar__item-title">Menu Levels</span>
            </a>
            <ul class="sidebar__child" aria-expanded="false">
                <li class="sidebar__item"><a href="#">Level 1.1</a></li>
                <li class="sidebar__item"><a href="#" class="has-arrow" aria-expanded="false">Level 1.2</a>
                    <ul class="sidebar__child" aria-expanded="false">
                        <li class="sidebar__item"><a href="#">Level 2.1</a></li>
                        <li class="sidebar__item"><a href="#" class="has-arrow" aria-expanded="false">Level 2.2</a>
                            <ul class="sidebar__child" aria-expanded="false">
                                <li class="sidebar__item"><a href="#">Level 3.1</a></li>
                                <li class="sidebar__item"><a href="#">Level 3.2</a></li>
                            </ul>
                        </li>
                        <li class="sidebar__item"><a href="#">Level 2.3</a></li>
                    </ul>
                </li>
                <li class="sidebar__item"><a href="#">Level 1.3</a></li>
            </ul>
        </li>
        <li class="sidebar__divider"></li>
        <!--/Navigation-->

        <!--Extras-->
        <li class="sidebar__header">Extras</li>
        <li class="sidebar__item">
            <a href="#">
                <span class="sidebar__item-icon"><i class="fa fa-camera-retro"></i></span>
                <span class="sidebar__item-title">Menu 1</span>
            </a>
        </li>
        <li class="sidebar__divider"></li>
        <!--/Extras-->

        <!--/Action-->
        <li class="sidebar__header">Action</li>
        <li class="sidebar__item has-button">
            <a class="btn btn-primary btn-block" href="#" role="button">Create new</a>
        </li>
        <li class="sidebar__divider"></li>
        <!--/Action-->

    </ul>


    <!--Downloads-->
    <ul class="sidebar__list metismenu list-unstyled mt-auto" data-plugin="metismenu">
        <li class="sidebar__header">
            Downloads
        </li>
        <li class="sidebar__item">
            <a href="#">
                <span class="sidebar__item-icon"><i class="fa fa-camera-retro"></i></span>
                <span class="sidebar__item-title">Menu 1</span>
            </a>
        </li>
    </ul>
    <!--/Downloads-->
</nav>
<!--/Sidebar navigation-->

<!--Sidebar footer-->
<footer class="sidebar__footer">
    <nav class="sidebar__footer-nav">
        <ul class="sidebar__footer-list metismenu list-unstyled" data-plugin="metismenu">
            <li class="sidebar__footer-item mini">
                <!-- Sidebar mini toggle button -->
                <button class="sidebar__footer--toggler" data-toggle="tooltip" data-placement="top" title="Collapse"
                        type="button" data-side="mini">
                    <!-- To display the "hamburger icon" -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <!-- /To display the "hamburger icon" -->
                </button>
            </li>
            <li class="sidebar__footer-item">
                <ul class="sidebar__footer-child collapse" aria-expanded="false">
                    <li class="sidebar__footer-item"><a href="#">Level One</a></li>
                    <li class="sidebar__footer-item"><a href="#">Level One</a></li>
                    <li class="sidebar__footer-item"><a href="#">Level One</a></li>
                    <li class="sidebar__footer-item"><a href="#">Level One</a></li>
                </ul>

                <!-- TODO Tooltip styling https://codepen.io/andreivictor/pen/MpNQNL -->
                <a href="#" data-toggle="tooltip" data-placement="top" title="Settings" data-trigger="click"
                   aria-expanded="false"><i class="fa fa-trash"></i></a>
            </li>

            <li class="sidebar__footer-item">
                <a href="#"><i class="fa fa-ellipsis-h"></i></a>
            </li>
        </ul>
    </nav>
    <!-- /Sidebar mini toggle button -->
</footer>
<!--/Sidebar footer-->