---
title: Alerts
lead: Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.
components: true
---

{{!--For alert, we make use of the handlebars helpers.
Saves us having to write out the bulletproof button HTML
See ../helpers/helpers-bootstrap.js for helpers and ../../data/components/alerts.json for JSON data.
OR you can type out the HTML if you prefer--}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Basic alerts'}}}
                {{#card_body}}
                    <p>Alerts are available for any length of text, as well as an optional dismiss button. For proper styling, use one of the eight <strong>required</strong> contextual classes (e.g.,
                        <code>.alert-success</code>). </p>
                    <!-- Basic alerts -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}}" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Basic alerts -->
                {{/card_body}}
            {{/card}}
        </div>

        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Alerts with no border'}}}
                {{#card_body}}
                    <p>Add <code>.border-0</code> class along with <code>.alert</code> class for alerts with no borders.</p>
                    <!-- Alerts with no border -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} border-0" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Alerts with no border -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Alerts with left icon'}}}
                {{#card_body}}
                   <p>To add left icon to the alert, use class <code>.alert-icon-left</code> to <code>.alert</code> container class and <code>.icon-left</code> to the icon</p>
                    <!-- Basic alerts -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-icon-left" role="alert">
                            <i class="{{class_i}} icon-left"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Basic alerts -->
                {{/card_body}}
            {{/card}}
        </div>

        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Alerts with right icon'}}}
                {{#card_body}}
                    <p>To add right icon to the alert, use class <code>.alert-icon-right</code> to <code>.alert</code> container class and <code>.icon-right</code> to the icon</p>
                    <!-- Basic alerts -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-icon-right" role="alert">
                            <i class="{{class_i}} icon-right"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Basic alerts -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Alerts with solid background'}}}
                {{#card_body}}
                    <p>To use solid background alerts, add background utility classes such as <code>.bg-*</code> to the <code>.alert</code> and color utility classes such as <code>.text-*</code> to the
                        <code>.alert-link</code> class.</p>
                    <!-- Alerts with solid background -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier_bg}} border-0" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link {{modifier_link}}">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Alerts with solid background -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Dismissable alerts'}}}
                {{#card_body}}
                    <p>Add a dismiss button and the <code>.alert-dismissible</code> class, which adds extra padding to the right of the alert and
                        positions the <code>.close</code> button.</p>
                    <!-- Dismissable alerts -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-dismissible fade show" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    {{/each}}
                    <!-- /Dismissable alerts -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Dismissable alerts with left icon'}}}
                {{#card_body}}
                    <!-- 'Dismissable alerts with left icon -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-dismissible alert-icon-left fade show" role="alert">
                            <i class="{{class_i}} icon-left"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    {{/each}}
                    <!-- /'Dismissable alerts with left icon -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Dismissable alerts with right icon'}}}
                {{#card_body}}
                    <!-- Dismissable alerts with right icon -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-dismissible alert-icon-right fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="{{class_i}} icon-right"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Dismissable alerts with right icon -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Alerts with additional content'}}}
                {{#card_body}}
                    <!-- Alerts with additional content -->
                    <p>Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>
                    {{#alert "success"}}
                        <h4 class="alert-heading"><i class="icon-like mr-2"></i> Well done!</h4>
                        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing
                            within an alert works with this kind of content.</p>
                        <hr>
                        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                    {{/alert}}
                    <!-- /Alerts with additional content -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>