---
title: Alerts
lead: Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.
components: true
---

{{!--For alert, we make use of the handlebars helpers.
Saves us having to write out the bulletproof button HTML
See ../helpers/helpers-bootstrap.js for helpers and ../../data/components/alerts.json for JSON data.
OR you can type out the HTML if you prefer--}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Basic alerts'}}}
                {{#card_body}}
                    <p>Alerts are available for any length of text, as well as an optional dismiss button. For proper styling, use one of the eight <strong>required</strong> contextual classes (e.g.,
                        <code>.alert-success</code>). </p>
                    <!-- Basic alerts -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}}" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Basic alerts -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Alerts with no border'}}}
                {{#card_body}}
                    <p>Add <code>.border-0</code> class along with <code>.alert</code> class for alerts with no borders.</p>
                    <!-- Alerts with no border -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} border-0" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Alerts with no border -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Alerts with left icon'}}}
                {{#card_body}}
                    <p>To add left icon to the alert, use class <code>.alert-icon-left</code> to <code>.alert</code> container class and <code>.icon-left</code> to the icon</p>
                    <!-- Basic alerts -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-icon-left" role="alert">
                            <i class="{{class_i}} icon-left"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Basic alerts -->
                {{/card_body}}
            {{/card}}
        </div>

        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Alerts with right icon'}}}
                {{#card_body}}
                    <p>To add right icon to the alert, use class <code>.alert-icon-right</code> to <code>.alert</code> container class and <code>.icon-right</code> to the icon</p>
                    <!-- Basic alerts -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-icon-right" role="alert">
                            <i class="{{class_i}} icon-right"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Basic alerts -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Alerts with solid background'}}}
                {{#card_body}}
                    <p>To use solid background alerts, add background utility classes such as <code>.bg-*</code> to the <code>.alert</code> and color utility classes such as <code>.text-*</code> to the
                        <code>.alert-link</code> class.</p>
                    <!-- Alerts with solid background -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier_bg}} border-0" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link {{modifier_link}}">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Alerts with solid background -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Dismissable alerts'}}}
                {{#card_body}}
                    <p>Add a dismiss button and the <code>.alert-dismissible</code> class, which adds extra padding to the right of the alert and
                        positions the <code>.close</code> button.</p>
                    <!-- Dismissable alerts -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-dismissible fade show" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    {{/each}}
                    <!-- /Dismissable alerts -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Dismissable alerts with left icon'}}}
                {{#card_body}}
                    <!-- 'Dismissable alerts with left icon -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-dismissible alert-icon-left fade show" role="alert">
                            <i class="{{class_i}} icon-left"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    {{/each}}
                    <!-- /'Dismissable alerts with left icon -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Dismissable alerts with right icon'}}}
                {{#card_body}}
                    <!-- Dismissable alerts with right icon -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} alert-dismissible alert-icon-right fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="{{class_i}} icon-right"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Dismissable alerts with right icon -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Alerts with outline'}}}
                {{#card_body}}
                    <p>Add <code>.bg-white</code> class along with <code>.alert</code> class for alerts with outline.</p>
                    <!-- Alerts with outline -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} bg-white" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Alerts with outline -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Alerts with solid outline'}}}
                {{#card_body}}
                    <p>Add <code>.bg-white</code> <code>.border</code> <code>.border-*</code> class along with <code>.alert</code> class for alerts with solid outline.</p>
                    <!-- Alerts with solid outline -->
                    {{#each alerts.list}}
                        {{{card_title title}}}
                        <div class="{{class}} {{modifier}} {{modifier_border}} border-2 bg-white" role="alert">
                            <i class="{{class_i}} mr-2"></i> {{text}} <a href="#" class="alert-link">Alert link</a>
                        </div>
                    {{/each}}
                    <!-- /Alerts with solid outline -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Alerts with additional content'}}}
                {{#card_body}}
                    <!-- Alerts with additional content variation 1 -->
                    <p>Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>
                    {{#alert "success"}}
                        <h4 class="alert-heading"><i class="icon-like mr-2"></i> Well done!</h4>
                        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing
                            within an alert works with this kind of content.</p>
                        <hr>
                        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                    {{/alert}}
                    <!-- /Alerts with additional content variation 1 -->

                    <!-- Alerts with additional content variation 2 -->
                    {{#alert_dismiss "danger"}}
                        <h4 class="alert-heading">Oh snap!</h4>
                        <p class="mb-0">Change a few things and try submitting again.</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    {{/alert_dismiss}}
                    <!-- /Alerts with additional content variation 2 -->


                    <div class="row">
                        <div class="col-md-12">
                            <!-- Alerts with additional content variation 3 -->
                            {{#alert "info"}}
                                <h4 class="alert-heading"><i class="icon-like mr-2"></i> Well done!</h4>
                                <p>You have successfully completed level 1</p>
                                <button type="button" class="btn btn-info btn-block">Play Again</button>
                            {{/alert}}
                            <!-- /Alerts with additional content variation 3 -->
                        </div>
                        <div class="col-md-12">
                            <!-- Alerts with additional content variation 4 -->
                            {{#alert_dismiss "warning"}}
                                <h4 class="alert-heading"><i class="icon-info mr-2"></i>Are you sure you want to delete this file?</h4>
                                <p>You have successfully completed level 1</p>
                                <button type="button" class="btn btn-dark">Cancel</button>
                                <button type="button" class="btn btn-success">Yes</button>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            {{/alert_dismiss}}
                            <!-- /Alerts with additional content variation 4 -->
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4 pr-md-2">
                            <!-- Alerts with additional content variation 5 -->
                            {{#card_has 'alert alert-success alert-dismissible fade show p-0 m-0' ''}}
                                <div class="card-header">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h5 class="alert-heading m-0">Succcess Alert</h5>
                                </div>
                                {{#card_body_has 'bg-white'''}}
                                    <div class="text-center">
                                        <i class="icon-check display-4 text-success d-block mb-2"></i>
                                        <h4 class="text-success">Well done!</h4>
                                        <p class="text-light">Placed your Order successfully</p>
                                        <button type="button" class="btn btn-success btn-circle">Next</button>
                                    </div>
                                {{/card_body_has}}
                            {{/card_has}}
                            <!-- /Alerts with additional content variation 5 -->
                        </div>
                        <div class="col-md-4 px-md-2">
                            <!-- Alerts with additional content variation 6 -->
                            {{#card_has 'alert alert-warning alert-dismissible fade show p-0 m-0' ''}}
                                <div class="card-header">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h5 class="alert-heading m-0">Warning Alert</h5>
                                </div>
                                {{#card_body_has 'bg-white'''}}
                                    <div class="text-center">
                                        <i class="fas fa-exclamation-triangle display-4 text-warning mb-3"></i>
                                        <h4 class="text-warning">Something went wrong</h4>
                                        <p class="text-light">Order not completed</p>
                                        <button type="button" class="btn btn-warning btn-circle">Back</button>
                                    </div>
                                {{/card_body_has}}
                            {{/card_has}}
                            <!-- /Alerts with additional content variation 6 -->
                        </div>
                        <div class="col-md-4 pl-md-2">
                            <!-- Alerts with additional content variation 7 -->
                            {{#card_has 'alert alert-danger alert-dismissible fade show p-0 m-0' ''}}
                                <div class="card-header">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h5 class="alert-heading m-0">Danger Alert</h5>
                                </div>
                                {{#card_body_has 'bg-white'''}}
                                    <div class="text-center">
                                        <i class="icon-close display-4 text-danger mb-3"></i>
                                        <h4 class="text-danger">Error</h4>
                                        <p class="text-light">There is error in downloading files</p>
                                        <button type="button" class="btn btn-danger btn-circle">Try again</button>
                                    </div>
                                {{/card_body_has}}
                            {{/card_has}}
                            <!-- /Alerts with additional content variation 7 -->
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-md-4">
                            <!-- Alerts with additional content variation 8 -->
                            <div class="alert ds-8 border-bottom alert-icon-right" role="alert">
                                <i class="fas fa-comment-alt icon-right display-5 mr-3 text-success"></i>
                                <span class="badge badge-success badge-pill pointed arrow-bottom mb-2">Success</span>
                                <h6 class="alert-heading">Give your valuable feedback </h6>
                                <p class="mb-0 small">You have successfully completed level 1</p>
                            </div>
                            <!-- /Alerts with additional content variation 8 -->
                        </div>
                        <div class="col-md-4">
                            <!-- Alerts with additional content variation 9 -->
                            <div class="alert ds-8 border-bottom alert-icon-right" role="alert">
                                <i class="fas fa-comment-alt icon-right display-5 mr-3 text-info"></i>
                                <span class="badge badge-info badge-pill pointed arrow-bottom mb-2">Info</span>
                                <h6 class="alert-heading">Give your valuable feedback </h6>
                                <p class="mb-0 small">You have successfully completed level 1</p>
                            </div>
                            <!-- /Alerts with additional content variation 9 -->
                        </div>
                        <div class="col-md-4">
                            <!-- Alerts with additional content variation 10 -->
                            <div class="alert ds-8 border-bottom alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <span class="badge badge-danger badge-pill pointed arrow-bottom mb-2">Danger</span>
                                <h6 class="alert-heading">Give your valuable feedback <i class="fas fa-comment-alt display-5 text-danger float-right"></i></h6>
                                <p class="mb-0 small">You have successfully completed level 1</p>
                            </div>
                            <!-- /Alerts with additional content variation 10 -->
                        </div>
                    </div>

                    <!-- /Alerts with additional content -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>
