---
title: Breadcrumb
lead: Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'A standard breadcrumb'}}}
                {{#card_body}}
                    <!-- A standard breadcrumb -->
                    {{#breadcrumb '' ''}}
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    {{/breadcrumb}}

                    {{#breadcrumb '' ''}}
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Registration</li>
                    {{/breadcrumb}}

                    {{#breadcrumb '' ''}}
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Personal Information</li>
                    {{/breadcrumb}}

                    {{#breadcrumb '' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- /A standard breadcrumb -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Standard breadcrumb themes'}}}
                {{#card_body}}
                    <p>You can change the appearance of a breadcrumb by simply adding color utility classes. For more information please review HTML</p>

                    <!-- Standard breadcrumb themes -->
                    <div class="row">
                        <div class="col-lg-6">
                            {{#breadcrumb 'border-primary' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-primary"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-primary">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-primary">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'border-secondary' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-secondary"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-secondary">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-secondary">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'border-info' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-info"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-info">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-info">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'border-warning' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-warning"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-warning">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-warning">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                        </div>
                        <div class="col-lg-6">
                            {{#breadcrumb 'border-dark' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-dark"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-dark">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-dark">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'border-danger' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-danger"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-danger">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-danger">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'border-light' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-light"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-light">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-light">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            {{#breadcrumb 'bg-primary-opacity-1 border-primary' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-primary"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-primary">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-primary">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-secondary-opacity-1 border-secondary' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-secondary"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-secondary">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-secondary">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-info-opacity-1 border-info' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-info"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-info">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-info">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-warning-opacity-1 border-warning' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-warning"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-warning">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-warning">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                        </div>
                        <div class="col-lg-6">
                            {{#breadcrumb 'bg-danger-opacity-1 border-danger' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-danger"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-danger">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-danger">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-dark-opacity-1 border-dark' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-dark"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-dark">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-dark">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-light-opacity-1 border-light' ''}}
                                <li class="breadcrumb-item"><a href="#" class="text-light"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-light">Registration</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-light">Personal Information</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            {{#breadcrumb 'bg-primary border-primary' ''}}
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Registration</a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Personal Information</a></li>
                                <li class="breadcrumb-item active text-white op-8" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-secondary border-secondary' ''}}
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Registration</a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Personal Information</a></li>
                                <li class="breadcrumb-item active text-white op-8" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-info border-info' ''}}
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Registration</a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Personal Information</a></li>
                                <li class="breadcrumb-item active text-white op-8" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-warning border-warning' ''}}
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Registration</a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Personal Information</a></li>
                                <li class="breadcrumb-item active text-white op-8" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                        </div>
                        <div class="col-lg-6">
                            {{#breadcrumb 'bg-danger border-danger' ''}}
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Registration</a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Personal Information</a></li>
                                <li class="breadcrumb-item active text-white op-8" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-dark border-dark' ''}}
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Registration</a></li>
                                <li class="breadcrumb-item text-white"><a href="#" class="text-white">Personal Information</a></li>
                                <li class="breadcrumb-item active text-white op-8" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                            {{#breadcrumb 'bg-light border-light' ''}}
                                <li class="breadcrumb-item text-dark"><a href="#" class="text-dark"><i class="icon-home" aria-hidden="true"></i></a></li>
                                <li class="breadcrumb-item text-dark"><a href="#" class="text-dark">Registration</a></li>
                                <li class="breadcrumb-item text-dark"><a href="#" class="text-dark">Personal Information</a></li>
                                <li class="breadcrumb-item active text-dark op-8" aria-current="page">Photo Upload</li>
                            {{/breadcrumb}}
                        </div>
                    </div>



                    <!-- /Standard breadcrumb themes -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Breadcrumb with actions on right side'}}}
                {{#card_body}}
                    <!-- Breadcrumb with actions on right side -->
                    <p>Breadcrumb with extra actions on right side that can be formated as links, icons or dropdowns.</p>
                    {{#breadcrumb 'has-menu' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Personal Information</li>
                        <li class="breadcrumb-menu ml-auto">
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle px-3" href="#"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu
                                    </a>
                                    {{#ddw_menu_has 'extended dropdown-menu-right'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items dropdowns.items}}
                                            <a class="{{class}}" href="{{url}}"><i class="{{class_i}} mr-2"></i>{{text}}<span
                                                    class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>{{/ddw_items}}
                                        {{{ddw_divider}}}
                                        {{#ddw_items dropdowns.items_2}}
                                            <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" href="#">Share</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" href="#">Email</a>
                                </li>
                            </ul>
                        </li>
                    {{/breadcrumb}}

                    {{#breadcrumb 'extended-arrow has-menu' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        <li class="breadcrumb-menu ml-auto">
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle px-3" href="#"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i>
                                    </a>
                                    {{#ddw_menu_has 'extended dropdown-menu-right'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items dropdowns.items}}
                                            <a class="{{class}}" href="{{url}}"><i class="{{class_i}}  mr-2"></i>{{text}}<span
                                                    class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>{{/ddw_items}}
                                        {{{ddw_divider}}}
                                        {{#ddw_items dropdowns.items_2}}
                                            <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" href="#"><i class="fas fa-share"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" href="#"><i class="icon-envelope"></i><span class="badge badge-primary pointed arrow-left ml-2">5</span></a>
                                </li>
                            </ul>
                        </li>
                    {{/breadcrumb}}
                    <!-- /Breadcrumb with actions on right side -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Divider types'}}}
                {{#card_body}}
                    <!-- Divider types -->

                    <!-- /Divider type 1 -->
                    <p>A breadcrumb can contain a divider to show the relationship between sections.</p>
                    <p class="mb-2">Divider type 1: Add class <code>.divider-type-1</code> to <code>.breadcrumb</code></p>
                    {{#breadcrumb 'divider-type-1' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- Divider type 1 -->

                    <!-- Divider type 2 -->
                    <p class="mb-2">Divider type 2: Add class <code>.divider-type-2</code> to <code>.breadcrumb</code></p>
                    {{#breadcrumb 'divider-type-2' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- /Divider type 2 -->

                    <!-- Divider type 3 -->
                    <p class="mb-2">Divider type 3: Add class <code>.divider-type-3</code> to <code>.breadcrumb</code></p>
                    {{#breadcrumb 'divider-type-3' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- Divider type 3 -->

                    <p class="mb-2">Divider type 4: Add class <code>.divider-type-4</code> to <code>.breadcrumb</code></p>
                    <!-- Divider type 4 -->
                    {{#breadcrumb 'divider-type-4' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- /Divider type 4 -->

                    <p class="mb-2">Divider type 5: Add class <code>.divider-type-5</code> to <code>.breadcrumb</code></p>
                    <!-- Divider type 5 -->
                    {{#breadcrumb 'divider-type-5' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- /Divider type 5 -->

                    <p class="mb-2">Divider type 6: Add class <code>.divider-type-6</code> to <code>.breadcrumb</code></p>
                    <!-- Divider type 6 -->
                    {{#breadcrumb 'divider-type-6' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- /Divider type 6 -->

                    <p class="mb-2">Divider type 6: Add class <code>.divider-type-7</code> to <code>.breadcrumb</code></p>
                    <!-- Divider type 7 -->
                    {{#breadcrumb 'divider-type-7' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- /Divider type 7 -->

                    <!-- /Divider types -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Auto hidden'}}}
                {{#card_body}}
                    <!-- Auto hidden -->
                    <p>Show the first few words, but expand to show the full text on hover. Add class <code>.collapsed</code> to <code>&lt;a&gt;</code> elements except
                        last item.</p>
                    {{#breadcrumb '' ''}}
                        <li class="breadcrumb-item"><a href="#" class="collapsed"><i class="icon-home mr-1" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item"><a href="#" class="collapsed">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#" class="collapsed">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- /Auto hidden -->
                    <!-- /Auto hidden with menu -->
                    {{#breadcrumb 'extended-arrow has-menu' ''}}
                        <li class="breadcrumb-item"><a href="#" class="collapsed"><i class="icon-home mr-1" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item"><a href="#" class="collapsed">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#" class="collapsed">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        <li class="breadcrumb-menu ml-auto">
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle px-3" href="#"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i>
                                    </a>
                                    {{#ddw_menu_has 'extended dropdown-menu-right'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items dropdowns.items}}
                                            <a class="{{class}}" href="{{url}}"><i class="{{class_i}}  mr-2"></i>{{text}}<span
                                                    class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>{{/ddw_items}}
                                        {{{ddw_divider}}}
                                        {{#ddw_items dropdowns.items_2}}
                                            <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" href="#"><i class="fas fa-share"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" href="#"><i class="icon-envelope"></i><span class="badge badge-primary pointed arrow-left ml-2">5</span></a>
                                </li>
                            </ul>
                        </li>
                    {{/breadcrumb}}
                    <!-- /Auto hidden with menu -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Section'}}}
                {{#card_body}}
                    <!-- Section -->
                    <p>A breadcrumb can contain sections that can either be formatted as a link or text.</p>
                    {{#breadcrumb 'divider-type-1' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item">Registration</li>
                        <li class="breadcrumb-item">Personal Information</li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    {{#breadcrumb 'divider-type-1' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item">Registration</li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- /Section -->
                {{/card_body}}
            {{/card}}

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Variations'}}}
                {{#card_body}}
                    {{{card_title 'Arrow'}}}
                    <p>Just add <code>.extended-arrow</code> to <code>.breadcrumb</code></p>
                    <!-- Variation - Arrow -->
                    {{#breadcrumb 'extended-arrow' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}

                    {{#breadcrumb 'extended-arrow' ''}}
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                    {{/breadcrumb}}
                    <!-- /Variation - Arrow -->

                    {{{card_title 'Arrow wrap'}}}
                    <p>Just add <code>.extended-arrow-wrap</code> to <code>.breadcrumb</code></p>
                    <!-- Variation - Arrow wrap -->
                    {{#breadcrumb 'extended-arrow-wrap' ''}}
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#">Photo Upload</a></li>
                    {{/breadcrumb}}

                    {{#breadcrumb 'extended-arrow-wrap' ''}}
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Registration</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#">Photo Upload</a></li>
                    {{/breadcrumb}}
                    <!-- Variation - Arrow wrap -->

                {{/card_body}}
            {{/card}}

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Breadcrumb Wizard'}}}
                {{#card_body}}

                    {{{card_title 'Extended arrow'}}}
                    <p>Just add <code>.extended-arrow.wizard-step</code> to <code>.breadcrumb</code>
                        and set the <code>.active</code> class on the active step, <code>.completed</code> class on preceding steps and <code>.incomplete</code> class for future steps.
                    </p>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb extended-arrow wizard-step">
                            <li class="breadcrumb-item completed"><a href="#">Step 1 is done</a></li>
                            <li class="breadcrumb-item completed"><a href="#">Step 2 is done</a></li>
                            <li class="breadcrumb-item active"><a href="#">Step 3 is active</a></li>
                            <li class="breadcrumb-item incomplete"><a href="#">Step 4 is undone</a></li>
                            <li class="breadcrumb-item incomplete"><a href="#">Step 5 is undone</a></li>
                        </ol>
                    </nav>

                    {{{card_title 'Extended arrow wrap'}}}
                    <p>Just add <code>.extended-arrow-wrap.wizard-step</code> to <code>.breadcrumb</code>
                        and set the <code>.active</code> class on the active step, <code>.completed</code> class on preceding steps and <code>.incomplete</code> class for future steps.
                    </p>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb extended-arrow-wrap wizard-step">
                            <li class="breadcrumb-item completed"><a href="#">Step 1 is done</a></li>
                            <li class="breadcrumb-item completed"><a href="#">Step 2 is done</a></li>
                            <li class="breadcrumb-item active"><a href="#">Step 3 is active</a></li>
                            <li class="breadcrumb-item incomplete"><a href="#">Step 4 is undone</a></li>
                            <li class="breadcrumb-item incomplete"><a href="#">Step 5 is undone</a></li>
                        </ol>
                    </nav>

                {{/card_body}}
            {{/card}}
        </div>

    </div>


</div>
