---
title: Button Group
lead: Group a series of buttons together on a single line with the button group.
components: true
---

{{!--For dropdown, we make use of the handlebars helpers.
Saves us having to write out the bulletproof button HTML
See ../helpers/helpers-bootstrap.js for helpers and ../../data/components/buttons.json for JSON data.
OR you can type out the HTML if you prefer--}}

<div class="container-fluid">
    <div class="row">

        <!--Group Variations-->
        <div class="col-12">
            {{#card}}
                {{{card_header 'Group Variations'}}}
                {{#card_body}}
                    <!-- Basic example -->
                    <p>This is a group of buttons, ideal for situation where many actions are related to same element.</p>
                    {{{card_title 'Basic example'}}}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {{#btn "secondary"}}Left{{/btn}}
                        {{#btn "secondary"}}Middle{{/btn}}
                        {{#btn "secondary"}}Right{{/btn}}
                    </div>
                    {{{spacer-xl-max}}}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {{#btn "outline-secondary"}}Left{{/btn}}
                        {{#btn "outline-secondary"}}Middle{{/btn}}
                        {{#btn "outline-secondary"}}Right{{/btn}}
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {{#btn "secondary btn-circle"}}Left{{/btn}}
                        {{#btn "secondary"}}Middle{{/btn}}
                        {{#btn "secondary btn-circle"}}Right{{/btn}}
                    </div>
                    {{{spacer-xl-max}}}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {{#btn "secondary"}}Left{{/btn}}
                        {{#btn "primary"}}Middle{{/btn}}
                        {{#btn "secondary"}}Right{{/btn}}
                    </div>
                    <!-- /Basic example -->
                    <hr>
                    <!-- Button toolbar -->
                    {{{card_title 'Button toolbar'}}}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            {{#btn "secondary"}}1{{/btn}}
                            {{#btn "secondary"}}2{{/btn}}
                            {{#btn "secondary"}}3{{/btn}}
                            {{#btn "secondary"}}4{{/btn}}
                        </div>
                        {{{spacer-xl-max}}}
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            {{#btn "secondary"}}5{{/btn}}
                            {{#btn "secondary"}}6{{/btn}}
                            {{#btn "secondary"}}7{{/btn}}
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            {{#btn "secondary"}}8{{/btn}}
                        </div>
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            {{#btn "secondary btn-icon"}}<i class="icon-folder"></i>{{/btn}}
                            {{#btn "secondary btn-icon"}}<i class="icon-user"></i>{{/btn}}
                            {{#btn "secondary btn-icon"}}<i class="icon-bubbles"></i>{{/btn}}
                            {{#btn "secondary btn-icon"}}<i class="icon-wrench"></i>{{/btn}}
                        </div>
                    </div>
                    <!-- /Button toolbar -->
                    <hr>
                    <!-- Nesting horizontal -->
                    {{{card_title 'Nesting horizontal'}}}
                    <p>Place a <code>.btn-group</code> within another <code>.btn-group</code> when you want dropdown menus mixed with a series of buttons.</p>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        {{#btn "primary"}}1{{/btn}}
                        {{#btn "primary"}}2{{/btn}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu extended themed" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                    </div>
                    {{{spacer-xl-max}}}
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        {{#btn "primary"}}1{{/btn}}
                        {{#btn "primary"}}2{{/btn}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu extended themed" aria-labelledby="btnGroupDrop3">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        {{#btn "outline-primary "}}1{{/btn}}
                        {{#btn "outline-primary "}}2{{/btn}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop2" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu extended themed" aria-labelledby="btnGroupDrop2">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                    </div>
                    {{{spacer-xl-max}}}
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        {{#btn "outline-primary "}}1{{/btn}}
                        {{#btn "outline-primary "}}2{{/btn}}
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-danger">Action</button>
                            <button type="button" class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu extended themed">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                    </div>

                    <!-- /Nesting horizontal -->
                    <hr>
                    <!-- Nesting vertical -->
                    {{{card_title 'Nesting vertical'}}}
                    <p>Make a set of buttons appear vertically stacked rather than horizontally. <strong>Split button dropdowns are not supported here.</strong></p>
                    <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
                        {{#btn "primary"}}Button{{/btn}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupVerticalDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu extended themed" aria-labelledby="btnGroupVerticalDrop1">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        {{#btn "primary"}}Button{{/btn}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupVerticalDrop2" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu extended themed" aria-labelledby="btnGroupVerticalDrop2">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        {{#btn "primary"}}Button{{/btn}}
                    </div>
                    <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
                        {{#btn "primary"}}Button{{/btn}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupVerticalDrop5" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu extended themed" aria-labelledby="btnGroupVerticalDrop5">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        {{#btn "primary"}}Button{{/btn}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupVerticalDrop6" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu extended themed" aria-labelledby="btnGroupVerticalDrop6">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        {{#btn "primary"}}Button{{/btn}}
                    </div>
                    {{{spacer-xl-max}}}
                    <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
                        {{#btn "outline-primary"}}Button{{/btn}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupVerticalDrop3" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu extended themed" aria-labelledby="btnGroupVerticalDrop3">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        {{#btn "outline-primary"}}Button{{/btn}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupVerticalDrop4" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu extended themed" aria-labelledby="btnGroupVerticalDrop4">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </div>
                        {{#btn "outline-primary"}}Button{{/btn}}
                    </div>
                    <!-- /Nesting vertical -->
                {{/card_body}}
            {{/card}}

        </div>
        <!--/Group Variations-->

        <!-- Toggle Buttons -->
        <div class="col-12">
            {{#card}}
                {{{card_header 'Toggle Buttons'}}}
                {{#card_body}}
                    <p>Button groups can act as a radio or a switch or even a single toggle. Below are some examples click to see what happens</p>
                    <!-- Toggle states -->
                    {{{card_title 'Toggle states'}}}
                    <p>Add <code>data-toggle="button"</code> to toggle a button’s <code>active</code> state. If you’re pre-toggling a button, you must manually add the <code>.active</code> class <strong>and</strong>
                        <code>aria-pressed="true"</code> to the <code>&lt;button&gt;</code>.</p>
                    <button type="button" class="btn btn-primary mb-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <i class="icon-check icon-toggle mr-2"></i>Single toggle 1
                    </button>
                    <button type="button" class="btn btn-secondary mb-2" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="icon-check icon-toggle mr-2"></i>Single toggle 2</button>
                    <button type="button" class="btn btn-success mb-2" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="icon-check icon-toggle mr-2"></i>Single toggle 3</button>

                    <button type="button" class="btn btn-primary text-toggle mb-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <span class="text-collapsed"><i class="icon-minus mr-2"></i>Collpase all</span>
                        <span class="text-expanded"><i class="icon-plus mr-2"></i> Expand all</span>
                    </button>
                    <!-- /Toggle states -->
                    <hr>
                    <!-- Radio toggles -->
                    {{{card_title 'Radio toggles'}}}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                        </label>
                        <label class="btn btn-secondary">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                        </label>
                        <label class="btn btn-secondary">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                        </label>
                    </div>

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-light btn-circle px-4">
                            <input type="radio" name="options" id="option-or-1" autocomplete="off"> One
                        </label>
                        <div class="or"></div>
                        <label class="btn btn-light btn-circle px-4">
                            <input type="radio" name="options" id="option-or-2" autocomplete="off"> Two
                        </label>
                    </div>


                    {{{spacer-common}}}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-success">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="radio" name="options" id="option1-1" autocomplete="off"> Yes
                        </label>
                        <label class="btn btn-outline-info">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="radio" name="options" id="option2-2" autocomplete="off"> Maybe
                        </label>
                        <label class="btn btn-outline-danger">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="radio" name="options" id="option3-3" autocomplete="off"> No
                        </label>
                    </div>

                    {{{spacer-common}}}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-success">
                                    <i class="icon-check icon-toggle mr-2"></i>
                                    <input type="radio" name="options" id="option1-4" autocomplete="off">Male</label>
                                <label class="btn btn-outline-info">
                                    <i class="icon-check icon-toggle mr-2"></i>
                                    <input type="radio" name="options" id="option2-4" autocomplete="off">Female
                                </label>
                            </div>
                        </div>
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-icon btn-secondary">
                            <input type="radio" name="options" id="option11" autocomplete="off" checked><i class="fas fa-align-left"></i>
                        </label>
                        <label class="btn btn-icon btn-secondary">
                            <input type="radio" name="options" id="option22" autocomplete="off"><i class="fas fa-align-center"></i>
                        </label>
                        <label class="btn btn-icon btn-secondary">
                            <input type="radio" name="options" id="option33" autocomplete="off"><i class="fas fa-align-right"></i>
                        </label>
                        <label class="btn btn-icon btn-secondary">
                            <input type="radio" name="options" id="option44" autocomplete="off"><i class="fas fa-align-justify"></i>
                        </label>
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-icon btn-dark">
                            <input type="radio" name="options" id="fast-backward" autocomplete="off" checked><i class="fas fa-fast-backward"></i>
                        </label>
                        <label class="btn btn-icon btn-dark">
                            <input type="radio" name="options" id="backward" autocomplete="off"><i class="fas fa-backward"></i>
                        </label>
                        <label class="btn btn-icon btn-dark">
                            <input type="radio" name="options" id="stop" autocomplete="off"><i class="fas fa-stop"></i>
                        </label>
                        <label class="btn btn-icon btn-dark">
                            <input type="radio" name="options" id="play" autocomplete="off"><i class="fas fa-play"></i>
                        </label>
                        <label class="btn btn-icon btn-dark">
                            <input type="radio" name="options" id="pause" autocomplete="off"><i class="fas fa-pause"></i>
                        </label>
                        <label class="btn btn-icon btn-dark">
                            <input type="radio" name="options" id="forward" autocomplete="off"><i class="fas fa-forward"></i>
                        </label>
                        <label class="btn btn-icon btn-dark">
                            <input type="radio" name="options" id="fast-forward" autocomplete="off"><i class="fas fa-fast-forward"></i>
                        </label>
                    </div>
                    {{{spacer-xl-max}}}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                        <label class="btn btn-icon btn-outline-dark">
                            <input type="radio" name="options" id="pause2" autocomplete="off"><i class="fas fa-pause"></i>
                        </label>
                        <label class="btn btn-icon btn-outline-dark">
                            <input type="radio" name="options" id="play2" autocomplete="off"><i class="fas fa-play"></i>
                        </label>
                        <label class="btn btn-icon btn-outline-dark">
                            <input type="radio" name="options" id="random" autocomplete="off"><i class="fas fa-random"></i>
                        </label>
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="feed" autocomplete="off" checked>Feed
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="messages" autocomplete="off">Messages
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="events" autocomplete="off">Events
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="photos" autocomplete="off">Photos
                        </label>
                    </div>
                    <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-icon btn-secondary">
                            <input type="radio" name="options" id="feed2" autocomplete="off" checked><i class="icon-feed"></i>
                        </label>
                        <label class="btn btn-icon btn-secondary">
                            <input type="radio" name="options" id="comment" autocomplete="off"><i class="icon-bubbles"></i>
                        </label>
                        <label class="btn btn-icon btn-secondary">
                            <input type="radio" name="options" id="calendar" autocomplete="off"><i class="icon-calendar"></i>
                        </label>
                        <label class="btn btn-icon btn-secondary">
                            <input type="radio" name="options" id="photo" autocomplete="off"><i class="icon-picture"></i>
                        </label>
                    </div>
                    <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-icon btn-outline-secondary">
                            <input type="radio" name="options" id="feed3" autocomplete="off" checked><i class="icon-feed"></i>
                        </label>
                        <label class="btn btn-icon btn-outline-secondary">
                            <input type="radio" name="options" id="comment3" autocomplete="off"><i class="icon-bubbles"></i>
                        </label>
                        <label class="btn btn-icon btn-outline-secondary">
                            <input type="radio" name="options" id="calendar3" autocomplete="off"><i class="icon-calendar"></i>
                        </label>
                        <label class="btn btn-icon btn-outline-secondary">
                            <input type="radio" name="options" id="photo3" autocomplete="off"><i class="icon-picture"></i>
                        </label>
                    </div>
                    <!-- /Radio toggles -->
                    <hr>
                    <!-- Checkbox toggles -->
                    {{{card_title 'Checkbox toggles'}}}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="checkbox" checked autocomplete="off"> Active
                        </label>
                        <label class="btn btn-secondary">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="checkbox" autocomplete="off"> Check
                        </label>
                        <label class="btn btn-secondary">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="checkbox" autocomplete="off"> Check
                        </label>
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="checkbox" checked autocomplete="off"><i class="fas fa-bold mr-2"></i> Bold
                        </label>
                        <label class="btn btn-secondary">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="checkbox" autocomplete="off"><i class="fas fa-underline mr-2"></i> Underline
                        </label>
                        <label class="btn btn-secondary">
                            <i class="icon-check icon-toggle mr-2"></i>
                            <input type="checkbox" autocomplete="off"><i class="fas fa-italic mr-2"></i> Italic
                        </label>
                    </div>
                    {{{spacer-xl-max}}}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-icon btn-outline-secondary">
                            <input type="checkbox" checked autocomplete="off"><i class="fas fa-bold"></i>
                        </label>
                        <label class="btn btn-icon btn-outline-secondary">
                            <input type="checkbox" autocomplete="off"><i class="fas fa-underline"></i>
                        </label>
                        <label class="btn btn-icon btn-outline-secondary">
                            <input type="checkbox" autocomplete="off"><i class="fas fa-italic"></i>
                        </label>
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-light">
                            <input type="checkbox" autocomplete="off"><i class="icon-microphone mr-2"></i>Singing
                        </label>
                        <label class="btn btn-light">
                            <input type="checkbox" autocomplete="off"><i class="icon-eyeglass mr-2"></i>Reading
                        </label>
                        <label class="btn btn-light">
                            <input type="checkbox" autocomplete="off"><i class="icon-game-controller mr-2"></i>Playing
                        </label>
                    </div>

                    <!-- Checkbox toggles -->
                {{/card_body}}
            {{/card}}
        </div>
        <!-- /Toggle Buttons -->
    </div>
    <div class="row">
        <!-- Sizing -->
        <div class="col-12">
            {{#card}}
                {{{card_header 'Sizing'}}}
                {{#card_body}}
                    <p>Instead of applying button sizing classes to every button in a group, just add <code>.btn-group-*</code> to each <code>.btn-group</code>, including each one when nesting multiple groups.
                        But in the case of 'icon button' you should add extra sizing classes <code>.btn-*</code> to each <code>.btn-icon</code> like it shown below.
                    </p>
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-3 mb-2">
                            <div class="btn-group btn-group-xl" role="group" aria-label="Basic example">
                                {{#btn "primary"}}Left{{/btn}}
                                {{#btn "primary"}}Middle{{/btn}}
                                {{#btn "primary"}}Right{{/btn}}
                            </div>
                            {{{spacer-common}}}
                            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                                {{#btn "primary"}}Left{{/btn}}
                                {{#btn "primary"}}Middle{{/btn}}
                                {{#btn "primary"}}Right{{/btn}}
                            </div>
                            {{{spacer-common}}}
                            <div class="btn-group" role="group" aria-label="Basic example">
                                {{#btn "primary"}}Left{{/btn}}
                                {{#btn "primary"}}Middle{{/btn}}
                                {{#btn "primary"}}Right{{/btn}}
                            </div>
                            {{{spacer-common}}}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                {{#btn "primary"}}Left{{/btn}}
                                {{#btn "primary"}}Middle{{/btn}}
                                {{#btn "primary"}}Right{{/btn}}
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 mb-2">
                            <div class="btn-group btn-group-toggle btn-group-xl" data-toggle="buttons">
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off" checked><i class="fas fa-align-left"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-center"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-right"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-justify"></i>
                                </label>
                            </div>
                            {{{spacer-common}}}
                            <div class="btn-group btn-group-toggle btn-group-lg" data-toggle="buttons">
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off" checked><i class="fas fa-align-left"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-center"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-right"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-justify"></i>
                                </label>
                            </div>
                            {{{spacer-common}}}
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off" checked><i class="fas fa-align-left"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-center"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-right"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-justify"></i>
                                </label>
                            </div>
                            {{{spacer-common}}}
                            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off" checked><i class="fas fa-align-left"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-center"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-right"></i>
                                </label>
                                <label class="btn btn-icon btn-secondary">
                                    <input type="radio" name="options" autocomplete="off"><i class="fas fa-align-justify"></i>
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 mb-2">
                            <div class="btn-group-vertical btn-group-toggle btn-group-xl" data-toggle="buttons">
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off" checked><i class="icon-feed"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-bubbles"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-calendar"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-picture"></i>
                                </label>
                            </div>
                            <div class="btn-group-vertical btn-group-toggle btn-group-lg" data-toggle="buttons">
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off" checked><i class="icon-feed"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-bubbles"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-calendar"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-picture"></i>
                                </label>
                            </div>
                            <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off" checked><i class="icon-feed"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-bubbles"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-calendar"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-picture"></i>
                                </label>
                            </div>
                            <div class="btn-group-vertical btn-group-toggle btn-group-sm" data-toggle="buttons">
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off" checked><i class="icon-feed"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-bubbles"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-calendar"></i>
                                </label>
                                <label class="btn btn-icon btn-info">
                                    <input type="radio" name="options" autocomplete="off"><i class="icon-picture"></i>
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 mb-2">
                            <div class="btn-group btn-group-xl btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light btn-circle px-5">
                                    <input type="radio" name="options" autocomplete="off"> One
                                </label>
                                <div class="or"></div>
                                <label class="btn btn-light btn-circle px-5">
                                    <input type="radio" name="options" autocomplete="off"> Two
                                </label>
                            </div>
                            {{{spacer-common}}}
                            <div class="btn-group btn-group-lg btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light btn-circle px-5">
                                    <input type="radio" name="options" autocomplete="off"> One
                                </label>
                                <div class="or"></div>
                                <label class="btn btn-light btn-circle px-5">
                                    <input type="radio" name="options" autocomplete="off"> Two
                                </label>
                            </div>
                            {{{spacer-common}}}
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light btn-circle px-5">
                                    <input type="radio" name="options" autocomplete="off"> One
                                </label>
                                <div class="or"></div>
                                <label class="btn btn-light btn-circle px-5">
                                    <input type="radio" name="options" autocomplete="off"> Two
                                </label>
                            </div>
                            {{{spacer-common}}}
                            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light btn-circle px-5">
                                    <input type="radio" name="options" autocomplete="off"> One
                                </label>
                                <div class="or"></div>
                                <label class="btn btn-light btn-circle px-5">
                                    <input type="radio" name="options" autocomplete="off"> Two
                                </label>
                            </div>


                        </div>
                    </div>
                {{/card_body}}
            {{/card}}

        </div>
        <!-- /Sizing -->
        <!-- /Justified Groups -->
        <div class="col-12">
            {{#card}}
                {{{card_header 'Justified groups'}}}
                {{#card_body}}
                    <p>Button group can be justified. Add <code>.btn-group-justified</code> to <code>.btn-group</code></p>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary btn-sm" href="#" role="button">Overview</a>
                        <a class="btn btn-secondary btn-sm" href="#" role="button">Specs</a>
                        <a class="btn btn-success btn-sm" href="#" role="button">Warranty</a>
                        <a class="btn btn-danger btn-sm" href="#" role="button">Reviews</a>
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" href="#" role="button">Overview</a>
                        <a class="btn btn-secondary" href="#" role="button">Specs</a>
                        <a class="btn btn-success" href="#" role="button">Support</a>
                    </div>
                    {{{spacer-common}}}
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Overview</a>
                        <a class="btn btn-secondary btn-lg" href="#" role="button">Support</a>
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
        <!-- /Justified Groups -->
    </div>
</div>
