---
title: Buttons
lead: Use Bootstrap’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, states, and more.
components: true
stylesheets_vendors:
- metismenu/dist/metisMenu
- animate.css/animate
stylesheets_vendors_extended:
- chosen
---

{{!--For dropdown, we make use of the handlebars helpers.
Saves us having to write out the bulletproof button HTML
See ../helpers/helpers-bootstrap.js for helpers and ../../data/components/buttons.json for JSON data.
OR you can type out the HTML if you prefer--}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Basic Buttons'}}}
                {{#card_body}}
                    <p>Use any of the available button classes to quickly create a styled button.</p>
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier}} mb-1">{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Squared Buttons'}}}
                {{#card_body}}
                    <p>Create squared buttons, by adding <code>.btn-square</code>. </p>
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier}} btn-square mb-1">{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Raised Buttons'}}}
                {{#card_body}}
                    <p>Create raised buttons, by adding <code>.btn-raised</code>. </p>
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier}} btn-raised">{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Rounded Buttons'}}}
                {{#card_body}}
                    <p>Create rounded buttons, by adding <code>.btn-round</code>. </p>
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier}} btn-round mb-1">{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Outline Buttons'}}}
                {{#card_body}}
                    <p>
                        Create outline buttons, by replace the default modifier classes with the <code>.btn-outline-*</code> ones to remove all background images and
                        colors on any button.
                    </p>
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier_outline}} mb-1">{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Squared outline Buttons'}}}
                {{#card_body}}
                    <p>
                        Create squared outline buttons, by replace the default modifier classes with the <code>.btn-outline-*</code> and <code>.btn-square</code> ones to
                        remove all background images and colors on any button.
                    </p>
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier_outline}} btn-square mb-1">{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Raised outline Buttons'}}}
                {{#card_body}}
                    <p>
                        Create raised outline buttons, by replace the default modifier classes with the <code>.btn-outline-*</code> and <code>.btn-raised</code> ones to
                        remove all background images and colors on any button.
                    </p>
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier_outline}} btn-raised">{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Rounded outline buttons'}}}
                {{#card_body}}
                    <p>
                        Create rounded outline buttons, by replace the default modifier classes with the <code>.btn-outline-*</code> and <code>.btn-round</code> ones to
                        remove all background images and colors on any button.
                    </p>
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier_outline}} btn-round mb-1">{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Link buttons'}}}
                {{#card_body}}
                    <p>Use the <code>&lt;a&gt;</code> tag to create a link button.</p>
                    {{#btns buttons.list}}
                        <a href="#" class="{{class}} {{modifier}} btn-link" role="button">{{text}}</a>
                    {{/btns}}
                    <hr>
                    <p>We can also use the <code>&lt;button&gt;</code> tag to create a link button.</p>
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier}} btn-link">{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{#card}}
                {{{card_header 'Buttons with icon'}}}
                {{#card_body}}
                    <p>Buttons with icon on left side.</p>
                    <p>
                        {{#btns buttons.list}}
                            <button type="button" class="{{class}} {{modifier}} has-icon-left mb-1"><i class="{{class_i}}"></i>{{text}}</button>
                        {{/btns}}
                    </p>
                    <hr>
                    <p>Rounded buttons with icon on right side.</p>
                    <p>
                        {{#btns buttons.list}}
                            <button type="button" class="{{class}} {{modifier}} btn-round has-icon-right mb-1">{{text}}<i class="{{class_i}}"></i></button>
                        {{/btns}}
                    </p>
                    <hr>
                    <p>Outlined buttons with icon on left side.</p>
                    <p>
                        {{#btns buttons.list}}
                            <button type="button" class="{{class}} {{modifier_outline}} has-icon-left mb-1"><i class="{{class_i}}"></i>{{text}}</button>
                        {{/btns}}
                    </p>
                    <hr>
                    <p>Outlined buttons with icon on right side.</p>
                    <p>
                        {{#btns buttons.list}}
                            <button type="button" class="{{class}} {{modifier_outline}} btn-round has-icon-right mb-1">{{text}}<i class="{{class_i}}"></i></button>
                        {{/btns}}
                    </p>
                    <hr>
                    <p>Link buttons with icon on left side.</p>
                    <p>
                        {{#btns buttons.list}}
                            <button type="button" class="{{class}} {{modifier_outline}} btn-link has-icon-left mb-1"><i class="{{class_i}}"></i>{{text}}</button>
                        {{/btns}}
                    </p>
                    <hr>
                    <p>Link buttons with icon on right side.</p>
                    <p>
                        {{#btns buttons.list}}
                            <button type="button" class="{{class}} {{modifier_outline}} btn-link has-icon-right mb-1">{{text}}<i class="{{class_i}}"></i></button>
                        {{/btns}}
                    </p>
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier}} btn-icon mb-1"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Outline icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier_outline}} btn-icon mb-1"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Circle icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier}} btn-icon btn-round mb-1"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Outline circle icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier_outline}} btn-icon btn-round mb-1"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Link icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list}}
                        <button type="button" class="{{class}} {{modifier}} btn-icon btn-link mb-1"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Social link icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list_social}}
                        <button type="button" class="{{class}} {{modifier}} btn-icon btn-round btn-link"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Social buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list_social}}
                        <button type="button" class="{{class}} {{modifier}} has-icon-left mb-1"><i class="{{class_i}}"></i>{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Social outline buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list_social}}
                        <button type="button" class="{{class}} {{modifier_outline}} has-icon-left mb-1"><i class="{{class_i}}"></i>{{text}}</button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Social Icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list_social}}
                        <button type="button" class="{{class}} {{modifier}} btn-icon mb-1"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Social outline icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list_social}}
                        <button type="button" class="{{class}} {{modifier_outline}} btn-icon mb-1"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Social circle icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list_social}}
                        <button type="button" class="{{class}} {{modifier}} btn-icon btn-round mb-1"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Social outline circle icon buttons'}}}
                {{#card_body}}
                    {{#btns buttons.list_social}}
                        <button type="button" class="{{class}} {{modifier_outline}} btn-icon btn-round mb-1"><i class="{{class_i}}"></i></button>
                    {{/btns}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Disabled state'}}}
                {{#card_body}}
                    <p>A button can show it is currently unable to be interacted with</p>
                    <a href="#" class="btn btn-primary disabled mb-1" role="button" aria-disabled="true">Primary link</a>
                    {{#btn_disabled "primary mb-1"}}Primary{{/btn_disabled}}
                    {{#btn_disabled "outline-primary mb-1"}}Primary{{/btn_disabled}}
                    {{#btn_disabled "secondary btn-round mb-1"}}Secondary{{/btn_disabled}}
                    {{#btn_disabled "outline-secondary btn-round mb-1"}}Secondary{{/btn_disabled}}
                    {{#btn_disabled "success btn-icon mb-1"}}<i class="icon-check"></i>{{/btn_disabled}}
                    {{#btn_disabled "outline-success btn-icon mb-1"}}<i class="icon-check"></i>{{/btn_disabled}}
                    {{#btn_disabled "danger btn-icon btn-round mb-1"}}<i class="icon-close"></i>{{/btn_disabled}}
                    {{#btn_disabled "outline-danger btn-icon btn-round mb-1"}}<i class="icon-close"></i>{{/btn_disabled}}
                    {{#btn_disabled "danger btn-link mb-1"}}Warning{{/btn_disabled}}
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Active state'}}}
                {{#card_body}}
                    <p>A button can show it is currently the active user selection</p>
                    {{#btn "primary active mb-1"}}Primary{{/btn}}
                    {{#btn "secondary btn-round active mb-1"}}Secondary{{/btn}}
                    {{#btn "success btn-icon active mb-1"}}<i class="icon-check"></i>{{/btn}}
                    {{#btn "danger btn-icon btn-round active mb-1"}}<i class="icon-close"></i>{{/btn}}
                    {{#btn "warning btn-link active mb-1"}}Warning{{/btn}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Button Sizes'}}}
                {{#card_body}}
                    <p>A button can have different sizes. Add <code>.btn-xl</code> , <code>.btn-lg</code> or <code>.btn-sm</code> class for additional sizes.</p>
                    <div class="row">
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-primary {{size}}">{{text}}</button>
                                    {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-primary has-icon-left mb-1 {{size}}"><i class="icon-heart"></i>{{text}}</button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-primary btn-round {{size}}">{{text}}</button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-primary btn-raised {{size}}">{{text}}</button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>

                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-outline-primary {{size}}">{{text}}</button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-outline-primary has-icon-left mb-1 {{size}}"><i class="icon-heart"></i>{{text}}</button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-outline-primary btn-round {{size}}">{{text}}</button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-outline-primary btn-raised {{size}}">{{text}}</button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>

                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-primary btn-icon {{size}}"><i class="icon-heart"></i></button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-outline-primary btn-icon {{size}}"><i class="icon-heart"></i></button>
                                {{{spacer-common}}} 
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-primary btn-icon btn-round {{size}}"><i class="icon-heart"></i></button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                    <button type="button" class="{{class}} btn-outline-primary btn-icon btn-round {{size}}"><i class="icon-heart"></i></button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>

                        <div class="col">
                            {{#btns buttons.list_size}}
                                <button type="button" class="{{class}} btn-facebook has-icon-left {{size}}"><i class="fab fa-facebook-f"></i>Facebook</button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                <button type="button" class="{{class}} btn-primary btn-link {{size}}">{{text}}</button>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>

                    </div>
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Button tags'}}}
                {{#card_body}}
                    <p>The <code>.btn</code> classes are designed to be used with the <code>&lt;button&gt;</code> element.
                        However, you can also use these classes on <code>&lt;a&gt;</code> or <code> input&gt;</code> elements
                        (though some browsers may apply a slightly different rendering).</p>
                    <a class="btn btn-primary mb-1" href="#" role="button">Link</a>
                    <button class="btn btn-primary mb-1" type="submit">Button</button>
                    <input class="btn btn-primary mb-1" type="button" value="Input">
                    <input class="btn btn-primary mb-1" type="submit" value="Submit">
                    <input class="btn btn-primary mb-1" type="reset" value="Reset">
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Block level buttons'}}}
                {{#card_body}}
                    <p>Create block level buttons—those that span the full width of a parent—by adding <code>.btn-block</code>.</p>
                    {{#btn "primary btn-block"}}Block button{{/btn}}
                    {{#btn "outline-primary btn-block"}}Outline Block button{{/btn}}
                    {{#btn "secondary btn-round btn-block"}}Rounded Block button{{/btn}}
                    {{#btn "outline-secondary btn-round btn-block"}}Rounded Outline Block button{{/btn}}
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Block level buttons with icon'}}}
                {{#card_body}}
                    {{#btn "primary btn-block has-icon-right"}}Block button with icon on right side<i class="icon-heart"></i>{{/btn}}
                    {{#btn "primary btn-block has-icon-left"}}<i class="icon-heart"></i>Block button with icon on left side{{/btn}}
                    {{#btn "secondary btn-block has-icon-left"}}<i class="icon-heart float-left"></i>Block button with icon on start{{/btn}}
                    {{#btn "secondary btn-block has-icon-right"}}<i class="icon-heart float-right"></i>Block button with icon on end{{/btn}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>