---
title: <%= file.cards_collapse.title %>
lead: <%= file.cards_collapse.lead %>
components: true
cards: true
posted: 2017-12-26
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 pr-md-2">
            <!-- Collapse cards variation 1 -->
            <div class="card">
                <div class="card-body pb-0">
                    {{{card_title_has_subtitle 'Card title' 'Some quick example text to build on the card title and make up the bulk of the card\'s content.'}}}
                </div>
                <div id="accordion-eg9" class="accordion extended-underline" role="tablist">
                    <div class="card mb-1">
                        <a class="h6 mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg9"
                           aria-expanded="true" aria-controls="collapseOne" role="tab" id="headingOne-eg9">
                            Documentation
                        </a>

                        <div id="collapseOne-eg9" class="collapse show" role="tabpanel" aria-labelledby="headingOne-eg9"
                             data-parent="#accordion-eg9">
                            <div class="card-body">
                                <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg9"
                           aria-expanded="false" aria-controls="collapseTwo" role="tab" id="headingTwo-eg9">
                            Events & Task Management
                        </a>
                        <div id="collapseTwo-eg9" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg9"
                             data-parent="#accordion-eg9">
                            <div class="card-body">
                                <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg9"
                           aria-expanded="false" aria-controls="collapseThree" role="tab" id="headingThree-eg9">
                            Invoicing & Financial
                        </a>
                        <div id="collapseThree-eg9" class="collapse" role="tabpanel"
                             aria-labelledby="headingThree-eg9" data-parent="#accordion-eg9">
                            <div class="card-body">
                                <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <p class="card-text mt-3">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Collapse cards variation 1 -->
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 px-md-2">
            <!-- Collapse cards variation 2 -->
            <div class="card">
                <div class="card-body pb-0">
                    {{{card_title_has_subtitle 'Card title' 'Some quick example text to build on the card title and make up the bulk of the card\'s content.'}}}
                </div>
                <div id="accordion-eg3" class="accordion" role="tablist">
                    <div class="card mb-0">
                        <a class="h6 mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg3"
                           aria-expanded="true" aria-controls="collapseOne-eg3" role="tab" id="headingOne-eg3">
                            Documentation
                        </a>

                        <div id="collapseOne-eg3" class="collapse show" role="tabpanel"
                             aria-labelledby="headingOne-eg3" data-parent="#accordion-eg3">
                            <div class="card-body">
                                <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                            </div>
                        </div>

                        <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg3"
                           aria-expanded="false" aria-controls="collapseTwo-eg3" role="tab" id="headingTwo-eg3">
                            Events & Task Management
                        </a>
                        <div id="collapseTwo-eg3" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg3"
                             data-parent="#accordion-eg3">
                            <div class="card-body">
                                <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                            </div>
                        </div>

                        <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg3"
                           aria-expanded="false" aria-controls="collapseThree-eg3" role="tab" id="headingThree-eg3">
                            Invoicing & Financial
                        </a>
                        <div id="collapseThree-eg3" class="collapse" role="tabpanel"
                             aria-labelledby="headingThree-eg3" data-parent="#accordion-eg3">
                            <div class="card-body">
                                <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Collapse cards variation 2 -->
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 px-md-2">
            <!-- Collapse cards variation 3 -->
            <div class="card">
                <div class="card-body pb-0">
                    {{{card_title_has_subtitle 'Card title' 'Some quick example text to build on the card title and make up the bulk of the card\'s content.'}}}
                </div>
                <div id="accordion-eg8-2" class="accordion extended" role="tablist">
                    <div class="card mb-0">
                        <a class="h6 collapsed mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg8-2"
                           aria-expanded="true" aria-controls="collapseOne-eg8-2" role="tab" id="headingOne-eg8-2">
                            Documentation
                        </a>

                        <div id="collapseOne-eg8-2" class="collapse show" role="tabpanel"
                             aria-labelledby="headingOne-eg8-2" data-parent="#accordion-eg8-2">
                            <div class="card-body">
                                <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                            </div>
                        </div>

                        <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg8-2"
                           aria-expanded="false" aria-controls="collapseTwo-eg8-2" role="tab" id="headingTwo-eg8-2">
                            Events & Task Management
                        </a>
                        <div id="collapseTwo-eg8-2" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg8-2"
                             data-parent="#accordion-eg8-2">
                            <div class="card-body">
                                <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                            </div>
                        </div>

                        <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg8-2"
                           aria-expanded="false" aria-controls="collapseThree-eg8-2" role="tab" id="headingThree-eg8-2">
                            Invoicing & Financial
                        </a>
                        <div id="collapseThree-eg8-2" class="collapse" role="tabpanel"
                             aria-labelledby="headingThree-eg8-2" data-parent="#accordion-eg8-2">
                            <div class="card-body">
                                <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Collapse cards variation 3 -->
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 pl-md-2">
            <!-- Collapse cards variation 3 -->
            <div class="card">
                <div class="card-body">
                    {{{card_title_has_subtitle 'Card title' 'Some quick example text to build on the card title and make up the bulk of the card\'s content.'}}}
                    <div id="accordion-eg8" class="accordion extended my-4" role="tablist">
                        <div class="card">
                            <a class="h6 collapsed mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg8"
                               aria-expanded="false" aria-controls="collapseOne-eg8" role="tab" id="headingOne-eg8">
                                Documentation
                            </a>

                            <div id="collapseOne-eg8" class="collapse" role="tabpanel"
                                 aria-labelledby="headingOne-eg8" data-parent="#accordion-eg8">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg8"
                               aria-expanded="false" aria-controls="collapseTwo-eg8" role="tab" id="headingTwo-eg8">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg8" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg8"
                                 data-parent="#accordion-eg8">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg8"
                               aria-expanded="false" aria-controls="collapseThree-eg8" role="tab" id="headingThree-eg8">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg8" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-eg8" data-parent="#accordion-eg8">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <p class="card-text mt-3">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Collapse cards variation 3 -->
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 pr-md-2">
            <!-- Collapse cards variation 4 -->
            <div class="card">
                <div class="card-body">
                    {{{card_title_has_subtitle 'Card title' 'Some quick example text to build on the card title and make up the bulk of the card\'s content.'}}}
                    <div id="accordion-eg4" class="accordion extended outline my-4" role="tablist">
                        <div class="card">
                            <a class="h6 collapsed mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg4"
                               aria-expanded="false" aria-controls="collapseOne-eg4" role="tab" id="headingOne-eg4">
                                Documentation
                            </a>

                            <div id="collapseOne-eg4" class="collapse" role="tabpanel"
                                 aria-labelledby="headingOne-eg4" data-parent="#accordion-eg4">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg4"
                               aria-expanded="false" aria-controls="collapseTwo-eg4" role="tab" id="headingTwo-eg4">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg4" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg4"
                                 data-parent="#accordion-eg4">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg4"
                               aria-expanded="false" aria-controls="collapseThree-eg4" role="tab" id="headingThree-eg4">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg4" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-eg4" data-parent="#accordion-eg4">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p></div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <p class="card-text mt-3">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Collapse cards variation 4 -->
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 px-md-2">
            <!-- Collapse cards variation 5 -->
            <div class="card">
                <div class="card-body">
                    {{{card_title_has_subtitle 'Card title' 'Some quick example text to build on the card title and make up the bulk of the card\'s content.'}}}
                    <div id="accordion-eg2" class="accordion extended outline my-4" role="tablist">
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseOne-eg2"
                               aria-expanded="false" aria-controls="collapseOne-eg2" role="tab" id="headingOne-eg2">
                                Documentation
                            </a>

                            <div id="collapseOne-eg2" class="collapse" role="tabpanel"
                                 aria-labelledby="headingOne-eg2" data-parent="#accordion-eg2">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg2"
                               aria-expanded="false" aria-controls="collapseTwo-eg2" role="tab" id="headingTwo-eg2">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg2" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg2"
                                 data-parent="#accordion-eg2">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg2"
                               aria-expanded="false" aria-controls="collapseThree-eg2" role="tab" id="headingThree-eg2">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg2" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-eg2" data-parent="#accordion-eg2">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <p class="card-text mt-3">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Collapse cards variation 5 -->
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 px-md-2">
            <!-- Collapse cards variation 6 -->
            <div class="card">
                <div class="card-body">
                    {{{card_title_has_subtitle 'Card title' 'Some quick example text to build on the card title and make up the bulk of the card\'s content.'}}}
                    <div id="accordion-eg10" class="accordion extended-left-line my-4" role="tablist">
                        <div class="card mb-1">
                            <a class="h6 collapsed mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg10"
                               aria-expanded="false" aria-controls="collapseOne" role="tab" id="headingOne-eg10">
                                Documentation
                            </a>

                            <div id="collapseOne-eg10" class="collapse" role="tabpanel"
                                 aria-labelledby="headingOne-eg10" data-parent="#accordion-eg10">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg10"
                               aria-expanded="false" aria-controls="collapseTwo" role="tab" id="headingTwo-eg10">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg10" class="collapse" role="tabpanel"
                                 aria-labelledby="headingTwo-eg10" data-parent="#accordion-eg10">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg10"
                               aria-expanded="false" aria-controls="collapseThree" role="tab" id="headingThree-eg10">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg10" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-eg10" data-parent="#accordion-eg10">
                                <div class="card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <p class="card-text mt-3">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Collapse cards variation 6 -->
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 pl-md-2">
            <!-- Collapse cards variation 7 -->
            <div class="card">
                <div class="card-body">
                    {{{card_title_has_subtitle 'Card title' 'Some quick example text to build on the card title and make up the bulk of the card\'s content.'}}}
                    <div id="accordion-standard" class="my-4" role="tablist">
                        <div>
                            <p><a class="accordion collapsed pl-4 h6" data-toggle="collapse" href="#collapseOne-egS"
                                  aria-expanded="false" aria-controls="collapseOne-egS" role="tab" id="headingOne-egS">
                                Documentation
                            </a>
                            </p>
                            <div id="collapseOne-egS" class="collapse" role="tabpanel" aria-labelledby="headingOne-egS" data-parent="#accordion-standard">
                                <div class="card card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>

                            <p>
                                <a class="accordion collapsed pl-4 h6" data-toggle="collapse" href="#collapseTwo-egS"
                                   aria-expanded="false" aria-controls="collapseTwo-egS" role="tab" id="headingTwo-egS">
                                    Events & Task Management
                                </a>
                            </p>
                            <div id="collapseTwo-egS" class="collapse" role="tabpanel" aria-labelledby="headingTwo-egS"
                                 data-parent="#accordion-standard">
                                <div class="card card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>

                            <p>
                                <a class="accordion collapsed pl-4 h6" data-toggle="collapse" href="#collapseThree-egS"
                                   aria-expanded="false" aria-controls="collapseThree-egS" role="tab"
                                   id="headingThree-egS">
                                    Invoicing & Financial
                                </a>
                            </p>
                            <div id="collapseThree-egS" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-egS"
                                 data-parent="#accordion-standard">
                                <div class="card card-body">
                                    <p class="card-text">{{{placeholder-lorem-lng}}}</p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <a href="#" class="btn btn-outline-primary">Card link</a>
                    <a href="#" class="btn btn-outline-secondary">Another link</a>
                    <p class="card-text mt-3">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>


            </div>
            <!-- /Collapse cards variation 7 -->
        </div>
    </div>
</div>