---
title: "Collapse / Accordion"
lead: An accordion allows users to toggle the display of sections of content
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Standard accordion'}}}
                {{#card_body}}
                    <!-- Standard accordion -->
                    <div id="accordion-standard">
                        <div>
                            <p>
                                <a class="accordion pl-4 h6" data-toggle="collapse" href="#collapseOne-egS" aria-expanded="true" aria-controls="collapseOne-egS" role="button" id="headingOne-egS">
                                    Documentation
                                </a>
                            </p>
                            <div id="collapseOne-egS" class="collapse show" aria-labelledby="headingOne-egS" data-parent="#accordion-standard">
                                <div class="card card-body">
                                    <p class="card-text">{{{placeholder-lorem-md}}}</p>
                                </div>
                            </div>
                            <p>
                                <a class="accordion collapsed pl-4 h6" data-toggle="collapse" href="#collapseTwo-egS" aria-expanded="false" aria-controls="collapseTwo-egS" role="button" id="headingTwo-egS">
                                    Events & Task Management
                                </a>
                            </p>
                            <div id="collapseTwo-egS" class="collapse" aria-labelledby="headingTwo-egS" data-parent="#accordion-standard">
                                <div class="card card-body">
                                    <p class="card-text">{{{placeholder-lorem-md}}}</p>
                                </div>
                            </div>
                            <p>
                                <a class="accordion collapsed pl-4 h6" data-toggle="collapse" href="#collapseThree-egS" aria-expanded="false" aria-controls="collapseThree-egS" role="button" id="headingThree-egS">
                                    Invoicing & Financial
                                </a>
                            </p>
                            <div id="collapseThree-egS" class="collapse" aria-labelledby="headingThree-egS" data-parent="#accordion-standard">
                                <div class="card card-body">
                                    <p class="card-text">{{{placeholder-lorem-md}}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Standard accordion -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Simple accordion'}}}
                {{#card_body}}
                    <p>Using the card component, you can extend the default collapse behavior to create an accordion.
                        To properly achieve the accordion style, be sure to use <code>.accordion</code> as a wrapper.
                    </p>
                    <!-- Default accordion -->
                    <div id="accordion" class="accordion">
                        <div class="card">
                            <a class="card-header h6 mb-0" data-toggle="collapse" href="#collapseOne" aria-expanded="true" role="button" aria-controls="collapseOne" id="headingOne">
                                Documentation
                            </a>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" role="button" aria-controls="collapseTwo" id="headingTwo">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree" aria-expanded="false" role="button" aria-controls="collapseThree" id="headingThree">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                    </div>
                    <!-- /Default accordion -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Separated accordion'}}}
                {{#card_body}}
                    <p>Add <code>.separated</code> class along with <code>.accordion</code> class to separate the card component.</p>
                    <!-- Separated accordion -->
                    <div id="accordion-eg3" class="accordion separated">
                        <div class="card mb-2">
                            <a class="h6 mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg3"
                               aria-expanded="true" aria-controls="collapseOne-eg3" role="button" id="headingOne-eg3">
                                Documentation
                            </a>
                            <div id="collapseOne-eg3" class="collapse show"
                                 aria-labelledby="headingOne-eg3" data-parent="#accordion-eg3">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card mb-2">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg3"
                               aria-expanded="false" aria-controls="collapseTwo-eg3" role="button" id="headingTwo-eg3">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg3" class="collapse" aria-labelledby="headingTwo-eg3"
                                 data-parent="#accordion-eg3">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg3"
                               aria-expanded="false" aria-controls="collapseThree-eg3" role="button" id="headingThree-eg3">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg3" class="collapse"
                                 aria-labelledby="headingThree-eg3" data-parent="#accordion-eg3">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                    </div>
                    <!-- /Separated accordion -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Simple accordion themes'}}}
                {{#card_body}}
                    <!-- Simple accordion themes -->
                    <p>Simple accordion themes are created with the <code>.accordion.extended</code> class, followed by one of the contextual classes
                        {{#each variations.list}}
                            <code>.accordion-{{class}}</code>{{#if @last}} .{{else}},{{/if}}
                        {{/each}}
                    </p>

                    {{#each variations.list}}
                        {{{card_title text}}}
                        <!-- Simple accordion {{class}} theme -->
                        <div id="accordion-eg7-{{text}}" class="accordion extended accordion-{{class}}">
                            {{#card}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseOne-eg7-{{text}}" aria-expanded="false" aria-controls="collapseOne-eg7-{{text}}" role="button"
                                   id="headingOne-eg7-{{text}}">
                                    Documentation
                                </a>
                                <div id="collapseOne-eg7-{{text}}" class="collapse" aria-labelledby="headingOne-eg7-{{text}}" data-parent="#accordion-eg7-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card}}

                            {{#card}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg7-{{text}}" aria-expanded="false" aria-controls="collapseTwo-eg7-{{text}}" role="button"
                                   id="headingTwo-eg7-{{text}}">
                                    Events & Task Management
                                </a>
                                <div id="collapseTwo-eg7-{{text}}" class="collapse" aria-labelledby="headingTwo-eg7-{{text}}" data-parent="#accordion-eg7-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card}}
                            {{#card}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg7-{{text}}" aria-expanded="false" aria-controls="collapseThree-eg7-{{text}}" role="button"
                                   id="headingThree-eg7-{{text}}">
                                    Invoicing & Financial
                                </a>
                                <div id="collapseThree-eg7-{{text}}" class="collapse" aria-labelledby="headingThree-eg7-{{text}}" data-parent="#accordion-eg7-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card}}
                        </div>
                        <!-- /Simple accordion {{class}} theme -->
                        {{#if @last}}{{else}}
                            <hr>{{/if}}
                    {{/each}}
                    <!-- /Simple accordion themes -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Separated accordion themes'}}}
                {{#card_body}}
                    <!-- Separated accordion themes -->
                    <p>Separated accordion themes are created with the <code>.accordion.extended.separated</code> class, followed by one of the contextual classes
                        {{#each variations.list}}
                            <code>.accordion-{{class}}</code>{{#if @last}} .{{else}},{{/if}}
                        {{/each}}
                    </p>
                    {{#each variations.list}}
                        {{{card_title text}}}
                        <!-- Separated accordion {{class}} theme -->
                        <div id="accordion-eg3-{{text}}" class="accordion extended separated accordion-{{class}}">
                            {{#card_has 'mb-2' ''}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseOne-eg3-{{text}}" aria-expanded="false" aria-controls="collapseOne-eg3-{{text}}" role="button"
                                   id="headingOne-eg3-{{text}}">
                                    Documentation
                                </a>
                                <div id="collapseOne-eg3-{{text}}" class="collapse" aria-labelledby="headingOne-eg3-{{text}}" data-parent="#accordion-eg3-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card_has}}
                            {{#card_has 'mb-2' ''}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg3-{{text}}" aria-expanded="false" aria-controls="collapseTwo-eg3-{{text}}" role="button"
                                   id="headingTwo-eg3-{{text}}">
                                    Events & Task Management
                                </a>
                                <div id="collapseTwo-eg3-{{text}}" class="collapse" aria-labelledby="headingTwo-eg3-{{text}}" data-parent="#accordion-eg3-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card_has}}
                            {{#card_has 'mb-2' ''}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg3-{{text}}" aria-expanded="false" aria-controls="collapseThree-eg3-{{text}}" role="button"
                                   id="headingThree-eg3-{{text}}">
                                    Invoicing & Financial
                                </a>
                                <div id="collapseThree-eg3-{{text}}" class="collapse" aria-labelledby="headingThree-eg3-{{text}}" data-parent="#accordion-eg3-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card_has}}
                        </div>
                        <!-- /Separated accordion {{class}} theme -->
                        {{#if @last}}{{else}}
                            <hr>{{/if}}
                    {{/each}}
                    <!-- Separated accordion themes -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Simple outline accordion with active background'}}}
                {{#card_body}}
                    <p>Add class <code>.accordion.extended.outline</code> to outermost wrapper element.</p>
                    <!-- Simple outline accordion with active background -->
                    <div id="accordion-eg2" class="accordion extended outline">
                        <div class="card">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseOne-eg2"
                               aria-expanded="false" aria-controls="collapseOne-eg2" role="button" id="headingOne-eg2">
                                Documentation
                            </a>
                            <div id="collapseOne-eg2" class="collapse" aria-labelledby="headingOne-eg2" data-parent="#accordion-eg2">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg2"
                               aria-expanded="false" aria-controls="collapseTwo-eg2" role="button" id="headingTwo-eg2">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg2" class="collapse" aria-labelledby="headingTwo-eg2" data-parent="#accordion-eg2">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg2"
                               aria-expanded="false" aria-controls="collapseThree-eg2" role="button" id="headingThree-eg2">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg2" class="collapse" aria-labelledby="headingThree-eg2" data-parent="#accordion-eg2">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                    </div>
                    <!-- /Simple outline accordion with active background -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Separated outline accordion with active background'}}}
                {{#card_body}}
                    <p>Be sure to add class <code>.accordion.extended.outline.separated</code> to outermost wrapper element.</p>
                    <!-- Separated outline accordion with active background -->
                    <div id="accordion-eg4" class="accordion extended outline separated">
                        <div class="card mb-2">
                            <a class="h6 collapsed mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg4"
                               aria-expanded="false" aria-controls="collapseOne-eg4" role="button" id="headingOne-eg4">
                                Documentation
                            </a>
                            <div id="collapseOne-eg4" class="collapse"
                                 aria-labelledby="headingOne-eg4" data-parent="#accordion-eg4">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card mb-2">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg4"
                               aria-expanded="false" aria-controls="collapseTwo-eg4" role="button" id="headingTwo-eg4">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg4" class="collapse" aria-labelledby="headingTwo-eg4"
                                 data-parent="#accordion-eg4">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card mb-2">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg4"
                               aria-expanded="false" aria-controls="collapseThree-eg4" role="button" id="headingThree-eg4">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg4" class="collapse"
                                 aria-labelledby="headingThree-eg4" data-parent="#accordion-eg4">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                    </div>
                    <!-- /Separated outline accordion with active background -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Simple outline accordion themes'}}}
                {{#card_body}}
                    <!-- Simple outline accordion themes -->
                    <p>Simple outline accordion themes are created with the <code>.accordion.extended.outline</code> class, followed by one of the contextual classes
                        {{#each variations.list}}
                            <code>.accordion-{{class}}</code>{{#if @last}} .{{else}},{{/if}}
                        {{/each}}
                    </p>
                    {{#each variations.list}}
                        {{{card_title text}}}
                        <!-- Simple outline accordion {{class}} theme -->
                        <div id="accordion-eg2-{{text}}" class="accordion extended outline accordion-{{class}}">
                            {{#card}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseOne-eg2-{{text}}"
                                   aria-expanded="false" aria-controls="collapseOne-eg2-{{text}}" role="button" id="headingOne-eg2-{{text}}">
                                    Documentation
                                </a>
                                <div id="collapseOne-eg2-{{text}}" class="collapse" aria-labelledby="headingOne-eg2-{{text}}" data-parent="#accordion-eg2-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card}}
                            {{#card}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg2-{{text}}"
                                   aria-expanded="false" aria-controls="collapseTwo-eg2-{{text}}" role="button" id="headingTwo-eg2-{{text}}">
                                    Events & Task Management
                                </a>
                                <div id="collapseTwo-eg2-{{text}}" class="collapse" aria-labelledby="headingTwo-eg2-{{text}}" data-parent="#accordion-eg2-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card}}
                            {{#card}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg2-{{text}}"
                                   aria-expanded="false" aria-controls="collapseThree-eg2-{{text}}" role="button" id="headingThree-eg2-{{text}}">
                                    Invoicing & Financial
                                </a>
                                <div id="collapseThree-eg2-{{text}}" class="collapse" aria-labelledby="headingThree-eg2-{{text}}" data-parent="#accordion-eg2-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card}}
                        </div>
                        <!-- /Simple outline accordion {{class}} theme -->
                        {{#if @last}}{{else}}
                            <hr>{{/if}}
                    {{/each}}
                    <!-- /Simple outline accordion themes -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Separated outline accordion themes'}}}
                {{#card_body}}
                    <!-- Separated outline accordion themes -->
                    <p>Separated outline accordion themes are created with the <code>.accordion.extended.outline.separated</code> class, followed by one of the contextual classes
                        {{#each variations.list}}
                            <code>.accordion-{{class}}</code>{{#if @last}} .{{else}},{{/if}}
                        {{/each}}
                    </p>
                    {{#each variations.list}}
                        {{{card_title text}}}
                        <!-- Separated outline accordion {{class}} theme -->
                        <div id="accordion-eg4-{{text}}" class="accordion extended outline separated accordion-{{class}}">
                            {{#card_has 'mb-2' ''}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseOne-eg4-{{text}}"
                                   aria-expanded="false" aria-controls="collapseOne-eg4-{{text}}" role="button" id="headingOne-eg4-{{text}}">
                                    Documentation
                                </a>
                                <div id="collapseOne-eg4-{{text}}" class="collapse" aria-labelledby="headingOne-eg4-{{text}}" data-parent="#accordion-eg4-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card_has}}
                            {{#card_has 'mb-2' ''}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg4-{{text}}"
                                   aria-expanded="false" aria-controls="collapseTwo-eg4-{{text}}" role="button" id="headingTwo-eg4-{{text}}">
                                    Events & Task Management
                                </a>
                                <div id="collapseTwo-eg4-{{text}}" class="collapse" aria-labelledby="headingTwo-eg4-{{text}}" data-parent="#accordion-eg4-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card_has}}
                            {{#card_has 'mb-2' ''}}
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg4-{{text}}"
                                   aria-expanded="false" aria-controls="collapseThree-eg4-{{text}}" role="button" id="headingThree-eg4-{{text}}">
                                    Invoicing & Financial
                                </a>
                                <div id="collapseThree-eg4-{{text}}" class="collapse" aria-labelledby="headingThree-eg4-{{text}}" data-parent="#accordion-eg4-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            {{/card_has}}
                        </div>
                        <!-- /Separated outline accordion {{class}} theme -->
                        {{#if @last}}{{else}}
                            <hr>{{/if}}
                    {{/each}}
                    <!-- Separated outline accordion themes -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header_has_subtitle 'Accordion with icon and subtitle' ''}}}
                {{#card_body}}
                    <!-- Group accordion with icon and subtitle -->
                    <div id="accordion-eg5" class="accordion">
                        {{#card}}
                            <a class="h5 mb-0 collapsed card-header" data-toggle="collapse" href="#collapseOne-eg5"
                               aria-expanded="false" aria-controls="collapseOne-eg5" role="button" id="headingOne-eg5">
                                <i class="icon-docs"></i>
                                <div class="card-title">Documentation<br>
                                    <small class="card-subtitle mb-2">Our documentation to fix bugs and add features</small>
                                </div>
                            </a>
                            <div id="collapseOne-eg5" class="collapse" aria-labelledby="headingOne-eg5"
                                 data-parent="#accordion-eg5">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        {{/card}}
                        {{#card}}
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg5"
                               aria-expanded="false" aria-controls="collapseTwo-eg5" role="button" id="headingTwo-eg5">
                                <i class="icon-docs"></i>
                                <div class="card-title">Events & Task Management
                                    <br>
                                    <small class="card-subtitle mb-2">Managing images, budgets and calendars</small>
                                </div>
                            </a>
                            <div id="collapseTwo-eg5" class="collapse" aria-labelledby="headingTwo-eg5"
                                 data-parent="#accordion-eg5">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        {{/card}}
                    </div>
                    <!-- /Group accordion with icon and subtitle -->
                    <hr>
                    {{{card_title_has_subtitle 'Styled' 'with primary background'}}}
                    <p>Accordion themes are created with the <code>.accordion.extended</code> class, followed by one of the contextual classes
                        {{#each variations.list}}
                            <code>.accordion-{{class}}</code>{{#if @last}} .{{else}},{{/if}}
                        {{/each}}
                    </p>
                    <!-- Group accordion with icon and subtitle - {{variations.list.0.class}} -->
                    <div id="accordion-eg6-{{variations.list.0.text}}" class="accordion extended accordion-{{variations.list.0.class}}">
                        {{#card}}
                            <a class="h5 mb-0 collapsed card-header" data-toggle="collapse" href="#collapseOne-eg6-{{variations.list.0.text}}"
                               aria-expanded="false" aria-controls="collapseOne-eg6-{{variations.list.0.text}}" role="button" id="headingOne-eg6-{{variations.list.0.text}}">
                                <i class="icon-docs" aria-hidden="true"></i>
                                <div class="card-title">Documentation
                                    <br>
                                    <small class="card-subtitle mb-2">Our documentation to fix bugs and add features
                                    </small>
                                </div>
                            </a>
                            <div id="collapseOne-eg6-{{variations.list.0.text}}" class="collapse" aria-labelledby="headingOne-eg6-{{variations.list.0.text}}"
                                 data-parent="#accordion-eg6-{{variations.list.0.text}}">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        {{/card}}
                        {{#card}}
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg6-{{variations.list.0.text}}"
                               aria-expanded="false" aria-controls="collapseTwo-eg6-{{variations.list.0.text}}" role="button" id="headingTwo-eg6-{{variations.list.0.text}}">
                                <i class="icon-docs" aria-hidden="true"></i>
                                <div class="card-title">Events & Task Management
                                    <br>
                                    <small class="card-subtitle mb-2">Managing images, budgets and calendars</small>
                                </div>
                            </a>
                            <div id="collapseTwo-eg6-{{variations.list.0.text}}" class="collapse" aria-labelledby="headingTwo-eg6-{{variations.list.0.text}}"
                                 data-parent="#accordion-eg6-{{variations.list.0.text}}">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        {{/card}}
                    </div>
                    <!-- /Group accordion with icon and subtitle - {{variations.list.0.class}} -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header_has_subtitle 'Underline accordion' 'A styled accordion with underline adds basic formatting'}}}
                {{#card_body}}
                    <p>Add class <code>.accordion.extended.underline</code> to outermost wrapper element.</p>
                    <!-- Underline accordion -->
                    <div id="accordion-eg9" class="accordion extended underline">
                        <div class="card mb-1">
                            <a class="h6 mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg9" aria-expanded="false" aria-controls="collapseOne" role="button" id="headingOne-eg9">
                                Documentation
                            </a>
                            <div id="collapseOne-eg9" class="collapse show" aria-labelledby="headingOne-eg9" data-parent="#accordion-eg9">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg9" aria-expanded="false" aria-controls="collapseTwo" role="button" id="headingTwo-eg9">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg9" class="collapse" aria-labelledby="headingTwo-eg9" data-parent="#accordion-eg9">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg9" aria-expanded="false" aria-controls="collapseThree" role="button" id="headingThree-eg9">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg9" class="collapse" aria-labelledby="headingThree-eg9" data-parent="#accordion-eg9">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                    </div>
                    <!-- /Underline accordion -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Underline accordion themes'}}}
                {{#card_body}}
                    <!-- Underline accordion themes -->
                    <p>Underline accordion themes are created with the <code>.accordion.extended.underline</code> class, followed by one of the contextual classes
                        {{#each variations.list}}
                            <code>.underline-{{class}}</code>{{#if @last}} .{{else}},{{/if}}
                        {{/each}}
                    </p>

                    {{#each (limit variations.list 2)}}
                        {{{card_title text}}}
                        <!-- Underline accordion {{class}} theme -->
                        <div id="accordion-eg9-{{text}}" class="accordion extended underline underline-{{class}}">
                            <div class="card mb-1">
                                <a class="h6 mb-0 card-header plus-minus" data-toggle="collapse" href="#collapseOne-eg9-{{text}}" aria-expanded="false" aria-controls="collapseOne" role="button" id="headingOne-eg9-{{text}}">
                                    Documentation
                                </a>
                                <div id="collapseOne-eg9-{{text}}" class="collapse show" aria-labelledby="headingOne-eg9-{{text}}" data-parent="#accordion-eg9-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            </div>
                            <div class="card mb-1">
                                <a class="h6 collapsed card-header mb-0 plus-minus" data-toggle="collapse" href="#collapseTwo-eg9-{{text}}" aria-expanded="false" aria-controls="collapseTwo" role="button"
                                   id="headingTwo-eg9-{{text}}">
                                    Events & Task Management
                                </a>
                                <div id="collapseTwo-eg9-{{text}}" class="collapse" aria-labelledby="headingTwo-eg9-{{text}}" data-parent="#accordion-eg9-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            </div>
                            <div class="card mb-1">
                                <a class="h6 collapsed card-header mb-0 plus-minus" data-toggle="collapse" href="#collapseThree-eg9-{{text}}" aria-expanded="false" aria-controls="collapseThree" role="button"
                                   id="headingThree-eg9-{{text}}">
                                    Invoicing & Financial
                                </a>
                                <div id="collapseThree-eg9-{{text}}" class="collapse" aria-labelledby="headingThree-eg9-{{text}}" data-parent="#accordion-eg9-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            </div>
                        </div>
                        <!-- /Underline accordion {{class}} theme -->
                        {{#if @last}}{{else}}
                            <hr>{{/if}}
                    {{/each}}

                    <!-- /Underline accordion themes -->
                {{/card_body}}
            {{/card}}

        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header_has_subtitle 'Left line accordion' 'A styled accordion with left line adds basic formatting'}}}
                {{#card_body}}
                    <p>Add class <code>.accordion.extended.left-line</code> to outermost wrapper element.</p>
                    <!-- Left line accordion -->
                    <div id="accordion-eg10" class="accordion extended left-line">
                        <div class="card mb-1">
                            <a class="h6 mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg10" aria-expanded="false" aria-controls="collapseOne" role="button" id="headingOne-eg10">
                                Documentation
                            </a>

                            <div id="collapseOne-eg10" class="collapse show" aria-labelledby="headingOne-eg10" data-parent="#accordion-eg10">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg10"
                               aria-expanded="false" aria-controls="collapseTwo" role="button" id="headingTwo-eg10">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg10" class="collapse"
                                 aria-labelledby="headingTwo-eg10" data-parent="#accordion-eg10">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg10"
                               aria-expanded="false" aria-controls="collapseThree" role="button" id="headingThree-eg10">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg10" class="collapse"
                                 aria-labelledby="headingThree-eg10" data-parent="#accordion-eg10">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        </div>
                    </div>
                    <!-- /Left line accordion -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Left line accordion themes'}}}
                {{#card_body}}
                    <!-- Left line accordion themes -->
                    <p>Left line accordion themes are created with the <code>.accordion.extended.left-line</code> class, followed by one of the contextual classes
                        {{#each variations.list}}
                            <code>.left-line-{{class}}</code>{{#if @last}} .{{else}},{{/if}}
                        {{/each}}
                    </p>
                    {{#each (limit variations.list 2)}}
                        {{{card_title text}}}
                        <!-- Underline accordion {{class}} theme -->
                        <div id="accordion-eg10-{{text}}" class="accordion extended left-line left-line-{{class}}">
                            <div class="card mb-1">
                                <a class="h6 mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg10-{{text}}" aria-expanded="false" aria-controls="collapseOne" role="button" id="headingOne-eg10-{{text}}">
                                    Documentation
                                </a>
                                <div id="collapseOne-eg10-{{text}}" class="collapse show" aria-labelledby="headingOne-eg10-{{text}}" data-parent="#accordion-eg10-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            </div>
                            <div class="card mb-1">
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg10-{{text}}" aria-expanded="false" aria-controls="collapseTwo" role="button"
                                   id="headingTwo-eg10-{{text}}">
                                    Events & Task Management
                                </a>
                                <div id="collapseTwo-eg10-{{text}}" class="collapse" aria-labelledby="headingTwo-eg10-{{text}}" data-parent="#accordion-eg10-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            </div>
                            <div class="card mb-1">
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg10-{{text}}" aria-expanded="false" aria-controls="collapseThree" role="button"
                                   id="headingThree-eg10-{{text}}">
                                    Invoicing & Financial
                                </a>
                                <div id="collapseThree-eg10-{{text}}" class="collapse" aria-labelledby="headingThree-eg10-{{text}}" data-parent="#accordion-eg10-{{text}}">
                                    {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                </div>
                            </div>
                        </div>
                        <!-- /Underline accordion {{class}} theme -->
                        {{#if @last}}{{else}}
                            <hr>{{/if}}
                    {{/each}}
                    <!-- /Underline accordion themes -->
                {{/card_body}}
            {{/card}}

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Expand All / Collpase All'}}}
                {{#card_body}}
                    <p>Just add two buttons or links with class <code>.expand_all</code> and <code>.collapse_all</code> to expand/collapse the content div of the accordion. Be sure to add
                        <code>#accordion-expand-collapse</code> to outermost wrapper element.</p>
                    <div class="row mb-2">
                        <div class="col-sm text-right d-flex align-items-center justify-content-end">
                            <a class="text-primary small expand_all mr-2" href="#">Expand all</a>
                            <a class="text-primary small collapse_all" href="#">Collapse all</a>
                        </div>
                    </div>
                    <div id="accordion-expand-collapse" class="accordion extended outline">
                        {{#card}}
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseOne-eg11"
                               aria-expanded="false" aria-controls="collapseOne-eg11" data-parent="#accordion-expand-collapse" role="button" id="headingOne-eg11">
                                Documentation
                            </a>
                            <div id="collapseOne-eg11" class="collapse panel-collapse">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        {{/card}}
                        {{#card}}
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg11"
                               aria-expanded="false" aria-controls="collapseTwo-eg11" data-parent="#accordion-expand-collapse" role="button" id="headingTwo-eg11">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg11" class="collapse panel-collapse">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        {{/card}}
                        {{#card}}
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg11"
                               aria-expanded="false" aria-controls="collapseThree-eg11" data-parent="#accordion-expand-collapse" role="button" id="headingThree-eg11">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg11" class="collapse panel-collapse">
                                {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                            </div>
                        {{/card}}
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Multiple targets'}}}
                {{#card_body}}
                    <p>A <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> can show and hide multiple elements by referencing them with a JQuery selector in its <code>href</code> or <code>data-target</code>
                        attribute.
                        Multiple <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> can show and hide an element if they each reference it with their <code>href</code> or <code>data-target</code> attribute</p>
                    <!-- Multiple targets -->
                    <p>
                        <a class="btn btn-primary mb-2" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
                        <button class="btn btn-primary mb-2" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element
                        </button>
                        <button class="btn btn-primary mb-2" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle
                            both elements
                        </button>
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                    <p class="card-text">{{{placeholder-lorem-md}}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                                <div class="card card-body">
                                    <p class="card-text">{{{placeholder-lorem-md}}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Multiple targets -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Accordion indicator types'}}}
                {{#card_body}}
                    <div class="row">
                        <div class="col-md-4">
                            {{{card_title 'Plus/minus'}}}
                            <p>Add <code>.plus-minus</code> to the control element - i.e. the <code>data-toggle</code></p>
                            <!-- Accordion indicator type - Plus/minus -->
                            <div id="accordionPlusMinus" class="accordion">
                                <div class="card">
                                    <a class="card-header h6 mb-0 plus-minus" data-toggle="collapse" href="#collapseOnePlusMinus" aria-expanded="true" role="button" aria-controls="collapseOnePlusMinus"
                                       id="headingOnePlusMinus">
                                        Documentation
                                    </a>
                                    <div id="collapseOnePlusMinus" class="collapse show" aria-labelledby="headingOnePlusMinus" data-parent="#accordionPlusMinus">
                                        {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                    </div>
                                </div>
                                <div class="card">
                                    <a class="h6 collapsed card-header mb-0 plus-minus" data-toggle="collapse" href="#collapseTwoPlusMinus" aria-expanded="false" role="button" aria-controls="collapseTwoPlusMinus"
                                       id="headingTwoPlusMinus">
                                        Events & Task Management
                                    </a>
                                    <div id="collapseTwoPlusMinus" class="collapse" aria-labelledby="headingTwoPlusMinus" data-parent="#accordionPlusMinus">
                                        {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                    </div>
                                </div>
                                <div class="card">
                                    <a class="h6 collapsed card-header mb-0 plus-minus" data-toggle="collapse" href="#collapseThreePlusMinus" aria-expanded="false" role="button" aria-controls="collapseThreePlusMinus"
                                       id="headingThreePlusMinus">
                                        Invoicing & Financial
                                    </a>
                                    <div id="collapseThreePlusMinus" class="collapse" aria-labelledby="headingThreePlusMinus" data-parent="#accordionPlusMinus">
                                        {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                    </div>
                                </div>
                            </div>
                            <!-- /Accordion indicator type - Plus/minus -->
                        </div>
                        <div class="col-md-4">
                            {{{card_title 'Angle double'}}}
                            <p>Add <code>.angle-double</code> to the control element - i.e. the <code>data-toggle</code></p>
                            <!-- Accordion indicator type - Angle double -->
                            <div id="accordionAngleDouble" class="accordion">
                                <div class="card">
                                    <a class="card-header h6 mb-0 angle-double" data-toggle="collapse" href="#collapseOneAngleDouble" aria-expanded="true" role="button" aria-controls="collapseOneAngleDouble"
                                       id="headingOneAngleDouble">
                                        Documentation
                                    </a>
                                    <div id="collapseOneAngleDouble" class="collapse show" aria-labelledby="headingOneAngleDouble" data-parent="#accordionAngleDouble">
                                        {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                    </div>
                                </div>
                                <div class="card">
                                    <a class="h6 collapsed card-header mb-0 angle-double" data-toggle="collapse" href="#collapseTwoAngleDouble" aria-expanded="false" role="button" aria-controls="collapseTwoAngleDouble"
                                       id="headingTwoAngleDouble">
                                        Events & Task Management
                                    </a>
                                    <div id="collapseTwoAngleDouble" class="collapse" aria-labelledby="headingTwoAngleDouble" data-parent="#accordionAngleDouble">
                                        {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                    </div>
                                </div>
                                <div class="card">
                                    <a class="h6 collapsed card-header mb-0 angle-double" data-toggle="collapse" href="#collapseThreeAngleDouble" aria-expanded="false" role="button" aria-controls="collapseThreeAngleDouble"
                                       id="headingThreeAngleDouble">
                                        Invoicing & Financial
                                    </a>
                                    <div id="collapseThreeAngleDouble" class="collapse" aria-labelledby="headingThreeAngleDouble" data-parent="#accordionAngleDouble">
                                        {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                    </div>
                                </div>
                            </div>
                            <!-- /Accordion indicator type - Angle double -->
                        </div>
                        <div class="col-md-4">
                            {{{card_title 'Arrow circle'}}}
                            <p>Add <code>.arrow-circle</code> to the control element - i.e. the <code>data-toggle</code></p>
                            <!-- Accordion indicator type - Arrow circle -->
                            <div id="accordionArrowCircle" class="accordion">
                                <div class="card">
                                    <a class="card-header h6 mb-0 arrow-circle" data-toggle="collapse" href="#collapseOneArrowCircle" aria-expanded="true" role="button" aria-controls="collapseOneArrowCircle"
                                       id="headingOneArrowCircle">
                                        Documentation
                                    </a>
                                    <div id="collapseOneArrowCircle" class="collapse show" aria-labelledby="headingOneArrowCircle" data-parent="#accordionArrowCircle">
                                        {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                    </div>
                                </div>
                                <div class="card">
                                    <a class="h6 collapsed card-header mb-0 arrow-circle" data-toggle="collapse" href="#collapseTwoArrowCircle" aria-expanded="false" role="button" aria-controls="collapseTwoArrowCircle"
                                       id="headingTwoArrowCircle">
                                        Events & Task Management
                                    </a>
                                    <div id="collapseTwoArrowCircle" class="collapse" aria-labelledby="headingTwoArrowCircle" data-parent="#accordionArrowCircle">
                                        {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                    </div>
                                </div>
                                <div class="card">
                                    <a class="h6 collapsed card-header mb-0 arrow-circle" data-toggle="collapse" href="#collapseThreeArrowCircle" aria-expanded="false" role="button" aria-controls="collapseThreeArrowCircle"
                                       id="headingThreeArrowCircle">
                                        Invoicing & Financial
                                    </a>
                                    <div id="collapseThreeArrowCircle" class="collapse" aria-labelledby="headingThreeArrowCircle" data-parent="#accordionArrowCircle">
                                        {{#card_body}}<p class="card-text">{{{placeholder-lorem-md}}}</p>{{/card_body}}
                                    </div>
                                </div>
                            </div>
                            <!-- /Accordion indicator type - Arrow circle -->
                        </div>
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>

