---
title: "Content wizard"
lead: Component which allows you to easily create wizard-like interfaces.
components: true

js_vendors:
- jquery-steps/build/jquery.steps
- jquery-validation/dist/jquery.validate

css_vendors_extended:
- jquery.steps

js_vendors_extended:
- jquery.steps
- jquery.validate
---

{{!-- TODO https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/documentation/documentation-form-wizard.html--}}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Tab wizard'}}}
                {{#card_body}}
                    <!-- Tab wizard -->
                    <div id="tab-wizard">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>
                    <!-- /Tab wizard -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Arrow wizard'}}}
                {{#card_body}}
                    <!-- Arrow wizard -->
                    <div id="arrow-wizard">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>
                    <!-- /Arrow wizard -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Arrow vertical wizard'}}}
                {{#card_body}}
                    <!-- Arrow vertical wizard -->
                    <div id="arrow-wizard-vertical">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>
                    <!-- /Arrow vertical wizard -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Pills wizard'}}}
                {{#card_body}}
                    <!-- Pills wizard -->
                    <div id="pills-wizard">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>
                    <!-- /Pills wizard -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Pills vertical wizard'}}}
                {{#card_body}}
                    <!-- Pills vertical wizard -->
                    <div id="pills-wizard-vertical">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>
                    <!-- /Pills vertical wizard -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Circle wizard with icons'}}}
                {{#card_body}}
                    <!-- Circle wizard with icons -->
                    <div id="circle-wizard">
                        <!-- Home -->
                        <h3><i class="icon-home step-icon"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil step-icon"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup step-icon"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user step-icon"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>
                    <!-- /Circle wizard with icons -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Circle wizard with vertical navigation'}}}
                {{#card_body}}
                    <!-- Circle wizard with vertical navigation -->
                    <div id="circle-wizard-vertical">
                        <!-- Home -->
                        <h3><i class="icon-home step-icon"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil step-icon"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup step-icon"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user step-icon"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>
                    <!-- /Circle wizard with vertical navigation -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>