---
title: <%= page.dropdowns.title %>
lead: <%= page.dropdowns.lead %>
components: true
posted: 2017-12-23
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Themed - Extended Dropdown'}}}
                {{#card_body}}
                    <!-- Themed - Extended Dropdown -->
                    <p>Create themed - extended dropdown, by adding <code>.themed.extended</code> to <code>.dropdown-menu</code>.</p>
                    <div class="row">
                        <div class="col-md example">
                            <p>Dropdown with badges and icons on left side.</p>
                            {{#dropdown_menu_has 'themed extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items dropdown.items}}
                                    <a class="{{class}}" href="{{url}}"><i class="{{class_i}} mr-2"></i>{{text}}<span
                                            class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>{{/dropdown_items}}
                                {{{dropdown_divider}}}
                                {{#dropdown_items dropdown.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                        <div class="col-md example">
                            <p>Dropdown with icons on right side.</p>
                            {{#dropdown_menu_has 'themed extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items dropdown.items}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                                {{{dropdown_divider}}}
                                {{#dropdown_items dropdown.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    </div>
                    <!-- /Themed - Extended Dropdown -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Extended Dropdown'}}}
                {{#card_body}}
                    <!-- Extended Dropdown -->
                    <p>Create extended dropdown, by adding <code>.extended</code> to .dropdown-menu.</p>
                    <div class="row">
                        <div class="col-md example">
                            <p>Dropdown with badges and icons on left side.</p>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items dropdown.items}}
                                    <a class="{{class}}" href="{{url}}"><i class="{{class_i}}  mr-2"></i>{{text}}<span
                                            class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>{{/dropdown_items}}
                                {{{dropdown_divider}}}
                                {{#dropdown_items dropdown.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                        <div class="col-md example">
                            <p>Dropdown with icons on right side.</p>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items dropdown.items}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                                {{{dropdown_divider}}}
                                {{#dropdown_items dropdown.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    </div>
                    <!-- /Extended Dropdown -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Dropdown with active and disabled menu'}}}
                {{#card_body}}
                    <p>Add <code>.active</code> to items in the dropdown to style them as active. Add <code>.disabled</code> to items in the dropdown to style them as
                        disabled.</p>
                    <!-- Dropdown with active and disabled menu -->
                    <div class="row">
                        <div class="col-md example">
                            {{#dropdown_menu_has 'themed extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items dropdown.items}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                                {{#dropdown_items dropdown.item_active_disabled}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                                {{{dropdown_divider}}}
                                {{#dropdown_items dropdown.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                        <div class="col-md example">
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items dropdown.items}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                                {{#dropdown_items dropdown.item_active_disabled}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                                {{{dropdown_divider}}}
                                {{#dropdown_items dropdown.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    </div>
                    <!-- /Dropdown with active and disabled menu -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Dropdown with submenu'}}}
                {{#card_body}}
                    <p>Click on 'submenu' link to see what happens.</p>
                    <!-- Dropdown with submenu -->
                    <div class="row">
                        <div class="col-md example">
                            <!-- Drop-Right submenu -->
                            <p>Drop-Right submenu</p>
                            {{#dropdown_menu_has 'themed extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items dropdown.items}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#"><i class="fa fa-tasks"></i>Submenu</a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Second
                                            subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </li>
                                {{{dropdown_divider}}}
                                {{#dropdown_items dropdown.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                            <!-- /Drop-Right submenu -->
                        </div>
                        <div class="col-md example">
                            <!-- Drop-Left submenu -->
                            <p>Drop-Left submenu</p>
                            {{#dropdown_menu_has 'themed extended dropdown-menu-right'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items dropdown.items}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#"><i class="fa fa-tasks"></i>Submenu</a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Second
                                            subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </li>
                                {{{dropdown_divider}}}
                                {{#dropdown_items dropdown.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                            <!-- /Drop-Left submenu -->
                        </div>
                    </div>
                    <!-- /Dropdown with submenu -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 pr-xl-2">
            {{#card}}
                {{{card_header 'Dropdown with text'}}}
                {{#card_body}}
                    <!-- Dropdown with text -->
                    <p>Place any freeform text within a dropdown menu with text and use spacing utilities.</p>
                    <div class="example">
                        {{#dropdown_menu_has 'extended themed'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            <li><p class="px-2 py-2 mb-0 text-white">Some example text that's free-flowing within the dropdown menu.</p></li>
                            {{#dropdown_items dropdown.items}}
                                <a class="{{class}}" href="{{url}}"><i class="{{class_i}} mr-2"></i>{{text}}
                                    <span class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>
                            {{/dropdown_items}}
                            {{{dropdown_divider}}}
                            {{#dropdown_items dropdown.items_2}}
                                <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Dropdown with text -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-xl-3 px-xl-2">
            {{#card}}
                {{{card_header 'Dropdown with forms'}}}
                {{#card_body}}
                    <!-- Dropdown with forms -->
                    <div class="example">
                        {{#dropdown_menu_has 'extended themed'}}
                            <form class="px-3 py-3">
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail1" class="text-white">Email address</label>
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="exampleDropdownFormPassword1" class="text-white">Password</label>
                                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                    <label class="form-check-label text-white" for="dropdownCheck">
                                        Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">Sign in</button>
                            </form>
                            {{{dropdown_divider}}}
                            <a class="dropdown-item" href="#">New around here? Sign up</a>
                            <a class="dropdown-item" href="#">Forgot password?</a>
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Dropdown with forms -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-xl-3 px-xl-2">
            {{#card}}
                {{{card_header 'Default dropdown'}}}
                {{#card_body}}
                    <!-- Default dropdown -->
                    <div class="example">
                        {{#dropdown_menu_has ''}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{{dropdown_divider}}}
                            {{#dropdown_items dropdown.items_2}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Default dropdown -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-xl-3 pl-xl-2">
            {{#card}}
                {{{card_header 'Offset'}}}
                {{#card_body}}
                    <!-- Dropdown offset -->
                    <p>Use <code>data-offset</code> or <code>data-reference</code> to change the location of the dropdown. Click on the button to see the location .</p>
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" data-offset="30,20">Offset
                        </button>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{{dropdown_divider}}}
                            {{#dropdown_items dropdown.items_2}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Dropdown offset -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Themed - Extended Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Themed - Extended Button Dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#dropdown_menu_has 'themed extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Themed - Extended Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Extended Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Extended Button Dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Extended Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Raised Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Raised Button Dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-2">
                            <button type="button" class="{{class}} {{modifier}} btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Raised Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Rounded Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Rounded Button Dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}} btn-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Rounded Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Outline Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Outline Button Dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier_outline}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Outline Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Rounded Outline Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Rounded Outline Button Dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier_outline}} btn-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Rounded Outline Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'link Button Dropdowns'}}}
                {{#card_body}}
                    <!-- link Button Dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group">
                            <button type="button" class="{{class}} {{modifier}} btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /link Button Dropdowns -->

                    <!-- Dropdowns can be triggered from <a> element -->
                    <p class="mt-3">Dropdowns can be triggered from <code>&lt;a&gt;</code> element:</p>
                    <div class="dropdown">
                        <a class="text-primary dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Primary</a>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items  dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                        <a class="text-secondary dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Secondary</a>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items  dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                        <a class="text-success dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Success</a>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items  dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                        <a class="text-danger dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Danger</a>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items  dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                        <a class="text-warning dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Warning</a>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items  dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                        <a class="text-info dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</a>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items  dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                        <a class="text-light dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Light</a>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items  dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                        <a class="text-dark dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dark</a>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items  dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Dropdowns can be triggered from <a> element -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Split button dropdowns'}}}
                {{#card_body}}
                    <!-- Split button dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}}">{{text}}</button>
                            <button type="button" class="{{class}} {{modifier}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Split button dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Outline Split button dropdowns'}}}
                {{#card_body}}
                    <!-- Outline Split button dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier_outline}}">{{text}}</button>
                            <button type="button" class="{{class}} {{modifier_outline}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Outline Split button dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Icon Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Icon Button Dropdowns -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}} btn-icon has-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="{{class_i}}"></i>
                            </button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Icon Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Outline icon buttons'}}}
                {{#card_body}}
                    <!-- Outline icon buttons -->
                    {{#btn_list button.btn}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier_outline}} btn-icon has-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="{{class_i}}"></i>
                            </button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                    {{/btn_list}}
                    <!-- /Outline icon buttons -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Button sizes'}}}
                {{#card_body}}
                    <!-- Button Sizes -->
                    <p>Button dropdowns work with buttons of all sizes, including default, rounded, outlined and split dropdown buttons.</p>
                    <div class="row">
                        <div class="col">
                            {{#btn_list button.btn_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-primary {{size}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{text}}</button>
                                    {{#dropdown_menu_has 'extended'}}
                                        {{{dropdown_header 'Dropdown header'}}}
                                        {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                                    {{/dropdown_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btn_list}}
                        </div>
                        <div class="col">
                            {{#btn_list button.btn_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-primary {{size}}">{{text_split_button}}</button>
                                    <button type="button" class="{{class}} btn-primary {{size}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    {{#dropdown_menu_has 'extended'}}
                                        {{{dropdown_header 'Dropdown header'}}}
                                        {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                                    {{/dropdown_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btn_list}}
                        </div>
                        <div class="col">
                            {{#btn_list button.btn_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-primary btn-round {{size}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{text}}</button>
                                    {{#dropdown_menu_has 'extended'}}
                                        {{{dropdown_header 'Dropdown header'}}}
                                        {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                                    {{/dropdown_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btn_list}}
                        </div>
                        <div class="col">
                            {{#btn_list button.btn_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-primary btn-icon {{size}} has-dropdown dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i class="icon-heart"></i></button>
                                    {{#dropdown_menu_has 'extended'}}
                                        {{{dropdown_header 'Dropdown header'}}}
                                        {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                                    {{/dropdown_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btn_list}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{#btn_list button.btn_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-outline-primary {{size}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{text}}</button>
                                    {{#dropdown_menu_has 'extended'}}
                                        {{{dropdown_header 'Dropdown header'}}}
                                        {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                                    {{/dropdown_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btn_list}}
                        </div>
                        <div class="col">
                            {{#btn_list button.btn_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-outline-primary {{size}}">Large split button</button>
                                    <button type="button" class="{{class}} btn-outline-primary {{size}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    {{#dropdown_menu_has 'extended'}}
                                        {{{dropdown_header 'Dropdown header'}}}
                                        {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                                    {{/dropdown_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btn_list}}
                        </div>
                        <div class="col">
                            {{#btn_list button.btn_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-outline-primary {{size}} btn-round dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        {{text}}
                                    </button>
                                    {{#dropdown_menu_has 'extended'}}
                                        {{{dropdown_header 'Dropdown header'}}}
                                        {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                                    {{/dropdown_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btn_list}}
                        </div>
                        <div class="col">
                            {{#btn_list button.btn_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-outline-primary {{size}} has-dropdown dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i class="icon-heart"></i>
                                    </button>
                                    {{#dropdown_menu_has 'extended'}}
                                        {{{dropdown_header 'Dropdown header'}}}
                                        {{#dropdown_items ../dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                                    {{/dropdown_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btn_list}}
                        </div>
                    </div>
                    <!-- /Button sizes -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-3 pr-xl-2">
            {{#card}}
                {{{card_header 'Dropup variation'}}}
                {{#card_body}}
                    <!-- Default dropup button -->
                    <p>Trigger dropdown menus above elements by adding <code>.dropup</code> to the parent element.</p>
                    <div class="btn-group dropup mb-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropup
                        </button>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Default dropup button -->
                    <!-- Split dropup button -->
                    <div class="btn-group dropup mb-1">
                        {{#btn "secondary"}}Split dropup{{/btn}}
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        {{#dropdown_menu_has 'extended themed'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Split dropup button -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-3 px-xl-2">
            {{#card}}
                {{{card_header 'Dropright variation'}}}
                {{#card_body}}
                    <p>Trigger dropdown menus at the right of the elements by adding <code>.dropright</code> to the parent element.</p>
                    <!-- Default dropright button -->
                    <div class="btn-group dropright mb-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropright
                        </button>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Default dropright button -->
                    <!-- Split dropright button -->
                    <div class="btn-group dropright mb-1">
                        {{#btn "secondary"}}Split dropright{{/btn}}
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropright</span>
                        </button>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Split dropright button -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-3 px-xl-2">
            {{#card}}
                {{{card_header 'Dropleft variation'}}}
                {{#card_body}}
                    <p>Trigger dropdown menus at the left of the elements by adding <code>.dropleft</code> to the parent element.</p>
                    <!-- Default dropleft button -->
                    <div class="btn-group dropleft mb-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropleft
                        </button>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Default dropleft button -->
                    <!-- Split dropleft button -->
                    <div class="btn-group mb-1">
                        <div class="btn-group dropleft" role="group">
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle Dropleft</span>
                            </button>
                            {{#dropdown_menu_has 'extended'}}
                                {{{dropdown_header 'Dropdown header'}}}
                                {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                            {{/dropdown_menu_has}}
                        </div>
                        {{#btn "secondary"}}Split dropleft{{/btn}}
                    </div>
                    <!-- /Split dropleft button -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-3 pl-xl-2">
            {{#card}}
                {{{card_header 'Menu alignment'}}}
                {{#card_body}}
                    <!-- Menu alignment -->
                    <p> Add <code>.dropdown-menu-right</code> to a <code>.dropdown-menu</code> to right align the dropdown menu.</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            This dropdown's menu is right-aligned
                        </button>
                        {{#dropdown_menu_has 'extended dropdown-menu-right'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <!-- /Menu alignment -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Disabled state dropdown button'}}}
                {{#card_body}}

                    <!-- Disabled state dropdown button -->
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                            Primary
                        </button>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                            Primary
                        </button>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-outline-success" disabled>Primary</button>
                        <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" disabled>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-danger btn-icon has-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" disabled>
                            <i class="icon-heart"></i>
                        </button>
                        {{#dropdown_menu_has 'extended'}}
                            {{{dropdown_header 'Dropdown header'}}}
                            {{#dropdown_items dropdown.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/dropdown_items}}
                        {{/dropdown_menu_has}}
                    </div>

                    <!-- /Disabled state dropdown button -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>