---
title: Dropdowns
lead: Variations for an extended range of possible combinations.
components: true

js_vendors:
- bootstrap-dropdown-hover/dist/jquery.bootstrap-dropdown-hover.min

js_vendors_extended:
- jquery.bootstrap-dropdown-hover
---

{{!--For dropdown, we make use of the handlebars helpers.
Saves us having to write out the bulletproof button HTML
See ../helpers/helpers-bootstrap.js for helpers and ../../data/components/dropdowns.json for JSON data.
OR you can type out the HTML if you prefer--}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Extended Dropdown'}}}
                {{#card_body}}
                    <!-- Extended Dropdown -->
                    <p>Create extended dropdown, by adding <code>.extended</code> to <code>.dropdown-menu</code>.
                        Optional arrow and left border style for dropdown links displayed on hover can be added with <code>.bordered</code> and <code>.has-arrow</code> to<code>.dropdown-menu</code>.</p>
                    <div class="row">
                        <div class="col-md example mb-3">
                            {{#ddw_menu_has 'extended bordered has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}
                                    <a class="{{class}}" href="{{url}}"><i class="{{class_i}} mr-2"></i>{{text}}
                                        <span class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>{{/ddw_items}}
                                {{{ddw_divider}}}
                                {{#ddw_items dropdowns.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                        <div class="col-md example mb-3">
                            {{#ddw_menu_has 'extended bordered has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                                {{{ddw_divider}}}
                                {{#ddw_items dropdowns.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    </div>
                    <!-- /Extended Dropdown -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Themed - Extended Dropdown'}}}
                {{#card_body}}
                    <!-- Themed - Extended Dropdown -->
                    <p>Create themed - extended dropdown, by adding <code>.themed.extended</code> to <code>.dropdown-menu</code>.</p>
                    <div class="row">
                        <div class="col-md example mb-3">
                            {{#ddw_menu_has 'themed extended bordered has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}
                                    <a class="{{class}}" href="{{url}}"><i class="{{class_i}} mr-2"></i>{{text}}<span
                                            class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>{{/ddw_items}}
                                {{{ddw_divider}}}
                                {{#ddw_items dropdowns.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                        <div class="col-md example mb-3">
                            {{#ddw_menu_has 'themed extended bordered has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                                {{{ddw_divider}}}
                                {{#ddw_items dropdowns.items_2}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    </div>
                    <!-- /Themed - Extended Dropdown -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Dropdown with active, disabled and non-interactive items'}}}
                {{#card_body}}
                    <p>Add <code>.active</code> to items in the dropdown to style them as active. Add <code>.disabled</code> to items in the dropdown to style them as
                        disabled.</p>
                    <!-- Dropdown with active and disabled menu -->
                    <div class="row">
                        <div class="col-md example mb-3">
                            {{#ddw_menu_has 'themed extended bordered has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items_active_disabled}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                                <li><span class="dropdown-item-text">I'm non-interactive item</span></li>
                            {{/ddw_menu_has}}
                        </div>
                        <div class="col-md example mb-3">
                            {{#ddw_menu_has 'extended bordered has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items_active_disabled}}
                                    <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                                <li><span class="dropdown-item-text">I'm non-interactive item</span></li>
                            {{/ddw_menu_has}}
                        </div>
                    </div>
                    <!-- /Dropdown with active and disabled menu -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Dropdown with submenu'}}}
                {{#card_body}}
                    <p>Click on 'submenu' link to see what happens.</p>
                    <!-- Dropdown with submenu -->
                    <div class="row">
                        <div class="col-md example mb-3">
                            <!-- Drop-Right submenu -->
                            <p>Drop-Right submenu</p>
                            {{#ddw_menu_has 'themed extended bordered has-arrow'}}
                                {{{ddw_header 'Menu direction'}}}
                                <li class="dropdown has-child show-right">
                                    <a class="dropdown-item dropdown-toggle" href="#"><i class="fa fa-tasks mr-2"></i>Right</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown has-child show-right">
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown has-child show-right"><a class="dropdown-item dropdown-toggle" href="#">Second
                                            subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </li>
                            {{/ddw_menu_has}}
                            <!-- /Drop-Right submenu -->
                        </div>
                        <div class="col-md example mb-3">
                            <!-- Drop-Left submenu -->
                            <p>Drop-Left submenu</p>
                            {{#ddw_menu_has 'themed extended bordered dropdown-menu-right has-arrow'}}
                                {{{ddw_header 'Menu direction'}}}
                                <li class="dropdown has-child show-left">
                                    <a class="dropdown-item dropdown-toggle" href="#">Left<i class="fa fa-tasks ml-auto"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown has-child show-left">
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown has-child show-left"><a class="dropdown-item dropdown-toggle" href="#">Second
                                            subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            {{/ddw_menu_has}}
                            <!-- /Drop-Left submenu -->
                        </div>
                    </div>
                    <!-- /Dropdown with submenu -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{#card}}
                {{{card_header 'Dropdown with text'}}}
                {{#card_body}}
                    <!-- Dropdown with text -->
                    <p>Place any freeform text within a dropdown menu with text and use spacing, sizing utilities.</p>
                    <div class="example">
                        {{#ddw_menu_has 'extended themed bordered has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            <li><p class="px-2 py-2 mb-0 text-white">Some example text that's free-flowing within the dropdown menu.</p></li>
                            {{#ddw_items dropdowns.items}}
                                <a class="{{class}}" href="{{url}}"><i class="{{class_i}} mr-2"></i>{{text}}
                                    <span class="{{class_badge_modifier}} ml-auto">{{badge_count}}</span></a>
                            {{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Dropdown with text -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12">
            {{#card}}
                {{{card_header 'Dropdown with forms'}}}
                {{#card_body}}
                    <!-- Dropdown with forms -->
                    <div class="example">
                        {{#ddw_menu_has 'extended themed bordered has-arrow'}}
                            <form class="px-3 py-3">
                                <div class="form-group mb-2">
                                    <label for="exampleDropdownFormEmail1" class="text-white">Email address</label>
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                </div>
                                <div class="form-group mb-2">
                                    <label for="exampleDropdownFormPassword1" class="text-white">Password</label>
                                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                    <label class="form-check-label text-white" for="dropdownCheck">
                                        Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">Sign in</button>
                            </form>
                            {{{ddw_divider}}}
                            <li><span class="dropdown-item-text">New around here?  <a href="#" class="text-primary">Sign up</a></span></li>
                            <li><a class="dropdown-item" href="#">Forgot password?</a></li>
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Dropdown with forms -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12">
            {{#card}}
                {{{card_header 'No optional classes'}}}
                {{#card_body}}
                    <p>Just remove the optional classes <code>.has-arrow</code> and <code>.bordered</code> from <code>.extended</code> to remove the arrows and border for dropdown links displayed on hover.</p>
                    <!-- No optional classes -->
                    <div class="example">
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}
                                <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                            {{#ddw_items dropdowns.items_active_disabled}}
                                <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                            {{{ddw_divider}}}
                            {{#ddw_items dropdowns.items_2}}
                                <a class="{{class}}" href="{{url}}">{{text}}<i class="{{class_i}} ml-auto"></i></a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /No optional classes -->
                {{/card_body}}
            {{/card}}

        </div>
        <div class="col-12">
            {{#card}}
                {{{card_header 'Default dropdown'}}}
                {{#card_body}}
                    <!-- Default dropdown -->
                    <div class="example">
                        {{#ddw_menu_has ''}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{{ddw_divider}}}
                            {{#ddw_items dropdowns.items_2}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Default dropdown -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-xl-4">
            {{#card}}
                {{{card_header 'Hide caret'}}}
                {{#card_body}}
                    <!-- Hide caret -->
                    <p>Add <code>.no-caret</code> to <code>.dropdown-toggle</code> element.</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle no-caret" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            No arrow
                        </button>
                        {{#ddw_menu_has 'extended has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Hide caret -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-4">
            {{#card}}
                {{{card_header 'Dropdown menu on hover'}}}
                {{#card_body}}
                    <p>Trigger dropdown menu on hover by adding <code>data-trigger="hover"</code> to the button.</p>
                    <!-- Dropdown menu on hover -->
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-trigger="hover">
                            Hover
                        </button>
                        {{#ddw_menu_has 'extended has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Dropdown menu on hover -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-4">
            {{#card}}
                {{{card_header 'Offset'}}}
                {{#card_body}}
                    <!-- Dropdown offset -->
                    <p>Use <code>data-offset</code> or <code>data-reference</code> to change the location of the dropdowns. Click on the button to see the location .</p>
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" data-offset="30,20">Offset
                        </button>
                        {{#ddw_menu_has 'extended has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{{ddw_divider}}}
                            {{#ddw_items dropdowns.items_2}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Dropdown offset -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-4">
            {{#card}}
                {{{card_header 'Dropup variation'}}}
                {{#card_body}}
                    <!-- Default dropup button -->
                    <p>Trigger dropdown menus above elements by adding <code>.dropup</code> to the parent element.</p>
                    <div class="btn-group dropup mb-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropup
                        </button>
                        {{#ddw_menu_has 'extended has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Default dropup button -->
                    <!-- Split dropup button -->
                    <div class="btn-group dropup mb-1">
                        {{#btn "secondary"}}Split dropup{{/btn}}
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        {{#ddw_menu_has 'extended themed has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Split dropup button -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-4">
            {{#card}}
                {{{card_header 'Dropright variation'}}}
                {{#card_body}}
                    <p>Trigger dropdown menus at the right of the elements by adding <code>.dropright</code> to the parent element.</p>
                    <!-- Default dropright button -->
                    <div class="btn-group dropright mb-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropright
                        </button>
                        {{#ddw_menu_has 'extended has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Default dropright button -->
                    <!-- Split dropright button -->
                    <div class="btn-group dropright mb-1">
                        {{#btn "secondary"}}Split dropright{{/btn}}
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropright</span>
                        </button>
                        {{#ddw_menu_has 'extended has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Split dropright button -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-4">
            {{#card}}
                {{{card_header 'Dropleft variation'}}}
                {{#card_body}}
                    <p>Trigger dropdown menus at the left of the elements by adding <code>.dropleft</code> to the parent element.</p>
                    <!-- Default dropleft button -->
                    <div class="btn-group dropleft mb-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropleft
                        </button>
                        {{#ddw_menu_has 'extended has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Default dropleft button -->
                    <!-- Split dropleft button -->
                    <div class="btn-group mb-1">
                        <div class="btn-group dropleft" role="group">
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle Dropleft</span>
                            </button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                        {{#btn "secondary"}}Split dropleft{{/btn}}
                    </div>
                    <!-- /Split dropleft button -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-4">
            {{#card}}
                {{{card_header 'Menu alignment'}}}
                {{#card_body}}
                    <!-- Menu alignment -->
                    <p> Add <code>.dropdown-menu-right</code> to a <code>.dropdown-menu</code> to right align the dropdown menu.</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            This dropdown's menu is right-aligned
                        </button>
                        {{#ddw_menu_has 'extended dropdown-menu-right has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Menu alignment -->
                {{/card_body}}
            {{/card}}
        </div>

        <div class="col-12 col-xl-4">
            {{#card}}
                {{{card_header 'Responsive right alignment'}}}
                {{#card_body}}
                    <!-- Responsive right alignment -->
                    <p>To align <strong>right</strong> the dropdown menu with the given breakpoint or larger, add <code>.dropdown-menu{-sm|-md|-lg|-xl}-right</code>.</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                            Left-aligned but right aligned when large screen
                        </button>
                        {{#ddw_menu_has 'extended dropdown-menu-lg-right has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Responsive right alignment -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-4">
            {{#card}}
                {{{card_header 'Responsive left alignment'}}}
                {{#card_body}}
                    <!-- Responsive left alignment -->
                    <p>To align <strong>left</strong> the dropdown menu with the given breakpoint or larger, add <code>.dropdown-menu-right</code> and <code>.dropdown-menu{-sm|-md|-lg|-xl}-left</code>.</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                            Right-aligned but left aligned when large screen
                        </button>
                        {{#ddw_menu_has 'extended dropdown-menu-right dropdown-menu-lg-left has-arrow'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Responsive left alignment -->
                {{/card_body}}
            {{/card}}
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Themed - Extended Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Themed - Extended Button Dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#ddw_menu_has 'themed extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Themed - Extended Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Extended Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Extended Button Dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Extended Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Raised Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Raised Button Dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-2">
                            <button type="button" class="{{class}} {{modifier}} btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Raised Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Rounded Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Rounded Button Dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}} btn-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Rounded Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Outline Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Outline Button Dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier_outline}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Outline Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Rounded Outline Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Rounded Outline Button Dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier_outline}} btn-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Rounded Outline Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'link Button Dropdowns'}}}
                {{#card_body}}
                    <!-- link Button Dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group">
                            <button type="button" class="{{class}} {{modifier}} btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{text}}</button>
                            {{#ddw_menu_has 'extended'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /link Button Dropdowns -->

                    <!-- Dropdowns can be triggered from <a> element -->
                    <p class="mt-3">Dropdowns can be triggered from <code>&lt;a&gt;</code> element:</p>
                    <div class="dropdown">
                        <a class="text-primary dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Primary</a>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items  dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                        <a class="text-secondary dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Secondary</a>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items  dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                        <a class="text-success dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Success</a>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items  dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                        <a class="text-danger dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Danger</a>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items  dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                        <a class="text-warning dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Warning</a>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items  dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                        <a class="text-info dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</a>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items  dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                        <a class="text-light dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Light</a>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items  dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                        <a class="text-dark dropdown-toggle mr-4 mb-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dark</a>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items  dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <!-- /Dropdowns can be triggered from <a> element -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Split button dropdowns'}}}
                {{#card_body}}
                    <!-- Split button dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}}">{{text}}</button>
                            <button type="button" class="{{class}} {{modifier}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Split button dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Outline Split button dropdowns'}}}
                {{#card_body}}
                    <!-- Outline Split button dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier_outline}}">{{text}}</button>
                            <button type="button" class="{{class}} {{modifier_outline}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Outline Split button dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Icon Button Dropdowns'}}}
                {{#card_body}}
                    <!-- Icon Button Dropdowns -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier}} btn-icon has-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="{{class_i}}"></i>
                            </button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Icon Button Dropdowns -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Outline icon buttons'}}}
                {{#card_body}}
                    <!-- Outline icon buttons -->
                    {{#btns buttons.list}}
                        <div class="btn-group mb-1">
                            <button type="button" class="{{class}} {{modifier_outline}} btn-icon has-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="{{class_i}}"></i>
                            </button>
                            {{#ddw_menu_has 'extended has-arrow'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </div>
                    {{/btns}}
                    <!-- /Outline icon buttons -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Button sizes'}}}
                {{#card_body}}
                    <!-- Button Sizes -->
                    <p>Button dropdowns work with buttons of all sizes, including default, rounded, outlined and split dropdown buttons.</p>
                    <div class="row">
                        <div class="col">
                            {{#btns buttons.list_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-primary {{size}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{text}}</button>
                                    {{#ddw_menu_has 'extended has-arrow'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-primary {{size}}">{{text_split_button}}</button>
                                    <button type="button" class="{{class}} btn-primary {{size}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    {{#ddw_menu_has 'extended has-arrow'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-primary btn-round {{size}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{text}}</button>
                                    {{#ddw_menu_has 'extended has-arrow'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-primary btn-icon {{size}} has-dropdown dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i class="icon-heart"></i></button>
                                    {{#ddw_menu_has 'extended has-arrow'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{#btns buttons.list_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-outline-primary {{size}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{text}}</button>
                                    {{#ddw_menu_has 'extended has-arrow'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-outline-primary {{size}}">Large split button</button>
                                    <button type="button" class="{{class}} btn-outline-primary {{size}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    {{#ddw_menu_has 'extended has-arrow'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-outline-primary {{size}} btn-round dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        {{text}}
                                    </button>
                                    {{#ddw_menu_has 'extended has-arrow'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                        <div class="col">
                            {{#btns buttons.list_size}}
                                <div class="btn-group">
                                    <button type="button" class="{{class}} btn-outline-primary {{size}} has-dropdown dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i class="icon-heart"></i>
                                    </button>
                                    {{#ddw_menu_has 'extended has-arrow'}}
                                        {{{ddw_header 'Dropdown header'}}}
                                        {{#ddw_items ../dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                                    {{/ddw_menu_has}}
                                </div>
                                {{{spacer-common}}}
                            {{/btns}}
                        </div>
                    </div>
                    <!-- /Button sizes -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Disabled state dropdown button'}}}
                {{#card_body}}

                    <!-- Disabled state dropdown button -->
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                            Primary
                        </button>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                            Primary
                        </button>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-outline-success" disabled>Primary</button>
                        <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" disabled>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>
                    <div class="btn-group mb-1">
                        <button type="button" class="btn btn-danger btn-icon has-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" disabled>
                            <i class="icon-heart"></i>
                        </button>
                        {{#ddw_menu_has 'extended'}}
                            {{{ddw_header 'Dropdown header'}}}
                            {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                        {{/ddw_menu_has}}
                    </div>

                    <!-- /Disabled state dropdown button -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>
