---
title: List group
lead: List groups are a flexible and powerful component for displaying a series of content. Modify and extend them to support just about any content within.
components: true
---
http://farhadi.ir/projects/html5sortable
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Basic list groups'}}}
                {{#card_body}}
                    <p>The most basic list group is an unordered list with list items and the proper classes. Build upon it with the options that follow, or with your own
                        CSS as needed.
                    </p>
                    <!-- Basic list groups -->
                    {{#list-group ''}}
                        {{#each list-group.list_item}}
                            {{#list-group-item ''}}{{text}}{{/list-group-item}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Basic list groups -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Active state'}}}
                {{#card_body}}
                    <p>Add <code>.active</code> to a <code>.list-group-item</code> to indicate the current active selection.</p>
                    <!-- Active state -->
                    {{#list-group ''}}
                        {{#each list-group.list_item}}
                            {{#if @first}}
                                {{#list-group-item 'active'}}{{text}}{{/list-group-item}}
                            {{else}}
                                {{#list-group-item ''}}{{text}}{{/list-group-item}}
                            {{/if}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Active state -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Disabled items'}}}
                {{#card_body}}
                    <p>Add <code>.disabled</code> to a <code>.list-group-item</code> to make it appear disabled.</p>
                    <!-- Disabled items -->
                    {{#list-group ''}}
                        {{#each (limit list-group.list_item 3)}}
                            {{#if @first}}
                                {{#list-group-item 'disabled'}}{{text}}{{/list-group-item}}
                            {{else}}
                                {{#list-group-item ''}}{{text}}{{/list-group-item}}
                            {{/if}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Disabled items -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Flush / Remove Borders'}}}
                {{#card_body}}
                    <p>Add <code>.list-group-flush</code> to remove some borders and rounded corners to render list group items edge-to-edge in a parent container (e.g., cards).
                    </p>
                    <!-- Flush / Remove Borders -->
                    {{#list-group 'list-group-flush'}}
                        {{#each list-group.list_item}}
                            {{#list-group-item ''}}{{text}}{{/list-group-item}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Flush / Remove Borders -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Horizontal variation'}}}
                {{#card_body}}
                    <p>Add <code>.list-group-horizontal</code> to change the layout of list group items from vertical to horizontal across all breakpoints.
                        Alternatively, choose a responsive variant <code>.list-group-horizontal-{sm|md|lg|xl}</code> to make a list group horizontal starting at that breakpoint’s min-width. Currently horizontal list
                        groups cannot be combined with flush list groups.</p>

                    {{#each list-group.list_horizontal}}
                        {{{card_title text}}}
                        <!-- {{text}} -->
                        {{#list-group class}}
                            {{#each (limit ../list-group.list_item 3)}}
                                {{#list-group-item ''}}{{text}}{{/list-group-item}}
                            {{/each}}
                        {{/list-group}}
                        <!-- /{{text}} -->
                        {{#if @last}}{{else}}
                            <hr>{{/if}}
                    {{/each}}

                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Active state in horizontal variation'}}}
                {{#card_body}}
                    <!-- Active state in horizontal variation -->
                    {{#list-group 'list-group-horizontal'}}
                        {{#each (limit list-group.list_item 3)}}
                            {{#if @first}}
                                {{#list-group-item 'active'}}{{text}}{{/list-group-item}}
                            {{else}}
                                {{#list-group-item ''}}{{text}}{{/list-group-item}}
                            {{/if}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Active state in horizontal variation -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Animated'}}}
                {{#card_body}}
                    <p>Add <code>.animated</code> to <code>.list-group</code> to make items animated on hover.</p>
                    <!-- Animated -->
                    {{#list-group 'animated'}}
                        {{#each list-group.list_item}}
                            {{#list-group-item ''}}{{text}}{{/list-group-item}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Animated -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Separated'}}}
                {{#card_body}}
                    <p>Add <code>.separated</code> to the <code>.list-group</code> to make list items appear separated.
                        Use margin utilities like <code>.mb-2</code> for easy extra spacing.
                    </p>
                    <!-- Separated -->
                    {{#list-group 'separated'}}
                        {{#each list-group.list_item}}
                            {{#list-group-item ''}}{{text}}{{/list-group-item}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Separated -->
                {{/card_body}}
            {{/card}}

        </div>

    </div>

    <h4 class="mt-4">List group sizing</h4>
    <h6 class="mb-3">
        List group can have different sizes. Add <code>.list-group-xl</code> , <code>.list-group-lg</code> or <code>.list-group-sm</code> to <code>.list-group</code> class for additional sizes.
        For default size, list group markup doesn't require any additional sizing class.
    </h6>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            {{#card}}
                {{{card_header 'Small size'}}}
                {{#card_body}}
                    <!-- Small size list group -->
                    {{#list-group 'list-group-sm'}}
                        {{#each list-group.list_item}}
                            {{#list-group-item ''}}{{text}}{{/list-group-item}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Small size list group -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            {{#card}}
                {{{card_header 'Default size'}}}
                {{#card_body}}
                    <!-- Default size list group -->
                    {{#list-group ''}}
                        {{#each list-group.list_item}}
                            {{#list-group-item ''}}{{text}}{{/list-group-item}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Default size list group -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            {{#card}}
                {{{card_header 'Large size'}}}
                {{#card_body}}
                    <!-- Large size list group -->
                    {{#list-group 'list-group-lg'}}
                        {{#each list-group.list_item}}
                            {{#list-group-item ''}}{{text}}{{/list-group-item}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Large size list group -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            {{#card}}
                {{{card_header 'Extra large size'}}}
                {{#card_body}}
                    <!-- Extra large size list group -->
                    {{#list-group 'list-group-xl'}}
                        {{#each list-group.list_item}}
                            {{#list-group-item ''}}{{text}}{{/list-group-item}}
                        {{/each}}
                    {{/list-group}}
                    <!-- /Extra large size list group -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <h4 class="mt-4">List group with linked items using anchors and buttons</h4>
    <h6 class="mb-3">
        Use <code>&lt;a&gt;</code>s or <code>&lt;button&gt;</code>s to create actionable list group items with hover, disabled, and active states by adding <code>.list-group-item-action</code>.
    </h6>

    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'With anchors'}}}
                {{#card_body}}
                    <!-- With anchors -->
                    <div class="list-group">
                        {{#each list-group.list_item}}
                            {{#if @first}}
                                <a href="#" class="{{class}} {{class_link}} active">{{text}}</a>
                            {{else}}
                                {{#if @last}}
                                    <a href="#" class="{{class}} {{class_link}} disabled">{{text}}</a>
                                {{else}}
                                    <a href="#" class="{{class}} {{class_link}}">{{text}}</a>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </div>
                    <!-- /With anchors -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'With buttons'}}}
                {{#card_body}}
                    <!-- With buttons -->
                    <div class="list-group">
                        {{#each list-group.list_item}}
                            {{#if @first}}
                                <button type="button" class="{{class}} {{class_link}} active">{{text}}</button>
                            {{else}}
                                {{#if @last}}
                                    <button type="button" class="{{class}} {{class_link}}" disabled>{{text}}</button>
                                {{else}}
                                    <button type="button" class="{{class}} {{class_link}}">{{text}}</button>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </div>
                    <!-- /With buttons -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <h4 class="mt-4">List group with icons</h4>
    <h6 class="mb-3">Left Icons and Right Icons need icon class before and after text of list group.</h6>
    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Left icons'}}}
                {{#card_body}}
                    <!-- Left icons -->
                    {{#list-group ''}}
                        {{#list-group-item 'd-flex align-items-center'}}<i class="icon-like mr-2"></i>{{list-group.list_item.1.text}}{{/list-group-item}}
                        {{#list-group-item 'd-flex align-items-center'}}<i class="icon-heart mr-2"></i>{{list-group.list_item.2.text}}{{/list-group-item}}
                        {{#list-group-item 'd-flex align-items-center'}}<i class="icon-bubbles mr-2"></i>{{list-group.list_item.3.text}}{{/list-group-item}}
                    {{/list-group}}
                    <!-- /Left icons -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Right icons'}}}
                {{#card_body}}
                    <!-- Right icons -->
                    {{#list-group ''}}
                        {{#list-group-item 'd-flex justify-content-between align-items-center'}}{{list-group.list_item.1.text}}<i class="icon-like"></i>{{/list-group-item}}
                        {{#list-group-item 'd-flex justify-content-between align-items-center'}}{{list-group.list_item.2.text}}<i class="icon-heart"></i>{{/list-group-item}}
                        {{#list-group-item 'd-flex justify-content-between align-items-center'}}{{list-group.list_item.3.text}}<i class="icon-bubbles"></i>{{/list-group-item}}
                    {{/list-group}}
                    <!-- /Right icons -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <h4 class="mt-4">List group with badges</h4>
    <h6 class="mb-3">Add badges to any list group item to show unread counts, activity, and more with the help of some utilities.</h6>
    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Left badges'}}}
                {{#card_body}}
                    <!-- Left badges-->
                    {{#list-group ''}}
                        {{#list-group-item 'd-flex align-items-center'}}
                            <span class="badge badge-primary badge-circle mr-2">14</span>
                            {{list-group.list_item.1.text}}
                        {{/list-group-item}}
                        {{#list-group-item 'd-flex align-items-center'}}
                            <span class="badge badge-primary badge-circle mr-2">2</span>
                            {{list-group.list_item.2.text}}
                        {{/list-group-item}}
                        {{#list-group-item 'd-flex align-items-center'}}
                            <span class="badge badge-primary badge-circle mr-2">1</span>
                            {{list-group.list_item.3.text}}
                        {{/list-group-item}}
                    {{/list-group}}
                    <!-- /Left badges-->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Right badges'}}}
                {{#card_body}}
                    <!-- Right badges-->
                    {{#list-group ''}}
                        {{#list-group-item 'd-flex justify-content-between align-items-center'}}
                            {{list-group.list_item.1.text}}
                            {{#badge 'badge-success' 'pointed arrow-left' }}NEW{{/badge}}
                        {{/list-group-item}}
                        {{#list-group-item 'd-flex justify-content-between align-items-center'}}
                            {{list-group.list_item.2.text}}
                            {{#badge 'badge-primary' 'badge-circle' }}2{{/badge}}
                        {{/list-group-item}}
                        {{#list-group-item 'd-flex justify-content-between align-items-center'}}
                            {{list-group.list_item.3.text}}
                            {{#badge 'badge-primary' 'badge-circle' }}1{{/badge}}
                        {{/list-group-item}}
                    {{/list-group}}
                    <!-- /Right badges-->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <h4 class="mt-4">List group themes</h4>
    <h6 class="mb-3">Use contextual classes to style list items with a stateful background and color.
        The classes for coloring list-items are:
        {{#each variations.list}}{{#if @last}}and {{/if}}<code>.list-group-item-{{class}}</code>{{#if @last}}{{else}}, {{/if}}{{/each}}
    </h6>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            {{#card}}
                {{{card_header 'Contextual classes'}}}
                {{#card_body}}
                    <!-- Contextual classes -->
                    {{#list-group ''}}
                        {{#list-group-item ''}}{{list-group.list_item.1.text}}{{/list-group-item}}
                        {{#each variations.list}}
                            <li class="list-group-item list-group-item-{{class}}">This is a {{class}} list group item</li>
                        {{/each}}
                    {{/list-group}}
                    <!-- /Contextual classes -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-lg-6 col-md-12">
            {{#card}}
                {{{card_header 'Contextual classes with solid background'}}}
                {{#card_body}}
                    <p>To use solid background, add background utility classes such as <code>.bg-*</code> to the <code>.list-group-item</code>.</p>
                    <!-- Contextual classes with solid background -->
                    {{#list-group ''}}
                        {{#each variations.list}}
                            <li class="list-group-item bg-{{class}}">This is a {{class}} list group item</li>
                        {{/each}}
                    {{/list-group}}
                    <!-- /Contextual classes with solid background -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            {{#card}}
                {{{card_header 'Link items with contextual classes'}}}
                {{#card_body}}
                    <!-- Link items with contextual classes -->
                    <div class="list-group">
                        {{#list-group-item-action 'd-flex align-items-center'}}
                            <i class="icon-envelope mr-2"></i>Inbox
                            {{#badge 'badge-success' 'badge-circle ml-auto' }}121{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex align-items-center list-group-item-primary'}}
                            <i class="icon-eye mr-2"></i>Profile visits
                            {{#badge 'badge-primary' 'badge-circle ml-auto' }}5043{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex align-items-center list-group-item-secondary'}}
                            <i class="icon-phone mr-2"></i>Call
                            {{#badge 'badge-secondary' 'badge-circle ml-auto' }}11{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex align-items-center list-group-item-success'}}
                            <i class="icon-bubbles mr-2"></i>Messages
                            {{#badge 'badge-success' 'badge-circle ml-auto' }}20{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex align-items-center list-group-item-danger'}}
                            <i class="icon-star mr-2"></i>Bookmarks
                            {{#badge 'badge-danger' 'badge-circle ml-auto' }}7{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex align-items-center list-group-item-warning'}}
                            <i class="icon-bell mr-2"></i>Notifications
                            {{#badge 'badge-warning' 'badge-circle ml-auto' }}30{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex align-items-center list-group-item-info'}}
                            <i class="icon-clock mr-2"></i>Watch
                            {{#badge 'badge-info' 'badge-circle ml-auto' }}15{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex align-items-center list-group-item-light'}}
                            <i class="icon-user mr-2"></i>New users
                            {{#badge 'badge-light' 'badge-circle ml-auto' }}20{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex align-items-center list-group-item-dark'}}
                            <i class="icon-screen-desktop mr-2"></i>Tasks
                            {{#badge 'badge-dark' 'badge-circle ml-auto' }}5{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}
                    </div>
                    <!-- /Link items with contextual classes -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-lg-6 col-md-12">
            {{#card}}
                {{{card_header 'Link items with solid background'}}}
                {{#card_body}}
                    <!-- Link items with solid background -->
                    <div class="list-group">

                        {{#list-group-item-action 'd-flex align-items-center bg-dark'}}
                            <i class="icon-envelope mr-2"></i>Inbox
                            {{#badge 'badge-success' 'badge-circle ml-auto' }}121{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}
                        {{#list-group-item-action 'd-flex align-items-center bg-dark'}}
                            <i class="icon-eye mr-2"></i>Profile visits
                            {{#badge 'badge-primary' 'badge-circle ml-auto' }}5043{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}
                        {{#list-group-item-action 'd-flex align-items-center bg-dark'}}
                            <i class="icon-phone mr-2"></i>Call
                            {{#badge 'badge-secondary' 'badge-circle ml-auto' }}11{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}
                        {{#list-group-item-action 'd-flex align-items-center bg-dark'}}
                            <i class="icon-bubbles mr-2"></i>Messages
                            {{#badge 'badge-success' 'badge-circle ml-auto' }}20{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}
                        {{#list-group-item-action 'd-flex align-items-center bg-dark'}}
                            <i class="icon-star mr-2"></i>Bookmarks
                            {{#badge 'badge-danger' 'badge-circle ml-auto' }}7{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}
                        {{#list-group-item-action 'd-flex align-items-center bg-dark'}}
                            <i class="icon-bell mr-2"></i>Notifications
                            {{#badge 'badge-warning' 'badge-circle ml-auto' }}30{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}
                        {{#list-group-item-action 'd-flex align-items-center bg-dark'}}
                            <i class="icon-clock mr-2"></i>Watch
                            {{#badge 'badge-info' 'badge-circle ml-auto' }}15{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}
                        {{#list-group-item-action 'd-flex align-items-center bg-dark'}}
                            <i class="icon-user mr-2"></i>New users
                            {{#badge 'badge-light' 'badge-circle ml-auto' }}20{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}
                        {{#list-group-item-action 'd-flex align-items-center bg-dark'}}
                            <i class="icon-screen-desktop mr-2"></i>Tasks
                            {{#badge 'badge-dark' 'badge-circle ml-auto' }}5{{/badge}}
                            <i class="fas fa-chevron-right text-muted ml-2"></i>
                        {{/list-group-item-action}}

                    </div>
                    <!-- /Link items with solid background -->
                {{/card_body}}
            {{/card}}

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{#card}}
                {{{card_header 'Link items with active state'}}}
                {{#card_body}}
                    <p>Add <code>.active</code> to a <code>.list-group-item</code> to indicate the current active selection.</p>
                    <!-- Link items with active state -->
                    <div class="list-group">
                        {{#each  (limit list-group.list_item 3)}}
                            {{#if @first}}
                                <a href="#" class="{{class}} {{class_link}} list-group-item-primary active">{{text}}</a>
                            {{else}}
                                <a href="#" class="{{class}} {{class_link}} list-group-item-primary">{{text}}</a>
                            {{/if}}
                        {{/each}}
                    </div>
                    <!-- /Link items with active state -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <h4 class="mt-4">Custom content</h4>
    <h6 class="mb-3">Add nearly any HTML within, even for linked list groups like the one below, with the help of flexbox utilities.</h6>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'List group with HTML content'}}}
                {{#card_body}}
                    <!-- List group with HTML content -->
                    <div class="list-group">
                        {{#list-group-item-action 'active'}}
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-white">List group item heading</h5>
                                <small class="text-white">3 days ago</small>
                            </div>
                            <p class="mb-1 text-white">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-white">Donec id elit non mi porta.</small>
                        {{/list-group-item-action}}
                        {{#list-group-item-action ''}}
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        {{/list-group-item-action}}
                        {{#list-group-item-action ''}}
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        {{/list-group-item-action}}
                    </div>
                    <!-- /List group with HTML content -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'HTML content with images example'}}}
                {{#card_body}}
                    <!-- HTML content with images example -->
                    {{#list-group 'list-group-xl'}}

                        {{#list-group-item 'bg-light'}}
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon3">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </div>
                            </div>
                        {{/list-group-item}}

                        {{#list-group-item 'list-group-item-primary d-flex align-items-center'}}
                            <img class="rounded-circle img-64" src="https://source.unsplash.com/vTL_qy03D1I/100x100" alt="Card image">
                            <div class="px-3">
                                <a href="#" class="h5">María Victoria</a><br>
                                <small class="text-muted">Last seen watching <a href="#">Arrested Development</a> just now.</small>
                                <p class="m-0 small text-muted">Area of expertise:
                                    <span class="badge badge-primary">Love</span>
                                    <span class="badge badge-primary">Magic</span>
                                    <span class="badge badge-primary">Alchemy</span>
                                </p>
                            </div>
                            {{#badge 'badge-primary' 'badge-circle empty p-1 ml-auto' }}{{/badge}}
                        {{/list-group-item}}

                        {{#list-group-item 'd-flex align-items-center'}}
                            <img class="rounded-circle img-64" src="https://source.unsplash.com/tNCH0sKSZbA/100x100" alt="Card image">
                            <div class="px-3">
                                <a href="#" class="h5">Kristy</a><br>
                                <small class="text-muted">Last seen watching <a href="#">Bob's Burgers</a> 10 hours ago.</small>
                                <p class="m-0 small text-muted">Area of expertise:
                                    <span class="badge badge-light">Beads</span>
                                    <span class="badge badge-light">Buddha</span>
                                    <span class="badge badge-light">Reiki</span>
                                    <span class="badge badge-light">Crystals</span>
                                </p>
                            </div>
                            {{#badge 'badge-danger' 'badge-circle empty p-1 ml-auto' }}{{/badge}}
                        {{/list-group-item}}

                        {{#list-group-item 'd-flex align-items-center'}}
                            <img class="rounded-circle img-64" src="https://source.unsplash.com/Y_2vh9QyY-g/100x100" alt="Card image">
                            <div class="px-3">
                                <a href="#" class="h5">Matthew Hamilton</a><br>
                                <small class="text-muted">Last seen watching <a href="#">The Godfather Part 2</a> yesterday.</small>
                                <p class="m-0 small text-muted">Area of expertise:
                                    <span class="badge badge-light">Photography</span>
                                    <span class="badge badge-light">Cameras</span>
                                    <span class="badge badge-light">Netflix</span>
                                </p>
                            </div>
                            {{#badge 'badge-warning' 'badge-circle empty p-1 ml-auto' }}{{/badge}}
                        {{/list-group-item}}

                        {{#list-group-item 'd-flex align-items-center'}}
                            <img class="rounded-circle img-64" src="https://source.unsplash.com/6anudmpILw4/100x100" alt="Card image">
                            <div class="px-3">
                                <a href="#" class="h5">Christopher Campbell</a><br>
                                <small class="text-muted">Last seen watching <a href="#">Twin Peaks</a> 3 days ago.</small>
                                <p class="m-0 small text-muted">Area of expertise:
                                    <span class="badge badge-light">Beatles Songs</span>
                                    <span class="badge badge-light">Baseball</span>
                                    <span class="badge badge-light">Dancing to "Happy"</span>
                                </p>
                            </div>
                            {{#badge 'badge-danger' 'badge-circle empty p-1 ml-auto' }}{{/badge}}
                        {{/list-group-item}}

                    {{/list-group}}
                    <!-- /HTML content with images example -->

                    <hr>
                    {{{card_title 'Horizontal variation with equal-width'}}}
                    <!-- HTML content with images - horizontal variation -->
                    {{#list-group 'list-group-horizontal'}}

                        {{#list-group-item 'd-flex flex-fill'}}
                            <img class="rounded-circle align-self-center img-64" src="https://source.unsplash.com/vTL_qy03D1I/100x100" alt="Card image">
                            <div class="px-3 align-self-center">
                                <a href="#" class="h5">María Victoria</a><br>
                                <small class="text-muted">Last seen watching <a href="#">Arrested Development</a> just now.</small>
                            </div>
                        {{/list-group-item}}

                        {{#list-group-item 'd-flex flex-fill'}}
                            <img class="rounded-circle align-self-center img-64" src="https://source.unsplash.com/tNCH0sKSZbA/100x100" alt="Card image">
                            <div class="px-3 align-self-center">
                                <a href="#" class="h5">Kristy</a><br>
                                <small class="text-muted">Last seen watching <a href="#">Bob's Burgers</a> 10 hours ago.</small>
                            </div>
                        {{/list-group-item}}

                        {{#list-group-item 'd-flex flex-fill'}}
                            <img class="rounded-circle align-self-center img-64" src="https://source.unsplash.com/Y_2vh9QyY-g/100x100" alt="Card image">
                            <div class="px-3 align-self-center">
                                <a href="#" class="h5">Matthew Hamilton</a><br>
                                <small class="text-muted">Last seen watching <a href="#">The Godfather Part 2</a> yesterday.</small>
                            </div>
                        {{/list-group-item}}

                    {{/list-group}}
                    <!-- /HTML content with images - horizontal variation -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'HTML content with images example'}}}
                {{#card_body}}
                    <!-- HTML content with images -->
                    <div class="list-group">

                        {{#list-group-item-action 'd-flex'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/vTL_qy03D1I/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">María Victoria</p>
                            </div>
                            {{#badge 'badge-info' 'ml-auto align-self-center' }}3 days ago{{/badge}}
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/tNCH0sKSZbA/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">Kristy</p>
                            </div>
                            {{#badge 'badge-info' 'ml-auto align-self-center' }}14h{{/badge}}
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/Y_2vh9QyY-g/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">Matthew Hamilton</p>
                            </div>
                            {{#badge 'badge-info' 'ml-auto align-self-center' }}2 days ago{{/badge}}
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/6anudmpILw4/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">Christopher Campbell</p>
                            </div>
                            {{#badge 'badge-info' 'ml-auto align-self-center' }}10h{{/badge}}
                        {{/list-group-item-action}}

                    </div>
                    <!-- /HTML content with images -->
                    <hr>
                    <!-- HTML content with images - horizontal variation -->
                    <div class="list-group list-group-horizontal">
                        {{#list-group-item-action 'd-flex'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/vTL_qy03D1I/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">María Victoria</p>
                            </div>
                            {{#badge 'badge-info' 'ml-auto align-self-center' }}3 days ago{{/badge}}
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/tNCH0sKSZbA/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">Kristy</p>
                            </div>
                            {{#badge 'badge-info' 'ml-auto align-self-center' }}14h{{/badge}}
                        {{/list-group-item-action}}
                    </div>
                    <!-- /HTML content with images - horizontal variation -->

                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Animated HTML content example'}}}
                {{#card_body}}
                    <p>Add <code>.animated</code> to <code>.list-group</code> to make items animated on hover.</p>
                    <!-- Animated HTML content example -->
                    <div class="list-group animated">
                        {{#list-group-item-action 'd-flex'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/vTL_qy03D1I/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">María Victoria</p>
                            </div>
                            {{#badge 'badge-success' 'ml-auto align-self-center' }}3 days ago{{/badge}}
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/tNCH0sKSZbA/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">Kristy</p>
                            </div>
                            {{#badge 'badge-danger' 'ml-auto align-self-center' }}14h{{/badge}}
                        {{/list-group-item-action}}

                        {{#list-group-item-action 'd-flex'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/Y_2vh9QyY-g/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">Matthew Hamilton</p>
                            </div>
                            {{#badge 'badge-success' 'ml-auto align-self-center' }}2 days ago{{/badge}}
                        {{/list-group-item-action}}
                    </div>
                    <!-- /Animated HTML content example -->
                    <hr>
                    <!-- Animated HTML content example - horizontal variation -->
                    <div class="list-group list-group-horizontal animated">
                        {{#list-group-item-action 'd-flex flex-fill'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/vTL_qy03D1I/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">María Victoria</p>
                            </div>
                            {{#badge 'badge-success' 'ml-auto align-self-center' }}3 days ago{{/badge}}
                        {{/list-group-item-action}}
                        {{#list-group-item-action 'd-flex flex-fill'}}
                            <img class="rounded-circle align-self-center img-32" src="https://source.unsplash.com/tNCH0sKSZbA/50x50" alt="Card image">
                            <div class="px-2 align-self-center">
                                <p class="h6 m-0">Kristy</p>
                            </div>
                            {{#badge 'badge-danger' 'ml-auto align-self-center' }}14h{{/badge}}
                        {{/list-group-item-action}}
                    </div>
                    <!-- /Animated HTML content example - horizontal variation -->

                {{/card_body}}
            {{/card}}
        </div>
    </div>

</div>
