---
title: "Modals"
lead: A modal displays content that temporarily blocks interactions with the main view of a site.
components: true
---


<!--TODO spacing good example https://www.codeply.com/go/kaWaobOUD8/bootstrap-4-spacing-utils-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Default modal'}}}
                <div class="card-body example bg-dark">
                    <!-- Default modal -->
                    {{#modal '''defaultModal' ''}}
                        {{{modalHeader 'Modal title'}}}
                        {{#modalContent}}
                            <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                        {{/modalContent}}
                        {{{modalFooter 'button' 'Save changes' 'primary'}}}
                    {{/modal}}
                    <!-- /Default modal -->
                </div>
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">

            {{#card}}
                {{{card_header 'Extended modal'}}}
                <div class="card-body example bg-dark">
                    <!-- Extended modal -->
                    {{#modal 'modal-primary''extendedModal' ''}}
                        {{{modalHeader 'Modal title'}}}
                        {{#modalContent}}
                            <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                        {{/modalContent}}
                        {{{modalFooter 'button' 'Save changes' 'primary'}}}
                    {{/modal}}
                    <!-- /Extended modal -->
                </div>
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Minimal modal'}}}
                <div class="card-body example bg-dark">
                    <!-- Extended modal -->
                    {{#modal 'minimal''minimalModal' ''}}
                        {{#modalContent}}
                            <h5 class="modal-title text-white">Archive Old Messages</h5>
                            <p class="card-text text-white">Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
                        {{/modalContent}}
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-outline-danger btn-sm has-icon-left" data-dismiss="modal"><i class="icon-close"></i>No</button>
                            <button type="button" class="btn btn-outline-success btn-sm has-icon-left"><i class="icon-check"></i>Yes</button>
                        </div>
                    {{/modal}}
                    <!-- /Extended modal -->
                </div>
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Modal themes'}}}
                {{#card_body}}
                    <div class="row mb-4">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            {{{card_title 'Standard modal'}}}
                            <p>Below is a standard modal example.</p>
                            <a href="#" class="btn btn-outline-primary btn-block" role="button" data-toggle="modal" data-target="#exampleModal">Launch standard modal</a>
                            <!-- Standard modal -->
                            {{#modal 'fade''exampleModal' ''}}
                                {{{modalHeader 'Modal title'}}}
                                {{#modalContent}}
                                    <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                                {{/modalContent}}
                                {{{modalFooter 'button' 'Save changes' 'primary'}}}
                            {{/modal}}
                            <!-- /Standard modal -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            {{{card_title 'Minimal modal'}}}
                            <p>A modal can reduce its complexity. To use minimal modal theme, add <code>.minimal</code> class to <code>.modal</code></p>
                            <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#minimalModal-eg2">Launch minimal modal
                            </button>
                            <!-- Minimal modal -->
                            {{#modal 'fade minimal''minimalModal-eg2' 'modal-dialog-centered'}}
                                {{#modalContent}}
                                    <h5 class="modal-title text-white">Archive Old Messages</h5>
                                    <p class="card-text text-white">Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
                                {{/modalContent}}
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-danger btn-sm has-icon-left" data-dismiss="modal"><i class="icon-close"></i>No</button>
                                    <button type="button" class="btn btn-success btn-sm has-icon-left"><i class="icon-check"></i>Yes</button>
                                </div>
                            {{/modal}}
                            <!-- /Minimal modal -->
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {{{card_title 'Primary modal'}}}
                            <p>To use primary modal theme, add <code>.modal-primary</code> class to the <code>.modal</code></p>
                            <a href="#" class="btn btn-primary btn-block" role="button" data-toggle="modal" data-target="#primaryModal">Launch primary modal</a>
                            <!-- Primary modal -->
                            {{#modal 'fade modal-primary''primaryModal' ''}}
                                {{{modalHeader 'Modal title'}}}
                                {{#modalContent}}
                                    <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                                {{/modalContent}}
                                {{{modalFooter 'button' 'Save changes' 'primary'}}}
                            {{/modal}}
                            <!-- /Primary modal -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {{{card_title 'Secondary modal'}}}
                            <p>To use secondary modal theme, add <code>.modal-secondary</code> class to the <code>.modal</code></p>
                            <a href="#" class="btn btn-secondary btn-block" role="button" data-toggle="modal" data-target="#secondaryModal">Launch secondary modal</a>
                            <!-- Secondary modal -->
                            {{#modal 'fade modal-secondary''secondaryModal' ''}}
                                {{{modalHeader 'Modal title'}}}
                                {{#modalContent}}
                                    <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                                {{/modalContent}}
                                {{{modalFooter 'button' 'Save changes' 'secondary'}}}
                            {{/modal}}
                            <!-- /Secondary modal -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {{{card_title 'Success modal'}}}
                            <p>To use success modal theme, add <code>.modal-success</code> class to the <code>.modal</code></p>
                            <a href="#" class="btn btn-success btn-block" role="button" data-toggle="modal" data-target="#successModal">Launch success modal</a>
                            <!-- Success modal -->
                            {{#modal 'fade modal-success''successModal' ''}}
                                {{{modalHeader 'Modal title'}}}
                                {{#modalContent}}
                                    <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                                {{/modalContent}}
                                {{{modalFooter 'button' 'Save changes' 'success'}}}
                            {{/modal}}
                            <!-- /Success modal -->
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {{{card_title 'Danger modal'}}}
                            <p>To use danger modal theme, add <code>.modal-danger</code> class to the <code>.modal</code></p>
                            <a href="#" class="btn btn-danger btn-block" role="button" data-toggle="modal" data-target="#dangerModal">Launch danger modal</a>
                            <!-- Danger modal -->
                            {{#modal 'fade modal-danger''dangerModal' ''}}
                                {{{modalHeader 'Modal title'}}}
                                {{#modalContent}}
                                    <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                                {{/modalContent}}
                                {{{modalFooter 'button' 'Save changes' 'danger'}}}
                            {{/modal}}
                            <!-- /Danger modal -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {{{card_title 'Warning modal'}}}
                            <p>To use warning modal theme, add <code>.modal-warning</code> class to the <code>.modal</code></p>
                            <a href="#" class="btn btn-warning btn-block" role="button" data-toggle="modal" data-target="#warningModal">Launch warning modal</a>
                            <!-- Warning modal -->
                            {{#modal 'fade modal-warning''warningModal' ''}}
                                {{{modalHeader 'Modal title'}}}
                                {{#modalContent}}
                                    <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                                {{/modalContent}}
                                {{{modalFooter 'button' 'Save changes' 'warning'}}}
                            {{/modal}}
                            <!-- /Warning modal -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {{{card_title 'Info modal'}}}
                            <p>To use info modal theme, add <code>.modal-info</code> class to the <code>.modal</code></p>
                            <a href="#" class="btn btn-info btn-block" role="button" data-toggle="modal" data-target="#infoModal">Launch info modal</a>
                            <!-- Info modal -->
                            {{#modal 'fade modal-info''infoModal' ''}}
                                {{{modalHeader 'Modal title'}}}
                                {{#modalContent}}
                                    <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                                {{/modalContent}}
                                {{{modalFooter 'button' 'Save changes' 'info'}}}
                            {{/modal}}
                            <!-- /Info modal -->
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {{{card_title 'Light modal'}}}
                            <p>To use light modal theme, add <code>.modal-light</code> class to the <code>.modal</code></p>
                            <a href="#" class="btn btn-light btn-block" role="button" data-toggle="modal" data-target="#lightModal">Launch light modal</a>
                            <!-- Light modal -->
                            {{#modal 'fade modal-light''lightModal' ''}}
                                {{{modalHeader 'Modal title'}}}
                                {{#modalContent}}
                                    <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                                {{/modalContent}}
                                {{{modalFooter 'button' 'Save changes' 'light'}}}
                            {{/modal}}
                            <!-- /Light modal -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {{{card_title 'Dark modal'}}}
                            <p>To use dark modal theme, add <code>.modal-dark</code> class to the <code>.modal</code></p>
                            <a href="#" class="btn btn-dark btn-block" role="button" data-toggle="modal" data-target="#darkModal">Launch dark modal</a>
                            <!-- Dark modal -->
                            {{#modal 'fade modal-dark''darkModal' ''}}
                                {{{modalHeader 'Modal title'}}}
                                {{#modalContent}}
                                    <p class="card-text">{{{placeholder-lorem-sht}}}</p>
                                {{/modalContent}}
                                {{{modalFooter 'button' 'Save changes' 'dark'}}}
                            {{/modal}}
                            <!-- /Dark modal -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12"></div>
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Vertically centered</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Default modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-eg13">
                        Launch vertically centered modal
                    </button>
                    <div class="modal fade" id="exampleModal-eg13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg13"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-primary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg13">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Sizes</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    {{!--<p>A modal can vary in size</p>--}}
                    <!-- Default modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-eg10">
                        Default modal
                    </button>
                    <div class="modal fade" id="exampleModal-eg10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg10"
                         aria-hidden="true">
                        <div class="modal-dialog modal-primary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg10">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Large modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal-eg11">
                        Large modal
                    </button>
                    <div class="modal fade" id="exampleModal-eg11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg11"
                         aria-hidden="true">
                        <div class="modal-dialog modal-secondary modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg11">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-secondary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Small modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal-eg12">
                        Small modal
                    </button>
                    <div class="modal fade" id="exampleModal-eg12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg12"
                         aria-hidden="true">
                        <div class="modal-dialog modal-success modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg12">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Options</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Backdrop disabled -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal-eg14">
                        Backdrop disabled
                    </button>
                    <div class="modal fade" id="exampleModal-eg14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg14"
                         aria-hidden="true" data-backdrop="false">
                        <div class="modal-dialog modal-dialog-centered modal-secondary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg14">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-secondary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Ignore backdrop click -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal-eg15">
                        Ignore backdrop click
                    </button>
                    <div class="modal fade" id="exampleModal-eg15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg15"
                         aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered modal-secondary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg15">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-secondary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Keyboard disabled -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal-eg16">
                        Keyboard disabled
                    </button>
                    <div class="modal fade" id="exampleModal-eg16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg16"
                         aria-hidden="true" data-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered modal-secondary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg16">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-secondary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>


</div>