---
title: "Modals"
lead: A modal displays content that temporarily blocks interactions with the main view of a site.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Standard modal'}}}
                {{#card_body_has 'example bg-dark'''}}
                    <!-- Default modal -->
                    {{#modal 'show' 'defaultModal' ''}}
                        {{{modal_header 'Modal title'}}}
                        {{#modal_body ''}}
                            <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                        {{/modal_body}}
                        {{{modal_footer 'button' 'Save changes' 'primary'}}}
                    {{/modal}}
                    <!-- /Default modal -->
                {{/card_body_has}}
            {{/card}}
        </div>
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Minimal modal'}}}
                {{#card_body_has 'example bg-dark'''}}
                    <!-- Minimal modal -->
                    {{#modal 'minimal show' 'minimalModal' ''}}
                        {{#modal_body ''}}
                            <h5 class="modal-title text-white">Delete Your Account</h5>
                            <p class="card-text text-white">Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
                        {{/modal_body}}
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-outline-danger btn-sm has-icon-left" data-dismiss="modal"><i class="icon-close"></i>No</button>
                            <button type="button" class="btn btn-outline-success btn-sm has-icon-left"><i class="icon-check"></i>Yes</button>
                        </div>
                    {{/modal}}
                    <!-- /Minimal modal -->
                {{/card_body_has}}
            {{/card}}
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            {{#card}}
                {{{card_header 'Extended modal'}}}
                {{#card_body_has 'example bg-dark'''}}
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Extended modal -->
                            {{#modal 'modal-primary show' 'extendedModal' ''}}
                                {{{modal_header 'Modal title'}}}
                                {{#modal_body ''}}
                                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                                {{/modal_body}}
                                {{{modal_footer 'button' 'Save changes' 'primary'}}}
                            {{/modal}}
                            <!-- /Extended modal -->
                        </div>
                        <div class="col-md-6">
                            <!-- Extended modal close button -->
                            {{#modal 'modal-primary show close--up' 'extendedModalCloseUp' ''}}
                                {{{modal_header 'Modal title'}}}
                                {{#modal_body ''}}
                                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                                {{/modal_body}}
                                {{{modal_footer 'button' 'Save changes' 'primary'}}}
                            {{/modal}}
                            <!-- /Extended modal close button -->
                        </div>
                    </div>
                {{/card_body_has}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Modal themes'}}}
                {{#card_body}}
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            {{{card_title 'Standard modal'}}}
                            <p>Below is a standard modal example.</p>
                            <!-- Standard modal -->
                            <a href="#" class="btn btn-outline-primary btn-block" role="button" data-toggle="modal" data-target="#exampleModal">Launch standard modal</a>
                            {{#modal '' 'exampleModal' ''}}
                                {{{modal_header 'Standard modal'}}}
                                {{#modal_body ''}}
                                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                                {{/modal_body}}
                                {{{modal_footer 'button' 'Save changes' 'primary'}}}
                            {{/modal}}
                            <!-- /Standard modal -->
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            {{{card_title 'Minimal modal'}}}
                            <p>A modal can reduce its complexity. To use minimal modal theme, add <code>.minimal</code> to <code>.modal</code>.
                                For more information please review HTML.
                            </p>
                            <!-- Minimal modal -->
                            <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#minimalModal-eg2">Launch minimal modal</button>
                            {{#modal 'minimal' 'minimalModal-eg2' 'modal-dialog-centered'}}
                                {{#modal_body ''}}
                                    <h5 class="modal-title text-white">Delete Your Account</h5>
                                    <p class="card-text text-white">Are you sure you want to delete your account</p>
                                {{/modal_body}}
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-success btn-sm has-icon-left"><i class="icon-check"></i>Yes</button>
                                </div>
                            {{/modal}}
                            <!-- /Minimal modal -->
                        </div>
                    </div>
                    <div class="row mb-4">
                        {{#each modal.list}}
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                {{{card_title title}}}
                                <p>Add <code>.{{modifier}}</code> to <code>.{{class}}</code></p>
                                <!-- {{title}} -->
                                <a href="#" class="btn btn-{{modifier_btn}} btn-block" role="button" data-toggle="modal" data-target="#{{data_target}}">Launch modal</a>
                                {{#modal modifier data_target ''}}
                                    {{{modal_header title}}}
                                    {{#modal_body ''}}
                                        <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                                    {{/modal_body}}
                                    {{{modal_footer 'button' 'Save changes' modifier_btn}}}
                                {{/modal}}
                                <!-- /{{title}} -->
                            </div>
                        {{/each}}
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Modal Alerts'}}}
                {{#card_body}}
                    <div class="row mb-4">
                        {{#each modal.list}}
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                {{{card_title title}}}
                                <p>Add <code>.{{modifier_soft}}</code> to <code>.{{class}}</code></p>
                                <!-- {{title}} -->
                                <a href="#" class="btn btn-soft-{{modifier_btn}} btn-block" role="button" data-toggle="modal" data-target="#{{data_target_soft}}">Launch modal</a>
                                {{#modal modifier_soft data_target_soft ''}}
                                    {{#modal_body 'text-center'}}
                                        <h3 class="modal-title">{{title_soft}}</h3>
                                        <ion-icon name="{{icon_name_ion}}" class="fs-50 my-3"></ion-icon>
                                        <p>{{{text_soft}}}</p>
                                    {{/modal_body}}
                                    {{{modal_footer_soft 'button' 'Save changes' modifier_btn}}}
                                {{/modal}}
                                <!-- /{{title}} -->
                            </div>
                        {{/each}}
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Modal sizes'}}}
                {{#card_body}}
                    <div class="row">
                        {{#each modal.list_size}}
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                {{{card_title title}}}
                                {{#ifEquals title "Default"}}
                                    <p>Our default modal without modifier class constitutes the “medium” size modal.</p>
                                {{else}}
                                    <p>Add class <code>.{{modifier}}</code> to <code>.modal-dialog</code></p>
                                {{/ifEquals}}
                                <!-- {{title}} modal size -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{data_target}}">{{title}} modal</button>
                                {{#modal 'modal-primary' data_target modifier}}
                                    {{{modal_header 'Modal title'}}}
                                    {{#modal_body ''}}
                                        <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                                    {{/modal_body}}
                                    {{{modal_footer 'button' 'Save changes' 'primary'}}}
                                {{/modal}}
                                <!-- /{{title}} modal size -->
                            </div>
                        {{/each}}
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Close button position'}}}
                {{#card_body}}
                    <div class="row">
                        <div class="col-12">
                            <p>To change the close button position to outside of the dialog, just add class <code>.close--up</code> to <code>.modal</code>.</p>
                            <!-- Standard modal -->
                            <a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#exampleModalCloseUp">Launch modal</a>
                            {{#modal 'close--up' 'exampleModalCloseUp' ''}}
                                {{{modal_header 'Standard modal'}}}
                                {{#modal_body ''}}
                                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                                {{/modal_body}}
                                {{{modal_footer 'button' 'Save changes' 'primary'}}}
                            {{/modal}}
                            <!-- /Standard modal -->
                        </div>
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Animated modals'}}}
                {{#card_body}}
                    <div class="row">
                        {{#each modal.list_animation}}
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                <!-- {{text}} animation -->
                                <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#animated{{modifier}}Modal">{{text}}</button>
                                <div class="modal fade" id="animated{{modifier}}Modal" tabindex="-1" role="dialog" aria-labelledby="animated{{modifier}}Modal" aria-hidden="true">
                                    <div class="modal-dialog {{class}} {{modifier}}" role="document">
                                        <div class="modal-content">
                                            {{{modal_header 'Modal title'}}}
                                            {{#modal_body ''}}
                                                <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                                            {{/modal_body}}
                                            {{{modal_footer 'button' 'Save changes' 'primary'}}}
                                        </div>
                                    </div>
                                </div>
                                <!-- /{{text}} animation -->
                                <p>Add class <code>.{{class}}.{{modifier}}</code> to <code>.modal-dialog</code></p>
                            </div>
                        {{/each}}
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Vertically centered'}}}
                {{#card_body}}
                    <p>Add <code>.modal-dialog-centered</code> to <code>.modal-dialog</code> to vertically center the modal.</p>
                    <!-- Vertically centered -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vCenteredModal">Launch vertically centered modal</button>
                    {{#modal 'modal-primary''vCenteredModal' 'modal-dialog-centered'}}
                        {{{modal_header 'Modal title'}}}
                        {{#modal_body ''}}
                            <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                        {{/modal_body}}
                        {{{modal_footer 'button' 'Save changes' 'primary'}}}
                    {{/modal}}
                    <!-- /Vertically centered -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Scrolling long content'}}}
                {{#card_body}}
                    <p>When modals become too long for the user’s viewport or device, they scroll independent of the page itself. Try the demo below to see what we mean.</p>

                    <!-- Scrolling long content -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Launch long content modal</button>
                    {{#modal 'modal-primary''exampleModalLong' 'modal-dialog-centered'}}
                        {{{modal_header 'Modal title'}}}
                        {{#modal_body ''}}
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                        {{/modal_body}}
                        {{{modal_footer 'button' 'Save changes' 'primary'}}}
                    {{/modal}}
                    <!-- /Scrolling long content -->

                    <hr>
                    {{{card_title 'Scrollable modal'}}}
                    <p>You can also create a scrollable modal that allows scroll the modal body by adding <code>.modal-dialog-scrollable</code> to <code>.modal-dialog</code>.</p>

                    <!-- Scrollable modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scrollableModal">Launch scrollable modal</button>
                    {{#modal 'modal-primary''scrollableModal' 'modal-dialog-scrollable'}}
                        {{{modal_header 'Modal title'}}}
                        {{#modal_body ''}}
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                            <p class="card-text">{{{placeholder-lorem-lg}}}</p>
                        {{/modal_body}}
                        {{{modal_footer 'button' 'Save changes' 'primary'}}}
                    {{/modal}}
                    <!-- /Scrollable modal -->

                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <h4 class="mt-4">Modal options</h4>
    <h6 class="mb-3">Options can be passed via data attributes or JavaScript. For data attributes, append the option name to <code>data-</code>, as in <code>data-backdrop=""</code>.</h6>
    <div class="row">
        <div class="col-12 col-xl-4 pr-xl-2">
            {{#card}}
                {{{card_header 'Backdrop disabled'}}}
                {{#card_body}}
                    <p>Add <code>data-backdrop="false"</code> to <code>.modal</code></p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#backdropDisabledModal">Launch modal</button>
                    <!-- Backdrop disabled -->
                    <div class="modal fade modal-info" id="backdropDisabledModal" tabindex="-1" role="dialog" aria-labelledby="backdropDisabledModalLabel"
                         aria-hidden="true" data-backdrop="false">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                {{{modal_header 'Modal title'}}}
                                {{#modal_body ''}}
                                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                                {{/modal_body}}
                                {{{modal_footer 'button' 'Save changes' 'info'}}}
                            </div>
                        </div>
                    </div>
                    <!-- /Backdrop disabled -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-4 px-xl-2">
            {{#card}}
                {{{card_header 'Ignore backdrop click'}}}
                {{#card_body}}
                    <p>Add <code>data-backdrop="static"</code> to <code>.modal</code></p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ignoreBackdropClickModal">Launch modal</button>
                    <!-- Ignore backdrop click -->
                    <div class="modal fade modal-info" id="ignoreBackdropClickModal" tabindex="-1" role="dialog" aria-labelledby="ignoreBackdropClickModalLabel"
                         aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                {{{modal_header 'Modal title'}}}
                                {{#modal_body ''}}
                                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                                {{/modal_body}}
                                {{{modal_footer 'button' 'Save changes' 'info'}}}
                            </div>
                        </div>
                    </div>
                    <!-- /Ignore backdrop click -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-12 col-xl-4 pl-xl-2">
            {{#card}}
                {{{card_header 'Keyboard disabled'}}}
                {{#card_body}}
                    <p>Add <code>data-keyboard="static"</code> to <code>.modal</code></p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#keyboardDisabledModal">Launch modal</button>
                    <!-- Keyboard disabled -->
                    <div class="modal fade modal-info" id="keyboardDisabledModal" tabindex="-1" role="dialog" aria-labelledby="keyboardDisabledModalLabel"
                         aria-hidden="true" data-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                {{{modal_header 'Modal title'}}}
                                {{#modal_body ''}}
                                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                                {{/modal_body}}
                                {{{modal_footer 'button' 'Save changes' 'info'}}}
                            </div>
                        </div>
                    </div>
                    <!-- /Keyboard disabled -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>
