---
title: "Popovers"
lead: Add small overlay content, like those found in iOS, to any element for housing secondary information.
components: true
---

<!--TODO spacing good example https://www.codeply.com/go/kaWaobOUD8/bootstrap-4-spacing-utils-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-12 pr-md-2">
            {{#card}}
            {{{card_header 'All four directions - Static demo'}}}
            {{#card_body_has 'bg-dark'''}}
                <!-- All four directions - Static demo -->
                <div class="row py-2">
                    <div class="col-md-6 example">
                        <div class="popover bs-popover-right show mx-auto">
                            <div class="arrow" style="top: 31px;"></div>
                            <h3 class="popover-header">Popover right</h3>
                            <div class="popover-body">
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </div>
                        </div>
                        <div class="popover bs-popover-left show mt-5 mx-auto">
                            <div class="arrow" style="top: 31px;"></div>
                            <h3 class="popover-header">Popover left</h3>
                            <div class="popover-body">
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 example">
                        <div class="popover bs-popover-top show mx-auto">
                            <div class="arrow" style="left: 124px;"></div>
                            <h3 class="popover-header">Popover top</h3>
                            <div class="popover-body">
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </div>
                        </div>
                        <div class="popover bs-popover-bottom show mt-5 mx-auto">
                            <div class="arrow" style="left: 124px;"></div>
                            <h3 class="popover-header">Popover bottom</h3>
                            <div class="popover-body">
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /All four directions - Static demo -->
            {{/card_body_has}}
        {{/card}}</div>
        <div class="col-xl-6 col-md-12 pl-md-2">
            {{#card}}
            {{{card_header 'Basic Example'}}}
            {{#card_body}}
                <p>Use the <code>data-placement</code> attribute to set the position of the popover on top, bottom, left or the right side of the element:</p>
                <!-- Basic Example -->
                <button type="button" class="btn btn-primary mb-1" role="button" data-container="body"
                        data-toggle="popover" data-placement="top" title="Popover on top"
                        data-content="And here's some amazing content. It's very engaging. Right?">Popover on top
                </button>
                <button type="button" class="btn btn-primary mb-1" role="button" data-container="body"
                        data-toggle="popover" data-placement="right" title="Popover on right"
                        data-content="And here's some amazing content. It's very engaging. Right?">Popover on right
                </button>
                <button type="button" class="btn btn-primary mb-1" role="button" data-container="body"
                        data-toggle="popover" data-placement="bottom" title="Popover on bottom"
                        data-content="And here's some amazing content. It's very engaging. Right?">Popover on bottom
                </button>
                <button type="button" class="btn btn-primary mb-1" role="button" data-container="body"
                        data-toggle="popover" data-placement="left" title="Popover on left"
                        data-content="And here's some amazing content. It's very engaging. Right?">Popover on left
                </button>
                <!-- /Basic Example -->
            {{/card_body}}
        {{/card}}
            {{#card}}
            {{{card_header 'Basic Example without title'}}}
            {{#card_body}}
                <p>Just remove the <code>title</code> attribute that is used to specify the header text of the popover.</p>
                <!-- Basic Example without title -->
                <a href="#" class="btn btn-link btn-primary" role="button" data-container="body"
                   data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?">Popover
                    on top</a>
                <a href="#" class="btn btn-link btn-primary" role="button" data-container="body"
                   data-toggle="popover" data-placement="right" data-content="And here's some amazing content. It's very engaging. Right?">Popover on right</a>
                <a href="#" class="btn btn-link btn-primary" role="button" data-container="body"
                   data-toggle="popover" data-placement="bottom" data-content="And here's some amazing content. It's very engaging. Right?">Popover on bottom</a>
                <a href="#" class="btn btn-link btn-primary" role="button" data-container="body"
                   data-toggle="popover" data-placement="left" data-content="And here's some amazing content. It's very engaging. Right?">Popover
                    on left</a>
                <!-- /Basic Example without title -->
            {{/card_body}}
        {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-12 pr-md-2">
            {{#card}}
                {{{card_header 'Style variations'}}}
                {{#card_body}}
                    <p>Add <code>data-color</code> attribute (like <code>data-color="primary"</code>) for popovers with all theme colors.</p>
                    <!-- Style variations -->
                    <button type="button" class="btn btn-primary btn-icon btn-round mb-1" data-color="primary"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Primary popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="icon-heart"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-icon btn-round mb-1" data-color="secondary"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Secondary popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="icon-heart"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-icon btn-round mb-1" data-color="success"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Success popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-danger btn-icon btn-round mb-1" data-color="danger"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Danger popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-warning btn-icon btn-round mb-1" data-color="warning"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Warning popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-info btn-icon btn-round mb-1" data-color="info"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Info popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-light btn-icon btn-round mb-1" data-color="light"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Light popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-dark btn-icon btn-round mb-1" data-color="dark"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Dark popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="icon-heart"></i>
                    </button>
                    <!-- /Style variations -->
                {{/card_body}}
            {{/card}}
            {{#card}}
                {{{card_header 'Hoverable'}}}
                {{#card_body}}
                    <p>If you want the popover to be displayed when you move the mouse pointer over the element, use the <code>data-trigger</code> attribute with a value
                        of "hover"</p>
                    <!-- Hoverable -->
                    <img src="https://semantic-ui.com/images/avatar2/large/elyse.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-trigger="hover"
                         data-container="body" data-toggle="popover"
                         data-placement="top" title="Kristy" alt="Kristy"
                         data-content="Kristy is an art director living in New York.">

                    <img src="https://semantic-ui.com/images/avatar2/large/molly.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-trigger="hover" data-container="body" data-toggle="popover"
                         data-placement="right" title="Molly" alt="Molly"
                         data-content="Molly is a copywriter working in New York.">

                    <img src="https://semantic-ui.com/images/avatar/large/daniel.jpg"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-trigger="hover" data-container="body" data-toggle="popover"
                         data-placement="bottom" title="Daniel Louise" alt="Daniel Louise"
                         data-content="Daniel Louise is an project manager living in Australia.">

                    <img src="https://semantic-ui.com/images/avatar2/large/matthew.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-trigger="hover" data-container="body" data-toggle="popover"
                         data-placement="left" title="Matt Giampietro" alt="Matt Giampietro"
                         data-content="Matt Giampietro is a personal assistant living in Paris.">
                    <p></p>
                    <button type="button" class="btn btn-sm btn-secondary" data-container="body" data-toggle="popover"
                            data-trigger="hover" data-placement="top" title="Hoverable" alt="Hoverable"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        Hoverable popover
                    </button>

                    <a tabindex="0" class="btn btn-link btn-sm btn-secondary" role="button" data-toggle="popover"
                       data-trigger="hover" title="Hoverable"
                       data-content="And here's some amazing content. It's very engaging. Right?">Hoverable popover</a>
                    <!-- /Hoverable -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-xl-6 col-md-12 pl-md-2">
            {{#card}}
                {{{card_header 'Clickable'}}}
                {{#card_body}}
                    <!-- Clickable -->
                    <img src="https://semantic-ui.com/images/avatar2/large/elyse.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-container="body" data-toggle="popover"
                         data-placement="top" title="Kristy" alt="Kristy"
                         data-content="Kristy is an art director living in New York.">

                    <img src="https://semantic-ui.com/images/avatar2/large/molly.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-container="body" data-toggle="popover"
                         data-placement="right" title="Molly" alt="Molly"
                         data-content="Molly is a copywriter working in New York.">

                    <img src="https://semantic-ui.com/images/avatar/large/daniel.jpg"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-container="body" data-toggle="popover"
                         data-placement="bottom" title="Daniel Louise" alt="Daniel Louise"
                         data-content="Daniel Louise is an project manager living in Australia.">

                    <img src="https://semantic-ui.com/images/avatar2/large/matthew.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-container="body" data-toggle="popover"
                         data-placement="left" title="Matt Giampietro" alt="Matt Giampietro"
                         data-content="Matt Giampietro is a personal assistant living in Paris.">
                    <p></p>
                    <button type="button" class="btn btn-primary mr-3" data-container="body" data-toggle="popover"
                            data-placement="top" title="Popover on top"
                            data-content="And here's some amazing content. It's very engaging. Right?">Popover on top
                    </button>
                    <a class="btn btn-link btn-secondary" data-container="body" data-toggle="popover"
                       data-placement="right" title="Popover on right"
                       data-content="And here's some amazing content. It's very engaging. Right?">Popover on right</a>

                    <a class="btn btn-link btn-secondary" data-container="body" data-toggle="popover"
                       data-placement="bottom" title="Popover on bottom"
                       data-content="And here's some amazing content. It's very engaging. Right?">Popover on bottom</a>

                    <a class="btn btn-link btn-secondary" data-container="body" data-toggle="popover"
                       data-placement="left" title="Popover on left"
                       data-content="And here's some amazing content. It's very engaging. Right?">Popover on left</a>
                    <!-- /Clickable -->
                {{/card_body}}
            {{/card}}
            {{#card}}
                {{{card_header 'Dismiss on next click'}}}
                {{#card_body}}
                    <p>By default, the popover is closed when you click on the element again. However, you can use the <code>data-trigger="focus"</code> attribute which
                        will close the popover when clicking outside the element</p>
                    <!-- Dismiss on next click -->
                    <button type="button" class="btn btn-sm btn-danger" data-container="body" data-toggle="popover"
                            data-trigger="focus" data-placement="top" title="Dismissible"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        Dismissible popover
                    </button>
                    <a tabindex="0" class="btn btn-link btn-sm btn-danger" role="button" data-toggle="popover"
                       data-trigger="focus" title="Dismissible"
                       data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
                    <!-- /Dismiss on next click -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Popover options'}}}
                {{#card_body}}
                    <!-- Popover options -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Disabled animation -->
                            <button type="button" class="btn btn-sm btn-danger m-2" data-container="body" data-toggle="popover"
                                    data-trigger="focus" data-placement="top" title="Disabled animation"
                                    data-animation="false"
                                    data-content="And here's some amazing content. It's very engaging. Right?">
                                Disabled animation
                            </button>
                            <!-- /Disabled animation -->
                            <p>Use <code>data-animation="false"</code> to remove fade animation. Default is true.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Delay popover -->
                            <button type="button" class="btn btn-sm btn-danger  m-2" data-container="body" data-toggle="popover"
                                    data-trigger="focus" data-placement="top" title="Delay popover"
                                    data-delay="500" data-content="And here's some amazing content. It's very engaging. Right?">
                                Delay popover
                            </button>
                            <!-- /Delay popover -->
                            <p>Delay showing and hiding the popover (ms) - does not apply to manual trigger type. Use <code>data-delay="500"</code></p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- HTML popover -->
                            <button type="button" class="btn btn-sm btn-danger  m-2" data-container="body" data-toggle="popover"
                                    data-trigger="focus" data-placement="top" data-html="true" title="This is <i>HTML</i> <u>popover</u>"
                                    data-content="And here's some amazing content. It's very engaging. Right?">
                                HTML popover
                            </button>
                            <!-- /HTML popover -->
                            <p>Insert HTML into the popover. Use <code>data-html="true"</code> for HTML supported trigger.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Popover template -->
                            <button type="button" class="btn btn-sm btn-danger  m-2" data-container="body" data-toggle="popover"
                                    data-trigger="focus" data-placement="top" title="Default Template Structure"
                                    data-content="<div class='popover' role='tooltip'><div class='arrow'></div><h3 class='popover-header'></h3><div class='popover-body'></div></div>">
                                Popover template
                            </button>
                            <!-- /Popover template -->
                            <p>Base HTML to use when creating the popover. The popover's <code>title</code> will be injected into the <code>.popover-header</code>.
                                The popover's <code>content</code> will be injected into the <code>.popover-body</code>.<code>.arrow</code> will become the popover's
                                arrow. The outermost wrapper element should have the <code>.popover</code> class.</p>
                        </div>
                    </div>
                    <!-- /Popover options -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>