---
title: "Tabs"
lead: A tab is a hidden section of content activated by a menu.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-12 pr-xl-2">

            {{#card}}
                {{{card_header 'Basic'}}}
                {{#card_body}}
                    <p>Turn the nav menu into navigation tabs with the <code>.nav-tabs</code> class. Add the <code>.active</code> class to the active/current link.</p>
                    <!-- Basic tab -->
                    {{#tab_has 'nav-tabs''basic' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic" data-toggle="tab" href="#{{id}}-tab-basic" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'py-3''tabContent-basic' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic" role="tabpanel" aria-labelledby="{{id}}-basic"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Basic tab -->

                    <hr>
                    {{{card_title 'Justified'}}}
                    <p>To justify the nav, add <code>.nav-justified</code> class to <code>.nav</code>.</p>
                    <!-- Justified -->
                    {{#tab_has 'nav-tabs nav-justified''basic-2' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-2" data-toggle="tab" href="#{{id}}-tab-basic-2" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-2' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-2" role="tabpanel" aria-labelledby="{{id}}-basic-2"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Justified -->

                    <hr>
                    {{{card_title 'Centered'}}}
                    <p>To center the nav, add <code>.justify-content-center</code> class to <code>.nav</code>.</p>
                    <!-- Centered -->
                    {{#tab_has 'nav-tabs justify-content-center''basic-3' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-3" data-toggle="tab" href="#{{id}}-tab-basic-3" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-3' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-3" role="tabpanel" aria-labelledby="{{id}}-basic-3"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Centered -->

                    <hr>
                    {{{card_title 'Right-aligned'}}}
                    <p>To right align the nav, add <code>.justify-content-end</code> class to <code>.nav</code>.</p>
                    <!-- Right-aligned -->
                    {{#tab_has 'nav-tabs justify-content-end''basic-4' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-4" data-toggle="tab" href="#{{id}}-tab-basic-4" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-4' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-4" role="tabpanel" aria-labelledby="{{id}}-basic-4"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Right-aligned -->

                    <hr>
                    {{{card_title 'Right-aligned with icons'}}}
                    <!-- Right-aligned with icons -->
                    {{#tab_has 'nav-tabs justify-content-end''basic-5' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-5" data-toggle="tab" href="#{{id}}-tab-basic-5" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}"><i class="{{class_i}}"></i></a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-5' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-5" role="tabpanel" aria-labelledby="{{id}}-basic-5"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Right-aligned with icons -->

                {{/card_body}}
            {{/card}}


            {{#card}}
                {{{card_header 'Tabs with dropdowns'}}}
                {{#card_body}}

                    <!-- Tabs with dropdowns -->
                    <ul class="nav nav-tabs" id="basic-6" role="tablist">
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-basic-6" data-toggle="tab" href="#{{id}}-tab-basic-6" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            </li>
                        {{/each}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            {{#ddw_menu_has 'extended'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-6' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-6" role="tabpanel" aria-labelledby="{{id}}-basic-6"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Tabs with dropdowns -->

                    <hr>
                    {{{card_title 'Dropdown right-aligned'}}}

                    <!-- Dropdown right-aligned -->
                    <ul class="nav nav-tabs" id="basic-7" role="tablist">
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-basic-7" data-toggle="tab" href="#{{id}}-tab-basic-7" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                            </li>
                        {{/each}}
                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                            {{#ddw_menu_has 'extended'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </li>
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-7' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-7" role="tabpanel" aria-labelledby="{{id}}-basic-7"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Dropdown right-aligned -->

                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Pills'}}}
                {{#card_body}}

                    <p>Turn the nav menu into more rounded with the <code>.nav-pills</code> class.</p>

                    <!-- Basic pills -->
                    {{#tab_has 'nav-pills''pill' tabs.items}}
                        <a class="{{class}}" id="{{id}}-pill" data-toggle="pill" href="#{{id}}-tab-pill" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'pt-3''tabContent-pill' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-pill" role="tabpanel" aria-labelledby="{{id}}-pill"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Basic pills -->

                    <hr>
                    {{{card_title 'Justified'}}}
                    <p>To justify the nav, add <code>.nav-justified</code> class to <code>.nav</code>.</p>

                    <!-- Justified pills -->
                    {{#tab_has 'nav-pills nav-justified''pill-2' tabs.items}}
                        <a class="{{class}}" id="{{id}}-pill-2" data-toggle="pill" href="#{{id}}-tab-pill-2" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'pt-3''tabContent-pill-2' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-2" role="tabpanel" aria-labelledby="{{id}}-pill-2"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Justified pills -->

                    <hr>
                    {{{card_title 'Vertical pills'}}}
                    <p>Stack your navigation by changing the flex item direction with the <code>.flex-column</code> utility</p>
                    <!-- Vertical pills -->
                    <div class="row">
                        <div class="col-md-4">
                            {{#tab_has 'nav-pills flex-column''pill-4' tabs.items}}
                                <a class="{{class}}" id="{{id}}-pill-4" data-toggle="pill" href="#{{id}}-tab-pill-4" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            {{/tab_has}}
                        </div>
                        <div class="col-md-8">
                            {{#tab_content_has '''tabContent-pill-4' tabs.items}}
                                <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-4" role="tabpanel" aria-labelledby="{{id}}-pill-4"><p>{{{placeholder-lorem-sht}}}</p>
                                </div>
                            {{/tab_content_has}}
                        </div>
                    </div>
                    <!-- /Vertical pills -->
                {{/card_body}}
            {{/card}}
            {{#card}}
                {{{card_header 'Pills with dropdowns'}}}
                {{#card_body}}
                    <!-- Pills with dropdowns -->
                    <ul class="nav nav-pills" id="pill-3" role="tablist">
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-pill-3" data-toggle="pill" href="#{{id}}-tab-pill-3" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                            </li>
                        {{/each}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            {{#ddw_menu_has 'extended'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    {{#tab_content_has 'pt-3''tabContent-pill-3' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-3" role="tabpanel" aria-labelledby="{{id}}-pill-3"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Pills with dropdowns -->
                {{/card_body}}
            {{/card}}


            {{#card}}
                {{{card_header 'Pill card'}}}
                {{#card_body}}
                    <!-- Pill card -->
                    {{#card}}
                        <div class="card-header">
                            {{#tab_has 'nav-pills card-header-pills''pill-5' tabs.items}}
                                <a class="{{class}} mb-0" id="{{id}}-pill-5" data-toggle="pill" href="#{{id}}-tab-pill-5" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            {{/tab_has}}
                        </div>
                        {{#card_body}}
                            {{#tab_content_has '''tabContent-pill-5' tabs.items}}
                                <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-5" role="tabpanel" aria-labelledby="{{id}}-pill-5"><p>{{{placeholder-lorem-sht}}}</p>
                                </div>
                            {{/tab_content_has}}
                        {{/card_body}}
                    {{/card}}
                    <!-- Pill card -->
                {{/card_body}}
            {{/card}}


            {{#card}}
                {{{card_header 'Vertical left tabs'}}}
                {{#card_body}}
                    <!-- Vertical variations -->
                    {{{card_title 'Right line'}}}
                    <p>Wrap tabs and tab content with <code>.extended-vertical.right-line</code> class.</p>
                    <!-- Right line -->
                    <div class="extended-vertical right-line">
                        {{#tab_has 'nav-tabs''v-1' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-1" data-toggle="tab" href="#{{id}}-tab-v-1" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3''tabContent-v-1' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-1" role="tabpanel" aria-labelledby="{{id}}-v-1"><p>{{{placeholder-lorem-sht}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Right line -->
                    <hr>
                    {{{card_title 'Outline'}}}
                    <p>Wrap tabs and tab content with <code>.extended-vertical.outline</code> class.</p>
                    <!-- Outline -->
                    <div class="extended-vertical outline">
                        {{#tab_has 'nav-tabs''v-2' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-2" data-toggle="tab" href="#{{id}}-tab-v-2" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3''tabContent-v-2' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-2" role="tabpanel" aria-labelledby="{{id}}-v-2"><p>{{{placeholder-lorem-sht}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Outline -->

                    <hr>
                    {{{card_title 'Primary outline'}}}
                    <p>Wrap tabs and tab content with <code>.extended-vertical.outline-primary</code> class.</p>
                    <!-- Outline -->
                    <div class="extended-vertical outline-primary">
                        {{#tab_has 'nav-tabs''v-3' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-3" data-toggle="tab" href="#{{id}}-tab-v-3" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3''tabContent-v-3' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-3" role="tabpanel" aria-labelledby="{{id}}-v-3"><p>{{{placeholder-lorem-sht}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Outline -->

                    <hr>
                    {{{card_title 'Primary filled'}}}
                    <p>Wrap tabs and tab content with <code>.extended-vertical.primary-filled</code> class.</p>
                    <!-- Outline -->
                    <div class="extended-vertical primary-filled">
                        {{#tab_has 'nav-tabs''v-4' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-4" data-toggle="tab" href="#{{id}}-tab-v-4" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3''tabContent-v-4' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-4" role="tabpanel" aria-labelledby="{{id}}-v-4"><p>{{{placeholder-lorem-sht}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Outline -->

                    <!-- /Vertical variations -->
                {{/card_body}}
            {{/card}}


        </div>
        <div class="col-xl-6 col-md-12 pl-xl-2">

            {{#card}}
                {{{card_header 'Extended bordered type'}}}
                {{#card_body}}
                    <!-- Extended tabs -->

                    {{{card_title 'Extended'}}}
                    <p>Use <code>.extended</code> class to <code>.nav</code> for bottom bordered active status type.</p>
                    <!-- Extended -->
                    {{#tab_has 'nav-tabs extended''ext' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext" data-toggle="tab" href="#{{id}}-tab-ext" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'py-3''tabContent-ext' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext" role="tabpanel" aria-labelledby="{{id}}-ext"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended -->
                    <hr>
                    {{{card_title 'Justified'}}}
                    <p>To justify the extended type nav, add <code>.extended.nav-justified</code> class to <code>.nav</code>.</p>

                    <!-- Extended-justified -->
                    {{#tab_has 'nav-tabs extended nav-justified''ext-2' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-2" data-toggle="tab" href="#{{id}}-tab-ext-2" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'py-3''tabContent-ext-2' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-2" role="tabpanel" aria-labelledby="{{id}}-ext-2"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended-justified -->

                    <!-- /Extended tabs -->
                {{/card_body}}
            {{/card}}



            {{#card}}
                {{{card_header 'Extended arrow type'}}}
                {{#card_body}}
                    <!-- Extended arrow type -->

                    {{{card_title 'Extended arrow'}}}
                    <p>Use <code>.extended-arrow</code> class to <code>.nav</code> for bottom arrow active status type.</p>
                    <!-- Extended arrow -->
                    {{#tab_has 'nav-tabs extended-arrow''ext-3' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-3" data-toggle="tab" href="#{{id}}-tab-ext-3" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'py-3''tabContent-ext-3' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-3" role="tabpanel" aria-labelledby="{{id}}-ext-3"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended arrow -->

                    <hr>
                    {{{card_title 'Extended box arrow'}}}
                    <p>Add <code>.extended-arrow</code> class to <code>.nav</code> and <code>.hasborder</code> class to <code>.tab-content</code></p>
                    <!-- Extended box arrow -->
                    {{#tab_has 'nav-tabs extended-arrow''ext-4' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-4" data-toggle="tab" href="#{{id}}-tab-ext-4" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-4' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-4" role="tabpanel" aria-labelledby="{{id}}-ext-4"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box arrow -->

                    <hr>
                    {{{card_title 'Extended filled arrow'}}}
                    <p>Add <code>.extended-arrow.filled</code> class to <code>.nav</code> and <code>.hasborder</code> class to <code>.tab-content</code></p>
                    <!-- Extended filled arrow -->
                    {{#tab_has 'nav-tabs extended-arrow filled''ext-5' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-5" data-toggle="tab" href="#{{id}}-tab-ext-5" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-5' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-5" role="tabpanel" aria-labelledby="{{id}}-ext-5"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended filled arrow -->

                    <!-- /Extended arrow type -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Extended boxed type'}}}
                {{#card_body}}

                    {{{card_title 'Extended boxed'}}}
                    <p>Add <code>.extended-boxed</code> class to <code>.nav</code></p>
                    <!-- Extended boxed -->
                    {{#tab_has 'nav-tabs extended-boxed''ext-6' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-6" data-toggle="tab" href="#{{id}}-tab-ext-6" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-6' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-6" role="tabpanel" aria-labelledby="{{id}}-ext-6"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended boxed -->
                    <hr>
                    {{{card_title 'Extended boxed justified'}}}
                    <p>Use <code>.extended-boxed.nav-justified</code> class to set tabs justified.</p>
                    <!-- Extended boxed type -->
                    {{#tab_has 'nav-tabs extended-boxed nav-justified''ext-7' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-7" data-toggle="tab" href="#{{id}}-tab-ext-7" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-7' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-7" role="tabpanel" aria-labelledby="{{id}}-ext-7"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended boxed type -->
                {{/card_body}}
            {{/card}}


            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Extended Boxed</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <h6 class="card-title mt-4">Titled</h6>
                    <ul class="nav nav-tabs extended-boxed" id="myTab-17" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-17" data-toggle="tab" href="#home-17" role="tab"
                               aria-controls="home-17" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-17" data-toggle="tab" href="#profile-17" role="tab"
                               aria-controls="profile-17" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-17" data-toggle="tab" href="#message-17" role="tab"
                               aria-controls="message-17" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-17">
                        <div class="tab-pane p-3 fade show active" id="home-17" role="tabpanel"
                             aria-labelledby="home-tab-17">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-17" role="tabpanel" aria-labelledby="profile-tab-17">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-17" role="tabpanel" aria-labelledby="message-tab-17">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Primary</h6>
                    <ul class="nav nav-tabs extended-boxed primary-box" id="myTab-18" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-18" data-toggle="tab" href="#home-18" role="tab"
                               aria-controls="home-18" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-18" data-toggle="tab" href="#profile-18" role="tab"
                               aria-controls="profile-18" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-18" data-toggle="tab" href="#message-18" role="tab"
                               aria-controls="message-18" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-18">
                        <div class="tab-pane p-3 fade show active" id="home-18" role="tabpanel"
                             aria-labelledby="home-tab-18">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-18" role="tabpanel" aria-labelledby="profile-tab-18">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-18" role="tabpanel" aria-labelledby="message-tab-18">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Secondary</h6>
                    <ul class="nav nav-tabs extended-boxed secondary-box" id="myTab-19" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-19" data-toggle="tab" href="#home-19" role="tab"
                               aria-controls="home-19" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-19" data-toggle="tab" href="#profile-19" role="tab"
                               aria-controls="profile-19" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-19" data-toggle="tab" href="#message-19" role="tab"
                               aria-controls="message-19" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-19">
                        <div class="tab-pane p-3 fade show active" id="home-19" role="tabpanel"
                             aria-labelledby="home-tab-19">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-19" role="tabpanel" aria-labelledby="profile-tab-19">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-19" role="tabpanel" aria-labelledby="message-tab-19">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Info</h6>
                    <ul class="nav nav-tabs extended-boxed info-box" id="myTab-20" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-20" data-toggle="tab" href="#home-20" role="tab"
                               aria-controls="home-20" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-20" data-toggle="tab" href="#profile-20" role="tab"
                               aria-controls="profile-20" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-20" data-toggle="tab" href="#message-20" role="tab"
                               aria-controls="message-20" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-20">
                        <div class="tab-pane p-3 fade show active" id="home-20" role="tabpanel"
                             aria-labelledby="home-tab-20">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-20" role="tabpanel" aria-labelledby="profile-tab-20">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-20" role="tabpanel" aria-labelledby="message-tab-20">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Success</h6>
                    <ul class="nav nav-tabs extended-boxed success-box" id="myTab-21" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-21" data-toggle="tab" href="#home-21" role="tab"
                               aria-controls="home-21" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-21" data-toggle="tab" href="#profile-21" role="tab"
                               aria-controls="profile-21" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-21" data-toggle="tab" href="#message-21" role="tab"
                               aria-controls="message-21" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-21">
                        <div class="tab-pane p-3 fade show active" id="home-21" role="tabpanel"
                             aria-labelledby="home-tab-21">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-21" role="tabpanel" aria-labelledby="profile-tab-21">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-21" role="tabpanel" aria-labelledby="message-tab-21">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Warning</h6>
                    <ul class="nav nav-tabs extended-boxed warning-box" id="myTab-22" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-22" data-toggle="tab" href="#home-22" role="tab"
                               aria-controls="home-22" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-22" data-toggle="tab" href="#profile-22" role="tab"
                               aria-controls="profile-22" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-22" data-toggle="tab" href="#message-22" role="tab"
                               aria-controls="message-22" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-22">
                        <div class="tab-pane p-3 fade show active" id="home-22" role="tabpanel"
                             aria-labelledby="home-tab-22">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-22" role="tabpanel" aria-labelledby="profile-tab-22">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-22" role="tabpanel" aria-labelledby="message-tab-22">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Danger</h6>
                    <ul class="nav nav-tabs extended-boxed danger-box" id="myTab-23" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-23" data-toggle="tab" href="#home-23" role="tab"
                               aria-controls="home-23" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-23" data-toggle="tab" href="#profile-23" role="tab"
                               aria-controls="profile-23" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-23" data-toggle="tab" href="#message-23" role="tab"
                               aria-controls="message-23" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-23">
                        <div class="tab-pane p-3 fade show active" id="home-23" role="tabpanel"
                             aria-labelledby="home-tab-23">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-23" role="tabpanel" aria-labelledby="profile-tab-23">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-23" role="tabpanel" aria-labelledby="message-tab-23">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Light</h6>
                    <ul class="nav nav-tabs extended-boxed light-box" id="myTab-24" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-24" data-toggle="tab" href="#home-24" role="tab"
                               aria-controls="home-24" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-24" data-toggle="tab" href="#profile-24" role="tab"
                               aria-controls="profile-24" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-24" data-toggle="tab" href="#message-24" role="tab"
                               aria-controls="message-24" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-24">
                        <div class="tab-pane p-3 fade show active" id="home-24" role="tabpanel"
                             aria-labelledby="home-tab-24">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-24" role="tabpanel" aria-labelledby="profile-tab-24">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-24" role="tabpanel" aria-labelledby="message-tab-24">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Dark</h6>
                    <ul class="nav nav-tabs extended-boxed dark-box" id="myTab-25" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-25" data-toggle="tab" href="#home-25" role="tab"
                               aria-controls="home-25" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-25" data-toggle="tab" href="#profile-25" role="tab"
                               aria-controls="profile-25" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-25" data-toggle="tab" href="#message-25" role="tab"
                               aria-controls="message-25" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-25">
                        <div class="tab-pane p-3 fade show active" id="home-25" role="tabpanel"
                             aria-labelledby="home-tab-25">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-25" role="tabpanel" aria-labelledby="profile-tab-25">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-25" role="tabpanel" aria-labelledby="message-tab-25">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>