---
title: "Tabs"
lead: A tab is a hidden section of content activated by a menu.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pr-md-2">

            {{#card}}
                {{{card_header 'Basic'}}}
                {{#card_body}}
                    <p>Turn the nav menu into navigation tabs with the <code>.nav-tabs</code> class. Add the <code>.active</code> class to the active/current link.</p>
                    <!-- Basic tab -->
                    {{#tab_has 'nav-tabs''basic' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic" data-toggle="tab" href="#{{id}}-tab-basic" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic" role="tabpanel" aria-labelledby="{{id}}-basic"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Basic tab -->

                    <hr>
                    {{{card_title 'Justified'}}}
                    <p>To justify the nav, add <code>.nav-justified</code> class to <code>.nav</code>.</p>
                    <!-- Justified -->
                    {{#tab_has 'nav-tabs nav-justified''basic-2' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-2" data-toggle="tab" href="#{{id}}-tab-basic-2" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-2' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-2" role="tabpanel" aria-labelledby="{{id}}-basic-2"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Justified -->

                    <hr>
                    {{{card_title 'Centered'}}}
                    <p>To center the nav, add <code>.justify-content-center</code> class to <code>.nav</code>.</p>
                    <!-- Centered -->
                    {{#tab_has 'nav-tabs justify-content-center''basic-3' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-3" data-toggle="tab" href="#{{id}}-tab-basic-3" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-3' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-3" role="tabpanel" aria-labelledby="{{id}}-basic-3"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Centered -->

                    <hr>
                    {{{card_title 'Right-aligned'}}}
                    <p>To right align the nav, add <code>.justify-content-end</code> class to <code>.nav</code>.</p>
                    <!-- Right-aligned -->
                    {{#tab_has 'nav-tabs justify-content-end''basic-4' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-4" data-toggle="tab" href="#{{id}}-tab-basic-4" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-4' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-4" role="tabpanel" aria-labelledby="{{id}}-basic-4"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Right-aligned -->

                    <hr>
                    {{{card_title 'Right-aligned with icons'}}}
                    <!-- Right-aligned with icons -->
                    {{#tab_has 'nav-tabs justify-content-end''basic-5' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-5" data-toggle="tab" href="#{{id}}-tab-basic-5" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}"><i class="{{class_i}}"></i></a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-5' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-5" role="tabpanel" aria-labelledby="{{id}}-basic-5"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Right-aligned with icons -->

                {{/card_body}}
            {{/card}}


            {{#card}}
                {{{card_header 'Tabs with dropdowns'}}}
                {{#card_body}}

                    <!-- Tabs with dropdowns -->
                    <ul class="nav nav-tabs" id="basic-6" role="tablist">
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-basic-6" data-toggle="tab" href="#{{id}}-tab-basic-6" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            </li>
                        {{/each}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            {{#ddw_menu_has 'extended'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-6' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-6" role="tabpanel" aria-labelledby="{{id}}-basic-6"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Tabs with dropdowns -->

                    <hr>
                    {{{card_title 'Dropdown right-aligned'}}}

                    <!-- Dropdown right-aligned -->
                    <ul class="nav nav-tabs" id="basic-7" role="tablist">
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-basic-7" data-toggle="tab" href="#{{id}}-tab-basic-7" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                            </li>
                        {{/each}}
                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                            {{#ddw_menu_has 'extended'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </li>
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-7' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-7" role="tabpanel" aria-labelledby="{{id}}-basic-7"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Dropdown right-aligned -->

                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Pills'}}}
                {{#card_body}}

                    <p>Turn the nav menu into more rounded with the <code>.nav-pills</code> class.</p>

                    <!-- Basic pills -->
                    {{#tab_has 'nav-pills''pill' tabs.items}}
                        <a class="{{class}}" id="{{id}}-pill" data-toggle="tab" href="#{{id}}-tab-pill" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has '''tabContent-pill' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-pill" role="tabpanel" aria-labelledby="{{id}}-pill"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Basic pills -->

                    <hr>
                    {{{card_title 'Justified'}}}
                    <p>To justify the nav, add <code>.nav-justified</code> class to <code>.nav</code>.</p>

                    <!-- Justified pills -->
                    {{#tab_has 'nav-pills nav-justified''pill-2' tabs.items}}
                        <a class="{{class}}" id="{{id}}-pill-2" data-toggle="tab" href="#{{id}}-tab-pill-2" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has '''tabContent-pill-2' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-2" role="tabpanel" aria-labelledby="{{id}}-pill-2"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Justified pills -->


                {{/card_body}}
            {{/card}}


            {{#card}}
                {{{card_header 'Pills with dropdown'}}}
                {{#card_body}}

                {{/card_body}}
            {{/card}}


            {{#card}}
                {{{card_header 'Pill card'}}}
                {{#card_body}}
                    <!-- Pill card -->
                    {{#card}}
                        <div class="card-header">
                            {{#tab_has 'nav-pills card-header-pills''pill-4' tabs.items}}
                                <a class="{{class}} mb-0" id="{{id}}-pill-4" data-toggle="tab" href="#{{id}}-tab-pill-4" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            {{/tab_has}}
                        </div>
                        {{#card_body}}
                            {{#tab_content_has '''tabContent-pill-4' tabs.items}}
                                <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-4" role="tabpanel" aria-labelledby="{{id}}-pill-4"><p>{{{placeholder-lorem-sht}}}</p>
                                </div>
                            {{/tab_content_has}}
                        {{/card_body}}
                    {{/card}}
                    <!-- Pill card -->
                {{/card_body}}
            {{/card}}


            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Vertical</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <h6 class="card-title">Right line</h6>
                    <div class="extended-vertical right-line">
                        <ul class="nav nav-tabs" id="myTab-8" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-8" data-toggle="tab" href="#home-8" role="tab"
                                   aria-controls="home-8" aria-selected="true"><i class="icon-home mr-2"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-8" data-toggle="tab" href="#profile-8" role="tab"
                                   aria-controls="profile-8" aria-selected="false"><i class="icon-user mr-2"></i>Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-8" data-toggle="tab" href="#message-8" role="tab"
                                   aria-controls="message-8" aria-selected="false"><i class="icon-envelope mr-2"></i>Messages</a>
                            </li>

                        </ul>
                        <div class="tab-content px-3" id="myTabContent-8">
                            <div class="tab-pane fade show active" id="home-8" role="tabpanel"
                                 aria-labelledby="home-tab-8">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile-8" role="tabpanel"
                                 aria-labelledby="profile-tab-8">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="message-8" role="tabpanel"
                                 aria-labelledby="message-tab-8">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                                </p>
                            </div>
                        </div>

                    </div>

                    <h6 class="card-title mt-4">Outline</h6>
                    <div class="extended-vertical outline">
                        <ul class="nav nav-tabs" id="myTab-9" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-9" data-toggle="tab" href="#home-9" role="tab"
                                   aria-controls="home-9" aria-selected="true"><i class="icon-home mr-2"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-9" data-toggle="tab" href="#profile-9" role="tab"
                                   aria-controls="profile-9" aria-selected="false"><i class="icon-user mr-2"></i>Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-9" data-toggle="tab" href="#message-9" role="tab"
                                   aria-controls="message-9" aria-selected="false"><i class="icon-envelope mr-2"></i>Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content px-3" id="myTabContent-9">
                            <div class="tab-pane fade show active" id="home-9" role="tabpanel"
                                 aria-labelledby="home-tab-9">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile-9" role="tabpanel"
                                 aria-labelledby="profile-tab-9">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="message-9" role="tabpanel"
                                 aria-labelledby="message-tab-9">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-title mt-5">Primary outline</h6>
                    <div class="extended-vertical outline-primary">
                        <ul class="nav nav-tabs" id="myTab-10" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-10" data-toggle="tab" href="#home-10" role="tab"
                                   aria-controls="home-10" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-10" data-toggle="tab" href="#profile-10" role="tab"
                                   aria-controls="profile-10" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-10" data-toggle="tab" href="#message-10" role="tab"
                                   aria-controls="message-10" aria-selected="false">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content px-3" id="myTabContent-10">
                            <div class="tab-pane fade show active" id="home-10" role="tabpanel"
                                 aria-labelledby="home-tab-10">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile-10" role="tabpanel"
                                 aria-labelledby="profile-tab-10">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="message-10" role="tabpanel"
                                 aria-labelledby="message-tab-10">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-title mt-5">Primary filled</h6>
                    <div class="extended-vertical primary-filled">
                        <ul class="nav nav-tabs" id="myTab-11" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-11" data-toggle="tab" href="#home-11" role="tab"
                                   aria-controls="home-11" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-11" data-toggle="tab" href="#profile-11" role="tab"
                                   aria-controls="profile-11" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-11" data-toggle="tab" href="#message-11" role="tab"
                                   aria-controls="message-11" aria-selected="false">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content px-3" id="myTabContent-11">
                            <div class="tab-pane fade show active" id="home-11" role="tabpanel"
                                 aria-labelledby="home-tab-11">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile-11" role="tabpanel"
                                 aria-labelledby="profile-tab-11">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="message-11" role="tabpanel"
                                 aria-labelledby="message-tab-11">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Extended</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs extended" id="myTab-12" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-12" data-toggle="tab" href="#home-12" role="tab"
                               aria-controls="home-12" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-12" data-toggle="tab" href="#profile-12" role="tab"
                               aria-controls="profile-12" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-12" data-toggle="tab" href="#message-12" role="tab"
                               aria-controls="message-12" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-12">
                        <div class="tab-pane py-2 fade show active" id="home-12" role="tabpanel"
                             aria-labelledby="home-tab-12">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="profile-12" role="tabpanel"
                             aria-labelledby="profile-tab-12">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="message-12" role="tabpanel"
                             aria-labelledby="message-tab-12">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title">Justified </h6>

                    <ul class="nav nav-tabs nav-justified extended" id="myTab-13" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-13" data-toggle="tab" href="#home-13" role="tab"
                               aria-controls="home-13" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-13" data-toggle="tab" href="#profile-13" role="tab"
                               aria-controls="profile-13" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-13" data-toggle="tab" href="#message-13" role="tab"
                               aria-controls="message-13" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-13">
                        <div class="tab-pane py-2 fade show active" id="home-13" role="tabpanel"
                             aria-labelledby="home-tab-13">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="profile-13" role="tabpanel"
                             aria-labelledby="profile-tab-13">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="message-13" role="tabpanel"
                             aria-labelledby="message-tab-13">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Extended Arrow</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs extended-arrow" id="myTab-26" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-26" data-toggle="tab" href="#home-26" role="tab"
                               aria-controls="home-26" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-26" data-toggle="tab" href="#profile-26" role="tab"
                               aria-controls="profile-26" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-26" data-toggle="tab" href="#message-26" role="tab"
                               aria-controls="message-26" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-26">
                        <div class="tab-pane py-3 fade show active" id="home-26" role="tabpanel"
                             aria-labelledby="home-tab-26">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-3 fade" id="profile-26" role="tabpanel"
                             aria-labelledby="profile-tab-26">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-3 fade" id="message-26" role="tabpanel"
                             aria-labelledby="message-tab-26">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title">Box arrow</h6>

                    <ul class="nav nav-tabs extended-arrow" id="myTab-27" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-27" data-toggle="tab" href="#home-27" role="tab"
                               aria-controls="home-27" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-27" data-toggle="tab" href="#profile-27" role="tab"
                               aria-controls="profile-27" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-27" data-toggle="tab" href="#message-27" role="tab"
                               aria-controls="message-27" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-27">
                        <div class="tab-pane p-3 fade show active" id="home-27" role="tabpanel"
                             aria-labelledby="home-tab-27">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-27" role="tabpanel" aria-labelledby="profile-tab-27">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-27" role="tabpanel" aria-labelledby="message-tab-27">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>


                    <h6 class="card-title mt-4">Filled arrow</h6>
                    <ul class="nav nav-tabs extended-arrow filled" id="myTab-28" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-28" data-toggle="tab" href="#home-28" role="tab"
                               aria-controls="home-28" aria-selected="true"><i class="icon-home mr-2"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-28" data-toggle="tab" href="#profile-28" role="tab"
                               aria-controls="profile-28" aria-selected="false"><i class="icon-user mr-2"></i>Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-28" data-toggle="tab" href="#message-28" role="tab"
                               aria-controls="message-28" aria-selected="false"><i class="icon-envelope mr-2"></i>Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-28">
                        <div class="tab-pane p-3 fade show active" id="home-28" role="tabpanel"
                             aria-labelledby="home-tab-28">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-28" role="tabpanel" aria-labelledby="profile-tab-28">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-28" role="tabpanel" aria-labelledby="message-tab-28">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Extended Boxed</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs extended-boxed" id="myTab-15" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab-15" data-toggle="tab" href="#home-15" role="tab"
                               aria-controls="home-15" aria-selected="true"><i class="icon-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab-15" data-toggle="tab" href="#profile-15" role="tab"
                               aria-controls="profile-15" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-15" data-toggle="tab" href="#message-15" role="tab"
                               aria-controls="message-15" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-15">
                        <div class="tab-pane p-3 fade" id="home-15" role="tabpanel"
                             aria-labelledby="home-tab-15">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade show active" id="profile-15" role="tabpanel" aria-labelledby="profile-tab-15">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-15" role="tabpanel" aria-labelledby="message-tab-15">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Justified</h6>
                    <ul class="nav nav-tabs nav-justified extended-boxed" id="myTab-16" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-16" data-toggle="tab" href="#home-16" role="tab"
                               aria-controls="home-16" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-16" data-toggle="tab" href="#profile-16" role="tab"
                               aria-controls="profile-16" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-16" data-toggle="tab" href="#message-16" role="tab"
                               aria-controls="message-16" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-16">
                        <div class="tab-pane p-3 fade show active" id="home-16" role="tabpanel"
                             aria-labelledby="home-tab-16">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-16" role="tabpanel" aria-labelledby="profile-tab-16">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-16" role="tabpanel" aria-labelledby="message-tab-16">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Titled</h6>
                    <ul class="nav nav-tabs extended-boxed" id="myTab-17" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-17" data-toggle="tab" href="#home-17" role="tab"
                               aria-controls="home-17" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-17" data-toggle="tab" href="#profile-17" role="tab"
                               aria-controls="profile-17" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-17" data-toggle="tab" href="#message-17" role="tab"
                               aria-controls="message-17" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-17">
                        <div class="tab-pane p-3 fade show active" id="home-17" role="tabpanel"
                             aria-labelledby="home-tab-17">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-17" role="tabpanel" aria-labelledby="profile-tab-17">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-17" role="tabpanel" aria-labelledby="message-tab-17">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Primary</h6>
                    <ul class="nav nav-tabs extended-boxed primary-box" id="myTab-18" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-18" data-toggle="tab" href="#home-18" role="tab"
                               aria-controls="home-18" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-18" data-toggle="tab" href="#profile-18" role="tab"
                               aria-controls="profile-18" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-18" data-toggle="tab" href="#message-18" role="tab"
                               aria-controls="message-18" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-18">
                        <div class="tab-pane p-3 fade show active" id="home-18" role="tabpanel"
                             aria-labelledby="home-tab-18">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-18" role="tabpanel" aria-labelledby="profile-tab-18">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-18" role="tabpanel" aria-labelledby="message-tab-18">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Secondary</h6>
                    <ul class="nav nav-tabs extended-boxed secondary-box" id="myTab-19" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-19" data-toggle="tab" href="#home-19" role="tab"
                               aria-controls="home-19" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-19" data-toggle="tab" href="#profile-19" role="tab"
                               aria-controls="profile-19" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-19" data-toggle="tab" href="#message-19" role="tab"
                               aria-controls="message-19" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-19">
                        <div class="tab-pane p-3 fade show active" id="home-19" role="tabpanel"
                             aria-labelledby="home-tab-19">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-19" role="tabpanel" aria-labelledby="profile-tab-19">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-19" role="tabpanel" aria-labelledby="message-tab-19">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Info</h6>
                    <ul class="nav nav-tabs extended-boxed info-box" id="myTab-20" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-20" data-toggle="tab" href="#home-20" role="tab"
                               aria-controls="home-20" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-20" data-toggle="tab" href="#profile-20" role="tab"
                               aria-controls="profile-20" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-20" data-toggle="tab" href="#message-20" role="tab"
                               aria-controls="message-20" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-20">
                        <div class="tab-pane p-3 fade show active" id="home-20" role="tabpanel"
                             aria-labelledby="home-tab-20">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-20" role="tabpanel" aria-labelledby="profile-tab-20">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-20" role="tabpanel" aria-labelledby="message-tab-20">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Success</h6>
                    <ul class="nav nav-tabs extended-boxed success-box" id="myTab-21" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-21" data-toggle="tab" href="#home-21" role="tab"
                               aria-controls="home-21" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-21" data-toggle="tab" href="#profile-21" role="tab"
                               aria-controls="profile-21" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-21" data-toggle="tab" href="#message-21" role="tab"
                               aria-controls="message-21" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-21">
                        <div class="tab-pane p-3 fade show active" id="home-21" role="tabpanel"
                             aria-labelledby="home-tab-21">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-21" role="tabpanel" aria-labelledby="profile-tab-21">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-21" role="tabpanel" aria-labelledby="message-tab-21">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Warning</h6>
                    <ul class="nav nav-tabs extended-boxed warning-box" id="myTab-22" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-22" data-toggle="tab" href="#home-22" role="tab"
                               aria-controls="home-22" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-22" data-toggle="tab" href="#profile-22" role="tab"
                               aria-controls="profile-22" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-22" data-toggle="tab" href="#message-22" role="tab"
                               aria-controls="message-22" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-22">
                        <div class="tab-pane p-3 fade show active" id="home-22" role="tabpanel"
                             aria-labelledby="home-tab-22">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-22" role="tabpanel" aria-labelledby="profile-tab-22">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-22" role="tabpanel" aria-labelledby="message-tab-22">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Danger</h6>
                    <ul class="nav nav-tabs extended-boxed danger-box" id="myTab-23" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-23" data-toggle="tab" href="#home-23" role="tab"
                               aria-controls="home-23" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-23" data-toggle="tab" href="#profile-23" role="tab"
                               aria-controls="profile-23" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-23" data-toggle="tab" href="#message-23" role="tab"
                               aria-controls="message-23" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-23">
                        <div class="tab-pane p-3 fade show active" id="home-23" role="tabpanel"
                             aria-labelledby="home-tab-23">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-23" role="tabpanel" aria-labelledby="profile-tab-23">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-23" role="tabpanel" aria-labelledby="message-tab-23">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Light</h6>
                    <ul class="nav nav-tabs extended-boxed light-box" id="myTab-24" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-24" data-toggle="tab" href="#home-24" role="tab"
                               aria-controls="home-24" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-24" data-toggle="tab" href="#profile-24" role="tab"
                               aria-controls="profile-24" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-24" data-toggle="tab" href="#message-24" role="tab"
                               aria-controls="message-24" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-24">
                        <div class="tab-pane p-3 fade show active" id="home-24" role="tabpanel"
                             aria-labelledby="home-tab-24">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-24" role="tabpanel" aria-labelledby="profile-tab-24">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-24" role="tabpanel" aria-labelledby="message-tab-24">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Dark</h6>
                    <ul class="nav nav-tabs extended-boxed dark-box" id="myTab-25" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-25" data-toggle="tab" href="#home-25" role="tab"
                               aria-controls="home-25" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-25" data-toggle="tab" href="#profile-25" role="tab"
                               aria-controls="profile-25" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-25" data-toggle="tab" href="#message-25" role="tab"
                               aria-controls="message-25" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-25">
                        <div class="tab-pane p-3 fade show active" id="home-25" role="tabpanel"
                             aria-labelledby="home-tab-25">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-25" role="tabpanel" aria-labelledby="profile-tab-25">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-25" role="tabpanel" aria-labelledby="message-tab-25">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>