---
title: "Tabs"
lead: A tab is a hidden section of content activated by a menu.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            {{#card}}
                {{{card_header 'Basic'}}}
                {{#card_body}}
                    <p>Turn the nav menu into navigation tabs with the <code>.nav-tabs</code> class. Add the <code>.active</code> class to the active/current link.</p>
                    <!-- Basic tab -->
                    {{#tab_has 'nav-tabs' 'basic' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic" data-toggle="tab" href="#{{id}}-tab-basic" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'py-3''tabContent-basic' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic" role="tabpanel" aria-labelledby="{{id}}-basic"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Basic tab -->

                    <hr>
                    {{{card_title 'Justified'}}}
                    <p>To justify the nav, add <code>.nav-justified</code> class to <code>.nav</code> and <code>.hasborder</code> class to <code>.tab-content</code>.</p>
                    <!-- Justified -->
                    {{#tab_has 'nav-tabs nav-justified''basic-2' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-2" data-toggle="tab" href="#{{id}}-tab-basic-2" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-2' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-2" role="tabpanel" aria-labelledby="{{id}}-basic-2"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Justified -->
                    <hr>
                    {{{card_title 'Centered'}}}
                    <p>To center the nav, add <code>.justify-content-center</code> class to <code>.nav</code>.</p>
                    <!-- Centered -->
                    {{#tab_has 'nav-tabs justify-content-center''basic-3' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-3" data-toggle="tab" href="#{{id}}-tab-basic-3" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-3' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-3" role="tabpanel" aria-labelledby="{{id}}-basic-3"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Centered -->

                    <hr>
                    {{{card_title 'Right-aligned'}}}
                    <p>To right align the nav, add <code>.justify-content-end</code> class to <code>.nav</code>.</p>
                    <!-- Right-aligned -->
                    {{#tab_has 'nav-tabs justify-content-end''basic-4' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-4" data-toggle="tab" href="#{{id}}-tab-basic-4" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-4' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-4" role="tabpanel" aria-labelledby="{{id}}-basic-4"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Right-aligned -->

                    <hr>
                    {{{card_title 'Right-aligned with icons'}}}
                    <!-- Right-aligned with icons -->
                    {{#tab_has 'nav-tabs justify-content-end''basic-5' tabs.items}}
                        <a class="{{class}}" id="{{id}}-basic-5" data-toggle="tab" href="#{{id}}-tab-basic-5" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}"><i class="{{class_i}}"></i></a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-5' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-5" role="tabpanel" aria-labelledby="{{id}}-basic-5"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- Right-aligned with icons -->

                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Tabs with dropdowns'}}}
                {{#card_body}}

                    <!-- Tabs with dropdowns -->
                    <ul class="nav nav-tabs" id="basic-6" role="tablist">
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-basic-6" data-toggle="tab" href="#{{id}}-tab-basic-6" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            </li>
                        {{/each}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            {{#ddw_menu_has 'extended'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                                <li class="dropdown has-child">
                                    <a class="dropdown-item dropdown-toggle" href="#"><i class="fa fa-tasks mr-2"></i>Submenu</a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                                        <li class="dropdown has-child">
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown has-child"><a class="dropdown-item dropdown-toggle" href="#">Second
                                            subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </li>
                            {{/ddw_menu_has}}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-6' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-6" role="tabpanel" aria-labelledby="{{id}}-basic-6"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Tabs with dropdowns -->

                    <hr>
                    {{{card_title 'Dropdown right-aligned'}}}

                    <!-- Dropdown right-aligned -->
                    <ul class="nav nav-tabs" id="basic-7" role="tablist">
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-basic-7" data-toggle="tab" href="#{{id}}-tab-basic-7" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                            </li>
                        {{/each}}
                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                            {{#ddw_menu_has 'extended'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </li>
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-basic-7' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-basic-7" role="tabpanel" aria-labelledby="{{id}}-basic-7"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Dropdown right-aligned -->

                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Pills'}}}
                {{#card_body}}

                    {{{card_title 'Basic'}}}
                    <p>Turn the nav menu into more rounded with the <code>.nav-pills</code> class.</p>

                    <!-- Basic pills -->
                    {{#tab_has 'nav-pills''pill' tabs.items}}
                        <a class="{{class}}" id="{{id}}-pill" data-toggle="pill" href="#{{id}}-tab-pill" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'pt-3''tabContent-pill' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-pill" role="tabpanel" aria-labelledby="{{id}}-pill"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Basic pills -->

                    {{{card_title 'Basic with icons only'}}}
                    <!-- Basic with icons only -->
                    {{#tab_has 'nav-pills''pill-7' tabs.items}}
                        <a class="{{class}}" id="{{id}}-pill-7" data-toggle="pill" href="#{{id}}-tab-pill-7" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}"><i class="{{class_i}}"></i></a>
                    {{/tab_has}}
                    {{#tab_content_has 'pt-3''tabContent-pill-7' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-7" role="tabpanel" aria-labelledby="{{id}}-pill-7"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Basic with icons only -->

                    <hr>
                    {{{card_title 'Justified'}}}
                    <p>To justify the nav, add <code>.nav-justified</code> class to <code>.nav</code>.</p>

                    <!-- Justified pills -->
                    {{#tab_has 'nav-pills nav-justified''pill-2' tabs.items}}
                        <a class="{{class}}" id="{{id}}-pill-2" data-toggle="pill" href="#{{id}}-tab-pill-2" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'pt-3''tabContent-pill-2' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-2" role="tabpanel" aria-labelledby="{{id}}-pill-2"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Justified pills -->

                    <hr>
                    {{{card_title 'Vertical left pills'}}}
                    <p>Stack your navigation by changing the flex item direction with the <code>.flex-column</code> utility</p>
                    <!-- Vertical left pills -->
                    <div class="row">
                        <div class="col-md-4">
                            {{#tab_has 'nav-pills flex-column''pill-4' tabs.items}}
                                <a class="{{class}}" id="{{id}}-pill-4" data-toggle="pill" href="#{{id}}-tab-pill-4" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            {{/tab_has}}
                        </div>
                        <div class="col-md-8">
                            {{#tab_content_has '''tabContent-pill-4' tabs.items}}
                                <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-4" role="tabpanel" aria-labelledby="{{id}}-pill-4"><p>{{{placeholder-lorem-sm}}}</p>
                                </div>
                            {{/tab_content_has}}
                        </div>
                    </div>
                    <!-- /Vertical left pills -->
                    <hr>
                    {{{card_title 'Vertical right pills'}}}
                    <p>Change the visual order of pills navigation to right side with flex <code>.order-*</code> utility</p>

                    <!-- Vertical right pills -->
                    <div class="row">
                        <div class="col-md-4 order-1">
                            {{#tab_has 'nav-pills flex-column''pill-6' tabs.items}}
                                <a class="{{class}}" id="{{id}}-pill-6" data-toggle="pill" href="#{{id}}-tab-pill-6" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            {{/tab_has}}
                        </div>
                        <div class="col-md-8 order-0">
                            {{#tab_content_has '''tabContent-pill-6' tabs.items}}
                                <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-6" role="tabpanel" aria-labelledby="{{id}}-pill-6"><p>{{{placeholder-lorem-sm}}}</p>
                                </div>
                            {{/tab_content_has}}
                        </div>
                    </div>
                    <!-- /Vertical right pills -->


                {{/card_body}}
            {{/card}}
            {{#card}}
                {{{card_header 'Pills with dropdowns'}}}
                {{#card_body}}
                    <!-- Pills with dropdowns -->
                    <ul class="nav nav-pills" id="pill-3" role="tablist">
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-pill-3" data-toggle="pill" href="#{{id}}-tab-pill-3" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                            </li>
                        {{/each}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            {{#ddw_menu_has 'extended'}}
                                {{{ddw_header 'Dropdown header'}}}
                                {{#ddw_items dropdowns.items}}<a class="{{class}}" href="{{url}}">{{text}}</a>{{/ddw_items}}
                            {{/ddw_menu_has}}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    {{#tab_content_has 'pt-3''tabContent-pill-3' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-3" role="tabpanel" aria-labelledby="{{id}}-pill-3"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Pills with dropdowns -->
                {{/card_body}}
            {{/card}}


            {{#card}}
                {{{card_header 'Pill card'}}}
                {{#card_body}}
                    <!-- Pill card -->
                    {{#card}}
                        <div class="card-header">
                            {{#tab_has 'nav-pills card-header-pills''pill-5' tabs.items}}
                                <a class="{{class}} mb-0" id="{{id}}-pill-5" data-toggle="pill" href="#{{id}}-tab-pill-5" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            {{/tab_has}}
                        </div>
                        {{#card_body}}
                            {{#tab_content_has '''tabContent-pill-5' tabs.items}}
                                <div class="{{class_tab_pane}}" id="{{id}}-tab-pill-5" role="tabpanel" aria-labelledby="{{id}}-pill-5"><p>{{{placeholder-lorem-sm}}}</p>
                                </div>
                            {{/tab_content_has}}
                        {{/card_body}}
                    {{/card}}
                    <!-- Pill card -->
                {{/card_body}}
            {{/card}}


            {{#card}}
                {{{card_header 'Vertical tabs'}}}
                {{#card_body}}
                    <!-- Vertical variations -->
                    {{{card_title 'Vertical line left tabs'}}}
                    <p>Wrap tabs and tab content with <code>.extended-vertical.vertical-line</code> class.
                        To add left navigation use <code>.tabs-left</code> class to <code>.nav-tabs</code>.</p>
                    <!-- Vertical line left tabs -->
                    <div class="extended-vertical vertical-line">
                        {{#tab_has 'nav-tabs tabs-left''v-1' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-1" data-toggle="tab" href="#{{id}}-tab-v-1" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3''tabContent-v-1' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-1" role="tabpanel" aria-labelledby="{{id}}-v-1"><p>{{{placeholder-lorem-sm}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Vertical line left tabs -->

                    <hr>
                    {{{card_title 'Vertical line right tabs'}}}
                     <p>Change the visual order of tabs navigation to right side with flex <code>.order-*</code> utility.
                         To add right navigation use <code>.tabs-right</code> class to <code>.nav-tabs</code>.</p>
                    <!-- Vertical line right tabs -->
                    <div class="extended-vertical vertical-line">
                        {{#tab_has 'nav-tabs tabs-right order-1''v-2' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-2" data-toggle="tab" href="#{{id}}-tab-v-2" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3 order-0''tabContent-v-2' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-2" role="tabpanel" aria-labelledby="{{id}}-v-2"><p>{{{placeholder-lorem-sm}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Vertical line right tabs -->

                    <hr>
                    {{{card_title 'Outline left tabs'}}}
                    <p>Wrap tabs and tab content with <code>.extended-vertical.outline</code> class.
                        To add left navigation use <code>.tabs-left</code> class to <code>.nav-tabs</code>.</p>
                    <!-- Outline left tabs -->
                    <div class="extended-vertical outline">
                        {{#tab_has 'nav-tabs tabs-left''v-3' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-3" data-toggle="tab" href="#{{id}}-tab-v-3" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3''tabContent-v-3' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-3" role="tabpanel" aria-labelledby="{{id}}-v-3"><p>{{{placeholder-lorem-sm}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Outline left tabs -->

                    <hr>
                    {{{card_title 'Outline right tabs'}}}
                    <p>Change the visual order of tabs navigation to right side with flex <code>.order-*</code> utility.
                        To add right navigation use <code>.tabs-right</code> class to <code>.nav-tabs</code>.</p>
                    <!-- Outline right tabs -->
                    <div class="extended-vertical outline">
                        {{#tab_has 'nav-tabs tabs-right order-1''v-4' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-4" data-toggle="tab" href="#{{id}}-tab-v-4" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3 order-0''tabContent-v-4' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-4" role="tabpanel" aria-labelledby="{{id}}-v-4"><p>{{{placeholder-lorem-sm}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Outline right tabs -->

                    <hr>
                    {{{card_title 'Primary outline left tabs'}}}
                    <p>Wrap tabs and tab content with <code>.extended-vertical.outline-primary</code> class.
                        To add left navigation use <code>.tabs-left</code> class to <code>.nav-tabs</code>.</p>
                    <!-- Primary outline left tabs -->
                    <div class="extended-vertical outline-primary">
                        {{#tab_has 'nav-tabs tabs-left''v-5' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-5" data-toggle="tab" href="#{{id}}-tab-v-5" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3''tabContent-v-5' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-5" role="tabpanel" aria-labelledby="{{id}}-v-5"><p>{{{placeholder-lorem-sm}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Primary outline left tabs -->

                    <hr>
                    {{{card_title 'Primary outline right tabs'}}}
                    <p>Change the visual order of tabs navigation to right side with flex <code>.order-*</code> utility.
                        To add right navigation use <code>.tabs-right</code> class to <code>.nav-tabs</code>.</p>
                    <!-- Primary outline right tabs -->
                    <div class="extended-vertical outline-primary">
                        {{#tab_has 'nav-tabs tabs-right order-1''v-6' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-6" data-toggle="tab" href="#{{id}}-tab-v-6" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3 order-0''tabContent-v-6' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-6" role="tabpanel" aria-labelledby="{{id}}-v-6"><p>{{{placeholder-lorem-sm}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Primary outline right tabs -->

                    <hr>
                    {{{card_title 'Primary filled left tabs'}}}
                    <p>Wrap tabs and tab content with <code>.extended-vertical.primary-filled</code> class.
                        To add left navigation use <code>.tabs-left</code> class to <code>.nav-tabs</code>.</p>
                    <!-- Primary filled left tabs -->
                    <div class="extended-vertical primary-filled">
                        {{#tab_has 'nav-tabs tabs-left''v-7' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-7" data-toggle="tab" href="#{{id}}-tab-v-7" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3''tabContent-v-7' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-7" role="tabpanel" aria-labelledby="{{id}}-v-7"><p>{{{placeholder-lorem-sm}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Primary filled left tabs -->


                    <hr>
                    {{{card_title 'Primary filled right tabs'}}}
                    <p>Change the visual order of tabs navigation to right side with flex <code>.order-*</code> utility.
                        To add right navigation use <code>.tabs-right</code> class to <code>.nav-tabs</code>.</p>
                    <!-- Primary filled right tabs -->
                    <div class="extended-vertical primary-filled">
                        {{#tab_has 'nav-tabs tabs-right order-1''v-8' tabs.items}}
                            <a class="{{class}}" id="{{id}}-v-8" data-toggle="tab" href="#{{id}}-tab-v-8" role="tab" aria-controls="{{id}}"
                               aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                        {{/tab_has}}
                        {{#tab_content_has 'px-3 order-0''tabContent-v-8' tabs.items}}
                            <div class="{{class_tab_pane}}" id="{{id}}-tab-v-8" role="tabpanel" aria-labelledby="{{id}}-v-8"><p>{{{placeholder-lorem-sm}}}</p></div>
                        {{/tab_content_has}}
                    </div>
                    <!-- Primary filled right tabs -->


                    <!-- /Vertical variations -->
                {{/card_body}}
            {{/card}}


        </div>
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Extended bordered tabs'}}}
                {{#card_body}}
                    <!-- Extended bordered tabs -->
                    {{{card_title 'Extended tab'}}}
                    <p>Use <code>.extended</code> class to <code>.nav</code> for bottom bordered active status type.</p>
                    <!-- Extended tab -->
                    {{#tab_has 'nav-tabs extended''ext' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext" data-toggle="tab" href="#{{id}}-tab-ext" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'py-3''tabContent-ext' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext" role="tabpanel" aria-labelledby="{{id}}-ext"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended tab -->
                    <hr>
                    {{{card_title 'Extended tab justified'}}}
                    <p>To justify the extended type nav, add <code>.extended.nav-justified</code> class to <code>.nav</code>.</p>

                    <!-- Extended tab justified -->
                    {{#tab_has 'nav-tabs extended nav-justified''ext-2' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-2" data-toggle="tab" href="#{{id}}-tab-ext-2" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'py-3''tabContent-ext-2' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-2" role="tabpanel" aria-labelledby="{{id}}-ext-2"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended tab justified -->

                    <!-- /Extended bordered tabs -->
                {{/card_body}}
            {{/card}}



            {{#card}}
                {{{card_header 'Extended arrow tabs'}}}
                {{#card_body}}
                    <!-- Extended arrow tabs -->

                    {{{card_title 'Extended arrow tab'}}}
                    <p>Use <code>.extended-arrow</code> class to <code>.nav</code> for bottom arrow active status type.</p>
                    <!-- Extended arrow tab -->
                    {{#tab_has 'nav-tabs extended-arrow''ext-3' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-3" data-toggle="tab" href="#{{id}}-tab-ext-3" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'py-3''tabContent-ext-3' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-3" role="tabpanel" aria-labelledby="{{id}}-ext-3"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended arrow tab -->

                    <hr>
                    {{{card_title 'Extended arrow tab box'}}}
                    <p>Add <code>.extended-arrow</code> class to <code>.nav</code> and <code>.hasborder</code> class to <code>.tab-content</code></p>
                    <!-- Extended arrow tab box -->
                    {{#tab_has 'nav-tabs extended-arrow''ext-4' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-4" data-toggle="tab" href="#{{id}}-tab-ext-4" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-4' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-4" role="tabpanel" aria-labelledby="{{id}}-ext-4"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended arrow tab box -->

                    <hr>
                    {{{card_title 'Extended filled arrow tab'}}}
                    <p>Add <code>.extended-arrow.filled</code> class to <code>.nav</code> and <code>.hasborder</code> class to <code>.tab-content</code></p>
                    <!-- Extended filled arrow tab -->
                    {{#tab_has 'nav-tabs extended-arrow filled''ext-5' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-5" data-toggle="tab" href="#{{id}}-tab-ext-5" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-5' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-5" role="tabpanel" aria-labelledby="{{id}}-ext-5"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended filled arrow tab -->

                    <!-- /Extended arrow tabs -->
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Extended boxed tabs'}}}
                {{#card_body}}
                    <!-- Extended boxed tabs -->
                    {{{card_title 'Extended box tab'}}}
                    <p>Add <code>.extended-boxed</code> class to <code>.nav</code></p>
                    <!-- Extended box tab -->
                    {{#tab_has 'nav-tabs extended-boxed''ext-6' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-6" data-toggle="tab" href="#{{id}}-tab-ext-6" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}"><i class="{{class_i}} mr-2"></i>{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-6' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-6" role="tabpanel" aria-labelledby="{{id}}-ext-6"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab -->
                    <hr>
                    {{{card_title 'Extended box tab justified'}}}
                    <p>Use <code>.extended-boxed.nav-justified</code> class to set tabs justified.</p>
                    <!-- Extended box tab justified -->
                    {{#tab_has 'nav-tabs extended-boxed nav-justified''ext-7' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-7" data-toggle="tab" href="#{{id}}-tab-ext-7" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-7' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-7" role="tabpanel" aria-labelledby="{{id}}-ext-7"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab justified -->

                    <hr>
                    {{{card_title 'Extended box tab titled'}}}
                    <p>To make the titled box, create the wrapper with <code>.mr-auto</code> to the first <code>&lt;li class="nav-item"&gt;</code>.
                        Then add the title and wrap it with <code>.boxed-tab-title</code>.
                    </p>
                    <!-- Extended box tab titled -->
                    <ul class="nav nav-tabs extended-boxed" id="ext-8" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-ext-8" data-toggle="tab" href="#{{id}}-tab-ext-8" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            </li>
                        {{/each}}
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-8' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-8" role="tabpanel" aria-labelledby="{{id}}-ext-8"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab titled -->

                    <!-- /Extended boxed tabs -->

                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Extended box tab themes'}}}
                {{#card_body}}
                    <!-- Extended box tab themes -->
                    <p>Extended box themes are created with the <code>.extended-boxed</code> class, followed by one of the contextual classes
                        <code>.success-box</code>, <code>.info-box</code>, <code>.warning-box</code>, <code>.danger-box</code>, <code>.primary-box</code>, <code>.secondary-box</code>, <code>.light-box</code> or <code>.dark-box</code>
                    </p>

                    {{{card_title 'Primary'}}}
                    <!-- Extended box tab primary theme -->
                    <ul class="nav nav-tabs extended-boxed primary-box" id="ext-9" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-ext-9" data-toggle="tab" href="#{{id}}-tab-ext-9" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            </li>
                        {{/each}}
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-9' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-9" role="tabpanel" aria-labelledby="{{id}}-ext-9"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab primary theme -->
                    <hr>
                    {{{card_title 'Secondary'}}}
                    <!-- Extended box tab secondary theme -->
                    <ul class="nav nav-tabs extended-boxed secondary-box" id="ext-10" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-ext-10" data-toggle="tab" href="#{{id}}-tab-ext-10" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            </li>
                        {{/each}}
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-10' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-10" role="tabpanel" aria-labelledby="{{id}}-ext-10"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab secondary theme -->

                    <hr>
                    {{{card_title 'Info'}}}
                    <!-- Extended box tab info theme -->
                    <ul class="nav nav-tabs extended-boxed info-box" id="ext-11" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>
                        {{#each tabs.items}}
                            <li class="nav-item">
                                <a class="{{class}}" id="{{id}}-ext-11" data-toggle="tab" href="#{{id}}-tab-ext-11" role="tab" aria-controls="{{id}}"
                                   aria-selected="{{aria-selected}}">{{text}}</a>
                            </li>
                        {{/each}}
                    </ul>
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-11' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-11" role="tabpanel" aria-labelledby="{{id}}-ext-11"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab info theme -->

                    <hr>
                    {{{card_title 'Success'}}}
                    <!-- Extended box tab success theme -->
                    {{#tab_has 'nav-tabs extended-boxed success-box''ext-12' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-12" data-toggle="tab" href="#{{id}}-tab-ext-12" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-12' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-12" role="tabpanel" aria-labelledby="{{id}}-ext-12"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab success theme -->

                    <hr>
                    {{{card_title 'Warning'}}}
                    <!-- Extended box tab warning theme -->
                    {{#tab_has 'nav-tabs extended-boxed warning-box''ext-13' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-13" data-toggle="tab" href="#{{id}}-tab-ext-13" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-13' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-13" role="tabpanel" aria-labelledby="{{id}}-ext-13"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab warning theme -->

                    <hr>
                    {{{card_title 'Danger'}}}
                    <!-- Extended box tab danger theme -->
                    {{#tab_has 'nav-tabs extended-boxed danger-box''ext-14' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-14" data-toggle="tab" href="#{{id}}-tab-ext-14" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-14' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-14" role="tabpanel" aria-labelledby="{{id}}-ext-14"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab danger theme -->

                    <hr>
                    {{{card_title 'Light'}}}
                    <!-- Extended box tab light theme -->
                    {{#tab_has 'nav-tabs extended-boxed light-box''ext-15' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-15" data-toggle="tab" href="#{{id}}-tab-ext-15" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-15' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-15" role="tabpanel" aria-labelledby="{{id}}-ext-15"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab light theme -->

                    <hr>
                    {{{card_title 'Dark'}}}
                    <!-- Extended box tab dark theme -->
                    {{#tab_has 'nav-tabs extended-boxed dark-box''ext-16' tabs.items}}
                        <a class="{{class}}" id="{{id}}-ext-16" data-toggle="tab" href="#{{id}}-tab-ext-16" role="tab" aria-controls="{{id}}"
                           aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder p-3''tabContent-ext-16' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}-tab-ext-16" role="tabpanel" aria-labelledby="{{id}}-ext-16"><p>{{{placeholder-lorem-sm}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Extended box tab dark theme -->

                    <!-- /Extended box tab themes -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>
