---
title: "Tabs"
lead: A tab is a hidden section of content activated by a menu.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pr-md-2">

            {{#card}}
                {{{card_header 'Basic'}}}
                {{#card_body}}
                    <p>Turn the nav menu into navigation tabs with the <code>.nav-tabs</code> class. Add the <code>.active</code> class to the active/current link.</p>
                    <!-- Basic tab -->
                    {{#tab_has 'nav-tabs''myTab' tabs.items}}
                        <a class="{{class}}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab" aria-controls="{{id}}" aria-selected="{{aria-selected}}">{{text}}</a>
                    {{/tab_has}}
                    {{#tab_content_has 'hasborder''myTabContent' tabs.items}}
                        <div class="{{class_tab_pane}}" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab"><p>{{{placeholder-lorem-sht}}}</p></div>
                    {{/tab_content_has}}
                    <!-- /Basic tab -->

                    <hr>
                    {{{card_title 'Justified'}}}
                    <p>Add the <code>.nav-justified</code> class to justify the nav.</p>
                    <!-- Justified -->
                    <ul class="nav nav-tabs nav-justified" id="myTab-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-3" data-toggle="tab" href="#home-3" role="tab"
                               aria-controls="home-3" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-3" data-toggle="tab" href="#profile-3" role="tab"
                               aria-controls="profile-3" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-3" data-toggle="tab" href="#message-3" role="tab"
                               aria-controls="message-3" aria-selected="false">Messages</a>
                        </li>
                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-3">
                        <div class="tab-pane p-3 fade show active" id="home-3" role="tabpanel"
                             aria-labelledby="home-tab-3">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-3" role="tabpanel" aria-labelledby="profile-tab-3">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-3" role="tabpanel" aria-labelledby="message-tab-3">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>
                    <!-- Justified -->

                    <h6 class="card-title mt-4">Centered</h6>
                    <ul class="nav nav-tabs justify-content-center" id="myTab-5" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-5" data-toggle="tab" href="#home-5" role="tab"
                               aria-controls="home-5" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-5" data-toggle="tab" href="#profile-5" role="tab"
                               aria-controls="profile-5" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-5" data-toggle="tab" href="#message-5" role="tab"
                               aria-controls="message-5" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-5">
                        <div class="tab-pane p-3 fade show active" id="home-5" role="tabpanel"
                             aria-labelledby="home-tab-5">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-5" role="tabpanel" aria-labelledby="profile-tab-5">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-5" role="tabpanel" aria-labelledby="message-tab-5">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Right-aligned</h6>
                    <ul class="nav nav-tabs justify-content-end" id="myTab-6" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-6" data-toggle="tab" href="#home-6" role="tab"
                               aria-controls="home-6" aria-selected="true"><i class="icon-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-6" data-toggle="tab" href="#profile-6" role="tab"
                               aria-controls="profile-6" aria-selected="false"><i class="icon-user"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-6" data-toggle="tab" href="#message-6" role="tab"
                               aria-controls="message-6" aria-selected="false"><i class="icon-envelope"></i></a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-6">
                        <div class="tab-pane p-3 fade show active" id="home-6" role="tabpanel"
                             aria-labelledby="home-tab-6">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-6" role="tabpanel" aria-labelledby="profile-tab-6">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-6" role="tabpanel" aria-labelledby="message-tab-6">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>


                {{/card_body}}
            {{/card}}


            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Tab with dropdown</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-2" data-toggle="tab" href="#home-2" role="tab"
                               aria-controls="home-2" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-2" data-toggle="tab" href="#profile-2" role="tab"
                               aria-controls="profile-2" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-2" data-toggle="tab" href="#message-2" role="tab"
                               aria-controls="message-2" aria-selected="false">Messages</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu extended ">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-2">
                        <div class="tab-pane p-3 fade show active" id="home-2" role="tabpanel"
                             aria-labelledby="home-tab-2">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-2" role="tabpanel" aria-labelledby="profile-tab-2">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-2" role="tabpanel" aria-labelledby="message-tab-2">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>


                    <h6 class="card-title mt-4">Dropdown right-aligned</h6>
                    <ul class="nav nav-tabs" id="myTab-14" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-14" data-toggle="tab" href="#home-14" role="tab"
                               aria-controls="home-14" aria-selected="true"><i class="icon-home mr-2"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-14" data-toggle="tab" href="#profile-14" role="tab"
                               aria-controls="profile-14" aria-selected="false"><i class="icon-user mr-2"></i>Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-14" data-toggle="tab" href="#message-14" role="tab"
                               aria-controls="message-14" aria-selected="false"><i class="icon-envelope mr-2"></i>Messages</a>
                        </li>

                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                            <div class="dropdown-menu extended dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-14">
                        <div class="tab-pane p-3 fade show active" id="home-14" role="tabpanel"
                             aria-labelledby="home-tab-14">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-14" role="tabpanel" aria-labelledby="profile-tab-14">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-14" role="tabpanel" aria-labelledby="message-tab-14">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Pills</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-pills" id="myTab-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-4" data-toggle="tab" href="#home-4" role="tab"
                               aria-controls="home-4" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-4" data-toggle="tab" href="#profile-4" role="tab"
                               aria-controls="profile-4" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-4" data-toggle="tab" href="#message-4" role="tab"
                               aria-controls="message-4" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-4">
                        <div class="tab-pane py-2 fade show active" id="home-4" role="tabpanel"
                             aria-labelledby="home-tab-4">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="profile-4" role="tabpanel" aria-labelledby="profile-tab-4">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="message-4" role="tabpanel" aria-labelledby="message-tab-4">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Justified</h6>
                    <ul class="nav nav-pills nav-justified" id="myTab-7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-7" data-toggle="tab" href="#home-7" role="tab"
                               aria-controls="home-7" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-7" data-toggle="tab" href="#profile-7" role="tab"
                               aria-controls="profile-7" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-7" data-toggle="tab" href="#message-7" role="tab"
                               aria-controls="message-7" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-7">
                        <div class="tab-pane py-2 fade show active" id="home-7" role="tabpanel"
                             aria-labelledby="home-tab-7">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="profile-7" role="tabpanel" aria-labelledby="profile-tab-7">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="message-7" role="tabpanel" aria-labelledby="message-tab-7">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Pill card</h6>
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills">

                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab-29" data-toggle="tab" href="#home-29"
                                       role="tab"
                                       aria-controls="home-29" aria-selected="true">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab-29" data-toggle="tab" href="#profile-29"
                                       role="tab"
                                       aria-controls="profile-29" aria-selected="false">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="message-tab-29" data-toggle="tab" href="#message-29"
                                       role="tab"
                                       aria-controls="message-29" aria-selected="false">Messages</a>
                                </li>

                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent-29">
                                <div class="tab-pane fade show active" id="home-29" role="tabpanel"
                                     aria-labelledby="home-tab-29">
                                    <p>
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="profile-29" role="tabpanel"
                                     aria-labelledby="profile-tab-29">
                                    <p>
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="message-29" role="tabpanel"
                                     aria-labelledby="message-tab-29">
                                    <p>
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Vertical</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <h6 class="card-title">Right line</h6>
                    <div class="extended-vertical right-line">
                        <ul class="nav nav-tabs" id="myTab-8" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-8" data-toggle="tab" href="#home-8" role="tab"
                                   aria-controls="home-8" aria-selected="true"><i class="icon-home mr-2"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-8" data-toggle="tab" href="#profile-8" role="tab"
                                   aria-controls="profile-8" aria-selected="false"><i class="icon-user mr-2"></i>Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-8" data-toggle="tab" href="#message-8" role="tab"
                                   aria-controls="message-8" aria-selected="false"><i class="icon-envelope mr-2"></i>Messages</a>
                            </li>

                        </ul>
                        <div class="tab-content px-3" id="myTabContent-8">
                            <div class="tab-pane fade show active" id="home-8" role="tabpanel"
                                 aria-labelledby="home-tab-8">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile-8" role="tabpanel"
                                 aria-labelledby="profile-tab-8">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="message-8" role="tabpanel"
                                 aria-labelledby="message-tab-8">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                                </p>
                            </div>
                        </div>

                    </div>

                    <h6 class="card-title mt-4">Outline</h6>
                    <div class="extended-vertical outline">
                        <ul class="nav nav-tabs" id="myTab-9" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-9" data-toggle="tab" href="#home-9" role="tab"
                                   aria-controls="home-9" aria-selected="true"><i class="icon-home mr-2"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-9" data-toggle="tab" href="#profile-9" role="tab"
                                   aria-controls="profile-9" aria-selected="false"><i class="icon-user mr-2"></i>Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-9" data-toggle="tab" href="#message-9" role="tab"
                                   aria-controls="message-9" aria-selected="false"><i class="icon-envelope mr-2"></i>Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content px-3" id="myTabContent-9">
                            <div class="tab-pane fade show active" id="home-9" role="tabpanel"
                                 aria-labelledby="home-tab-9">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile-9" role="tabpanel"
                                 aria-labelledby="profile-tab-9">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="message-9" role="tabpanel"
                                 aria-labelledby="message-tab-9">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-title mt-5">Primary outline</h6>
                    <div class="extended-vertical outline-primary">
                        <ul class="nav nav-tabs" id="myTab-10" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-10" data-toggle="tab" href="#home-10" role="tab"
                                   aria-controls="home-10" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-10" data-toggle="tab" href="#profile-10" role="tab"
                                   aria-controls="profile-10" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-10" data-toggle="tab" href="#message-10" role="tab"
                                   aria-controls="message-10" aria-selected="false">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content px-3" id="myTabContent-10">
                            <div class="tab-pane fade show active" id="home-10" role="tabpanel"
                                 aria-labelledby="home-tab-10">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile-10" role="tabpanel"
                                 aria-labelledby="profile-tab-10">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="message-10" role="tabpanel"
                                 aria-labelledby="message-tab-10">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-title mt-5">Primary filled</h6>
                    <div class="extended-vertical primary-filled">
                        <ul class="nav nav-tabs" id="myTab-11" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-11" data-toggle="tab" href="#home-11" role="tab"
                                   aria-controls="home-11" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-11" data-toggle="tab" href="#profile-11" role="tab"
                                   aria-controls="profile-11" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-11" data-toggle="tab" href="#message-11" role="tab"
                                   aria-controls="message-11" aria-selected="false">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content px-3" id="myTabContent-11">
                            <div class="tab-pane fade show active" id="home-11" role="tabpanel"
                                 aria-labelledby="home-tab-11">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile-11" role="tabpanel"
                                 aria-labelledby="profile-tab-11">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="message-11" role="tabpanel"
                                 aria-labelledby="message-tab-11">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Extended</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs extended" id="myTab-12" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-12" data-toggle="tab" href="#home-12" role="tab"
                               aria-controls="home-12" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-12" data-toggle="tab" href="#profile-12" role="tab"
                               aria-controls="profile-12" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-12" data-toggle="tab" href="#message-12" role="tab"
                               aria-controls="message-12" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-12">
                        <div class="tab-pane py-2 fade show active" id="home-12" role="tabpanel"
                             aria-labelledby="home-tab-12">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="profile-12" role="tabpanel"
                             aria-labelledby="profile-tab-12">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="message-12" role="tabpanel"
                             aria-labelledby="message-tab-12">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title">Justified </h6>

                    <ul class="nav nav-tabs nav-justified extended" id="myTab-13" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-13" data-toggle="tab" href="#home-13" role="tab"
                               aria-controls="home-13" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-13" data-toggle="tab" href="#profile-13" role="tab"
                               aria-controls="profile-13" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-13" data-toggle="tab" href="#message-13" role="tab"
                               aria-controls="message-13" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-13">
                        <div class="tab-pane py-2 fade show active" id="home-13" role="tabpanel"
                             aria-labelledby="home-tab-13">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="profile-13" role="tabpanel"
                             aria-labelledby="profile-tab-13">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="message-13" role="tabpanel"
                             aria-labelledby="message-tab-13">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Extended Arrow</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs extended-arrow" id="myTab-26" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-26" data-toggle="tab" href="#home-26" role="tab"
                               aria-controls="home-26" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-26" data-toggle="tab" href="#profile-26" role="tab"
                               aria-controls="profile-26" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-26" data-toggle="tab" href="#message-26" role="tab"
                               aria-controls="message-26" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-26">
                        <div class="tab-pane py-3 fade show active" id="home-26" role="tabpanel"
                             aria-labelledby="home-tab-26">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-3 fade" id="profile-26" role="tabpanel"
                             aria-labelledby="profile-tab-26">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-3 fade" id="message-26" role="tabpanel"
                             aria-labelledby="message-tab-26">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title">Box arrow</h6>

                    <ul class="nav nav-tabs extended-arrow" id="myTab-27" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-27" data-toggle="tab" href="#home-27" role="tab"
                               aria-controls="home-27" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-27" data-toggle="tab" href="#profile-27" role="tab"
                               aria-controls="profile-27" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-27" data-toggle="tab" href="#message-27" role="tab"
                               aria-controls="message-27" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-27">
                        <div class="tab-pane p-3 fade show active" id="home-27" role="tabpanel"
                             aria-labelledby="home-tab-27">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-27" role="tabpanel" aria-labelledby="profile-tab-27">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-27" role="tabpanel" aria-labelledby="message-tab-27">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>


                    <h6 class="card-title mt-4">Filled arrow</h6>
                    <ul class="nav nav-tabs extended-arrow filled" id="myTab-28" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-28" data-toggle="tab" href="#home-28" role="tab"
                               aria-controls="home-28" aria-selected="true"><i class="icon-home mr-2"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-28" data-toggle="tab" href="#profile-28" role="tab"
                               aria-controls="profile-28" aria-selected="false"><i class="icon-user mr-2"></i>Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-28" data-toggle="tab" href="#message-28" role="tab"
                               aria-controls="message-28" aria-selected="false"><i class="icon-envelope mr-2"></i>Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-28">
                        <div class="tab-pane p-3 fade show active" id="home-28" role="tabpanel"
                             aria-labelledby="home-tab-28">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-28" role="tabpanel" aria-labelledby="profile-tab-28">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-28" role="tabpanel" aria-labelledby="message-tab-28">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Extended Boxed</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs extended-boxed" id="myTab-15" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab-15" data-toggle="tab" href="#home-15" role="tab"
                               aria-controls="home-15" aria-selected="true"><i class="icon-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab-15" data-toggle="tab" href="#profile-15" role="tab"
                               aria-controls="profile-15" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-15" data-toggle="tab" href="#message-15" role="tab"
                               aria-controls="message-15" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-15">
                        <div class="tab-pane p-3 fade" id="home-15" role="tabpanel"
                             aria-labelledby="home-tab-15">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade show active" id="profile-15" role="tabpanel" aria-labelledby="profile-tab-15">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-15" role="tabpanel" aria-labelledby="message-tab-15">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Justified</h6>
                    <ul class="nav nav-tabs nav-justified extended-boxed" id="myTab-16" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-16" data-toggle="tab" href="#home-16" role="tab"
                               aria-controls="home-16" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-16" data-toggle="tab" href="#profile-16" role="tab"
                               aria-controls="profile-16" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-16" data-toggle="tab" href="#message-16" role="tab"
                               aria-controls="message-16" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-16">
                        <div class="tab-pane p-3 fade show active" id="home-16" role="tabpanel"
                             aria-labelledby="home-tab-16">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-16" role="tabpanel" aria-labelledby="profile-tab-16">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-16" role="tabpanel" aria-labelledby="message-tab-16">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Titled</h6>
                    <ul class="nav nav-tabs extended-boxed" id="myTab-17" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-17" data-toggle="tab" href="#home-17" role="tab"
                               aria-controls="home-17" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-17" data-toggle="tab" href="#profile-17" role="tab"
                               aria-controls="profile-17" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-17" data-toggle="tab" href="#message-17" role="tab"
                               aria-controls="message-17" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-17">
                        <div class="tab-pane p-3 fade show active" id="home-17" role="tabpanel"
                             aria-labelledby="home-tab-17">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-17" role="tabpanel" aria-labelledby="profile-tab-17">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-17" role="tabpanel" aria-labelledby="message-tab-17">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Primary</h6>
                    <ul class="nav nav-tabs extended-boxed primary-box" id="myTab-18" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-18" data-toggle="tab" href="#home-18" role="tab"
                               aria-controls="home-18" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-18" data-toggle="tab" href="#profile-18" role="tab"
                               aria-controls="profile-18" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-18" data-toggle="tab" href="#message-18" role="tab"
                               aria-controls="message-18" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-18">
                        <div class="tab-pane p-3 fade show active" id="home-18" role="tabpanel"
                             aria-labelledby="home-tab-18">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-18" role="tabpanel" aria-labelledby="profile-tab-18">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-18" role="tabpanel" aria-labelledby="message-tab-18">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Secondary</h6>
                    <ul class="nav nav-tabs extended-boxed secondary-box" id="myTab-19" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-19" data-toggle="tab" href="#home-19" role="tab"
                               aria-controls="home-19" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-19" data-toggle="tab" href="#profile-19" role="tab"
                               aria-controls="profile-19" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-19" data-toggle="tab" href="#message-19" role="tab"
                               aria-controls="message-19" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-19">
                        <div class="tab-pane p-3 fade show active" id="home-19" role="tabpanel"
                             aria-labelledby="home-tab-19">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-19" role="tabpanel" aria-labelledby="profile-tab-19">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-19" role="tabpanel" aria-labelledby="message-tab-19">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Info</h6>
                    <ul class="nav nav-tabs extended-boxed info-box" id="myTab-20" role="tablist">
                        <li class="nav-item mr-auto">
                            <h6 class="boxed-tab-title m-0 pl-2">CONTENT BOX TITLE</h6>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-20" data-toggle="tab" href="#home-20" role="tab"
                               aria-controls="home-20" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-20" data-toggle="tab" href="#profile-20" role="tab"
                               aria-controls="profile-20" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-20" data-toggle="tab" href="#message-20" role="tab"
                               aria-controls="message-20" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-20">
                        <div class="tab-pane p-3 fade show active" id="home-20" role="tabpanel"
                             aria-labelledby="home-tab-20">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-20" role="tabpanel" aria-labelledby="profile-tab-20">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-20" role="tabpanel" aria-labelledby="message-tab-20">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Success</h6>
                    <ul class="nav nav-tabs extended-boxed success-box" id="myTab-21" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-21" data-toggle="tab" href="#home-21" role="tab"
                               aria-controls="home-21" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-21" data-toggle="tab" href="#profile-21" role="tab"
                               aria-controls="profile-21" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-21" data-toggle="tab" href="#message-21" role="tab"
                               aria-controls="message-21" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-21">
                        <div class="tab-pane p-3 fade show active" id="home-21" role="tabpanel"
                             aria-labelledby="home-tab-21">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-21" role="tabpanel" aria-labelledby="profile-tab-21">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-21" role="tabpanel" aria-labelledby="message-tab-21">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Warning</h6>
                    <ul class="nav nav-tabs extended-boxed warning-box" id="myTab-22" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-22" data-toggle="tab" href="#home-22" role="tab"
                               aria-controls="home-22" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-22" data-toggle="tab" href="#profile-22" role="tab"
                               aria-controls="profile-22" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-22" data-toggle="tab" href="#message-22" role="tab"
                               aria-controls="message-22" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-22">
                        <div class="tab-pane p-3 fade show active" id="home-22" role="tabpanel"
                             aria-labelledby="home-tab-22">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-22" role="tabpanel" aria-labelledby="profile-tab-22">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-22" role="tabpanel" aria-labelledby="message-tab-22">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Danger</h6>
                    <ul class="nav nav-tabs extended-boxed danger-box" id="myTab-23" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-23" data-toggle="tab" href="#home-23" role="tab"
                               aria-controls="home-23" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-23" data-toggle="tab" href="#profile-23" role="tab"
                               aria-controls="profile-23" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-23" data-toggle="tab" href="#message-23" role="tab"
                               aria-controls="message-23" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-23">
                        <div class="tab-pane p-3 fade show active" id="home-23" role="tabpanel"
                             aria-labelledby="home-tab-23">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-23" role="tabpanel" aria-labelledby="profile-tab-23">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-23" role="tabpanel" aria-labelledby="message-tab-23">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Light</h6>
                    <ul class="nav nav-tabs extended-boxed light-box" id="myTab-24" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-24" data-toggle="tab" href="#home-24" role="tab"
                               aria-controls="home-24" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-24" data-toggle="tab" href="#profile-24" role="tab"
                               aria-controls="profile-24" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-24" data-toggle="tab" href="#message-24" role="tab"
                               aria-controls="message-24" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-24">
                        <div class="tab-pane p-3 fade show active" id="home-24" role="tabpanel"
                             aria-labelledby="home-tab-24">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-24" role="tabpanel" aria-labelledby="profile-tab-24">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-24" role="tabpanel" aria-labelledby="message-tab-24">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title mt-4">Dark</h6>
                    <ul class="nav nav-tabs extended-boxed dark-box" id="myTab-25" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-25" data-toggle="tab" href="#home-25" role="tab"
                               aria-controls="home-25" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-25" data-toggle="tab" href="#profile-25" role="tab"
                               aria-controls="profile-25" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-25" data-toggle="tab" href="#message-25" role="tab"
                               aria-controls="message-25" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-25">
                        <div class="tab-pane p-3 fade show active" id="home-25" role="tabpanel"
                             aria-labelledby="home-tab-25">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-25" role="tabpanel" aria-labelledby="profile-tab-25">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-25" role="tabpanel" aria-labelledby="message-tab-25">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>