---
title: "Tooltips"
lead: Add small overlays of content for housing secondary information.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{#card}}
                {{{card_header 'Interactive demo'}}}
                {{#card_body}}
                    <p class="text-muted">Hover over the links below to see tooltips:</p>
                    <!-- Interactive demo -->
                    <p><span class="placeholder small">Tight pants next level keffiyeh</span>
                        <a href="#" data-toggle="tooltip" title="" data-original-title="Default tooltip">you probably</a> <span class="placeholder small">haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel</span>
                        <a href="#" data-toggle="tooltip" title="" data-original-title="Another tooltip">have a</a> <span class="placeholder small">terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan</span>
                        <a href="#" data-toggle="tooltip" title="" data-original-title="Another one here too">whatever keytar</a>, <span class="placeholder small">scenester farm-to-table banksy Austin</span>
                        <a href="#" data-toggle="tooltip" title="" data-original-title="The last tip!">twitter handle</a> <span class="placeholder small">freegan cred raw denim single-origin coffee viral.</span>
                    </p>
                    <!-- /Interactive demo -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-md-12 pr-xl-2">
            {{#card}}
                {{{card_header 'All Four Directions'}}}
                {{#card_body}}
                    <!-- All Four Directions -->
                    <p>Hover over the buttons below to see the four tooltips directions: top, right, bottom, and left.</p>
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip on top -->
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Tooltip on top
                            </button>
                            <!-- /Tooltip on top -->
                            <p>Add <code>data-toggle="tooltip"</code> & <code>data-placement="top"</code> to add top tooltip.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip on right -->
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                Tooltip on right
                            </button>
                            <!-- /Tooltip on right -->
                            <p>Add <code>data-toggle="tooltip"</code> & <code>data-placement="right"</code> to add top tooltip.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip on bottom -->
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                                Tooltip on bottom
                            </button>
                            <!-- /Tooltip on bottom -->
                            <p>Add <code>data-toggle="tooltip"</code> & <code>data-placement="bottom"</code> to add top tooltip.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip on left -->
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                                Tooltip on left
                            </button>
                            <!-- /Tooltip on left -->
                            <p>Add <code>data-toggle="tooltip"</code> & <code>data-placement="left"</code> to add top tooltip.</p>
                        </div>
                    </div>
                    <!-- /All Four Directions -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-md-12 pl-xl-2">
            {{#card}}
                {{{card_header 'Tooltip triggers'}}}
                {{#card_body}}
                    <p>Tooltip is triggered using - click | hover | focus | manual options. You may pass multiple triggers; separate them with a space. "manual" cannot be combined with any other trigger.</p>

                    <!-- Tooltip triggers -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <button type="button" class="btn btn-info" data-toggle="tooltip" data-original-title="Click Triggered" data-trigger="click">
                                On click trigger
                            </button>
                            <p>Use <code>data-trigger="click"</code> for click trigger.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <button type="button" class="btn btn-info" data-toggle="tooltip" data-original-title="Focus Triggered" data-trigger="focus">
                                On focus trigger
                            </button>
                            <p>Use <code>data-trigger="focus"</code> for focus trigger.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <button type="button" class="btn btn-info" data-toggle="tooltip" data-original-title="Hover Triggered" data-trigger="hover">
                                On hover trigger
                            </button>
                            <p>Use <code>data-trigger="hover"</code> for hover trigger. This is a default trigger.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <button type="button" class="btn btn-info manual" data-toggle="tooltip" data-original-title="Manual Triggered" data-trigger="manual">
                                On manual trigger
                            </button>
                            <p>Use <code>data-trigger="manual"</code> for manual trigger. You can do show/hide using js</p>
                        </div>
                    </div>
                    <!-- /Tooltip triggers -->

                    <button type="button" class="btn btn-danger btn-sm" data-animate=" animated fadeInDown" data-toggle="tooltip" data-original-title="Hover Triggered"
                            data-trigger="hover">
                        Animation testing.. delete later.. bcoz tooltip is appearing top left
                    </button>
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Style variations'}}}
                {{#card_body}}

                    <!-- /Style variations -->

                    <p>Add <code>data-color</code> attribute (like <code>data-color="primary"</code>) for tooltip with all theme colors.</p>
                    <button type="button" class="btn btn-primary btn-icon btn-sm" data-toggle="tooltip" data-color="primary" data-original-title="Primary tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-secondary btn-icon btn-sm" data-toggle="tooltip" data-color="secondary" data-original-title="Secondary tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-success btn-icon btn-sm" data-toggle="tooltip" data-color="success" data-original-title="Success tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-danger btn-icon btn-sm" data-toggle="tooltip" data-color="danger" data-original-title="Danger tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-warning btn-icon btn-sm" data-toggle="tooltip" data-color="warning" data-original-title="Warning tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-info btn-icon btn-sm" data-toggle="tooltip" data-color="info" data-original-title="Info tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-light btn-icon btn-sm" data-toggle="tooltip" data-color="light" data-original-title="Light tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-dark btn-icon btn-sm" data-toggle="tooltip" data-color="dark" data-original-title="Dark tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <!-- /Style variations -->
                {{/card_body}}
            {{/card}}

        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Tooltip with HTML'}}}
                {{#card_body}}
                    <p>Use <code>data-html="true"</code> for HTML supported trigger.</p>
                    <!-- Tooltip with HTML -->
                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-html="true"
                            title="<em>Tooltip</em> <u>with</u> <b>HTML</b> <i class='icon-heart'></i>">
                        Tooltip with HTML
                    </button>
                    <!-- /Tooltip with HTML -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pr-2"></div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Tooltip Triggers</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Multiple events</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <span data-toggle="modal" data-target="#myLeadsModal">
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Tooltip on top">
                   Tooltip + Modal
                    <span class="badge badge-danger ml-1">4</span>
                    </button>
                    </span>

                    <div class="modal fade" id="myLeadsModal" tabindex="-1" role="dialog" aria-labelledby="myLeadsModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myLeadsModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <span data-toggle="tooltip" data-placement="right" title="Tooltip on top">
                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"
                            data-placement="left" title="Popover on left"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                   Tooltip + Popover
                         <span class="badge badge-info ml-1">4</span>
                    </button>
                    </span>


                </div>
            </div>

        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Tooltip Triggers</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
</div>