---
title: "Tooltips"
lead: Add small overlays of content for housing secondary information.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-12 pr-xl-2">
            {{#card}}
                {{{card_header 'Static demo'}}}
                {{#card_body_has 'example'''}}
                    <p>By default, the tooltip will appear on top of the element. Use the <code>data-placement</code> attribute to set the position of the tooltip on top, bottom, left or the right side of the element:
                    </p>
                    <!-- Static demo -->
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                            <div class="tooltip bs-tooltip-top show" role="tooltip">
                                <div class="arrow" style="left: 50%; margin-left: -5px;"></div>
                                <div class="tooltip-inner" style="max-width: none;">Tooltip on top</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                            <div class="tooltip bs-tooltip-bottom show" role="tooltip">
                                <div class="arrow" style="left: 50%; margin-left: -5px;"></div>
                                <div class="tooltip-inner" style="max-width: none;">Tooltip on bottom</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                            <div class="tooltip bs-tooltip-right show" role="tooltip">
                                <div class="arrow" style="top: 50%; margin-top: -5px;"></div>
                                <div class="tooltip-inner" style="max-width: none;">Tooltip on right</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                            <div class="tooltip bs-tooltip-left show" role="tooltip">
                                <div class="arrow" style="top: 50%; margin-top: -5px;"></div>
                                <div class="tooltip-inner" style="max-width: none;">Tooltip on left</div>
                            </div>
                        </div>
                    </div>
                    <!-- /Static demo -->
                {{/card_body_has}}
            {{/card}}
        </div>
        <div class="col-xl-6 col-md-12 pl-xl-2">
            {{#card}}
                {{{card_header 'Interactive demo'}}}
                {{#card_body}}
                    <p class="text-muted">Hover over the links below to see tooltips:</p>
                    <!-- Interactive demo -->
                    <p><span class="placeholder small">Tight pants next level keffiyeh</span>
                        <a href="#" data-toggle="tooltip" title="Default tooltip">you probably</a> <span class="placeholder small">haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel</span>
                        <a href="#" data-toggle="tooltip" title="Another tooltip">have a</a> <span class="placeholder small">terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan</span>
                        <a href="#" data-toggle="tooltip" title="Another one here too">whatever keytar</a>, <span class="placeholder small">scenester farm-to-table banksy Austin</span>
                        <a href="#" data-toggle="tooltip" title="The last tip!">twitter handle</a> <span class="placeholder small">freegan cred raw denim...</span>
                    </p>
                    <!-- /Interactive demo -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-md-12">
            {{#card}}
                {{{card_header 'All Four Directions'}}}
                {{#card_body}}
                    <!-- All Four Directions -->
                    <p>Hover over the buttons below to see the four tooltips directions: top, right, bottom, and left.</p>
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip on top -->
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Tooltip on top
                            </button>
                            <!-- /Tooltip on top -->
                            <p>Add <code>data-toggle="tooltip"</code> & <code>data-placement="top"</code> to add top tooltip.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip on right -->
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                Tooltip on right
                            </button>
                            <!-- /Tooltip on right -->
                            <p>Add <code>data-toggle="tooltip"</code> & <code>data-placement="right"</code> to add top tooltip.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip on bottom -->
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                                Tooltip on bottom
                            </button>
                            <!-- /Tooltip on bottom -->
                            <p>Add <code>data-toggle="tooltip"</code> & <code>data-placement="bottom"</code> to add top tooltip.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip on left -->
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                                Tooltip on left
                            </button>
                            <!-- /Tooltip on left -->
                            <p>Add <code>data-toggle="tooltip"</code> & <code>data-placement="left"</code> to add top tooltip.</p>
                        </div>
                    </div>
                    <!-- /All Four Directions -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-md-12">
            {{#card}}
                {{{card_header 'Tooltip triggers'}}}
                {{#card_body}}
                    <p>Tooltip is triggered using - click | hover | focus | manual options. You may pass multiple triggers; separate them with a space. "manual" cannot be combined with any other trigger.</p>

                    <!-- Tooltip triggers -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- On click trigger -->
                            <button type="button" class="btn btn-info" data-toggle="tooltip" title="Click Triggered" data-trigger="click">
                                On click trigger
                            </button>
                            <!-- /On click trigger -->
                            <p>Use <code>data-trigger="click"</code> for click trigger.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- On focus trigger -->
                            <button type="button" class="btn btn-info" data-toggle="tooltip" title="Focus Triggered" data-trigger="focus">
                                On focus trigger
                            </button>
                            <!-- /On focus trigger -->
                            <p>Use <code>data-trigger="focus"</code> for focus trigger.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- On hover trigger -->
                            <button type="button" class="btn btn-info" data-toggle="tooltip" title="Hover Triggered" data-trigger="hover">
                                On hover trigger
                            </button>
                            <!-- /On hover trigger -->
                            <p>Use <code>data-trigger="hover"</code> for hover trigger. This is a default trigger.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- On manual trigger -->
                            <button type="button" class="btn btn-info manual" data-toggle="tooltip" title="Manual Triggered" data-trigger="manual">
                                On manual trigger
                            </button>
                            <!-- .On manual trigger -->
                            <p>Use <code>data-trigger="manual"</code> for manual trigger. You can do show/hide using js</p>
                        </div>
                    </div>
                    <!-- /Tooltip triggers -->

                    <button type="button" class="btn btn-danger btn-sm" data-animate="animated fadeInDown" data-toggle="tooltip" title="Hover Triggered"
                            data-trigger="hover" data-placement="top">
                        Animation testing.. delete later.. bcoz tooltip is appearing top left
                    </button>
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-md-12">
            {{#card}}
                {{{card_header 'Tooltip options'}}}
                {{#card_body}}
                    <!-- Tooltip options -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Disabled animation -->
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-animation="false" title="Disabled animation">
                                Disabled animation
                            </button>
                            <!-- /Disabled animation -->
                            <p>Use <code>data-animation="false"</code> to remove fade animation. Default is true.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Delay tooltip -->
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-delay="500" title="Delay tooltip">
                                Delay tooltip
                            </button>
                            <!-- Delay tooltip -->
                            <p>Delay showing and hiding the tooltip (ms) - does not apply to manual trigger type. Use <code>data-delay="500"</code></p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip with HTML -->
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-html="true"
                                    title="<em>Tooltip</em> <u>with</u> <b>HTML</b> <i class='icon-heart'></i>">
                                Tooltip with HTML
                            </button>
                            <!-- /Tooltip with HTML -->
                            <p>Insert HTML into the tooltip. Use <code>data-html="true"</code> for HTML supported trigger.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 text-center">
                            <!-- Tooltip template -->
                            <button type="button" class="btn btn-primary template" data-toggle="tooltip" title="Please check console for default template structure">
                                Tooltip template
                            </button>
                            <!-- /Tooltip template -->
                            <p>Base HTML to use when creating the tooltip. The tooltip's
                                title will be injected into the <code>.tooltip-inner</code>.
                                <code>.tooltip-arrow</code> will become the tooltip's arrow.The
                                outermost wrapper element should have the <code>.tooltip</code> class.</p>
                        </div>
                    </div>
                    <!-- /Tooltip options -->
                {{/card_body}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-md-2">
            {{#card}}
                {{{card_header 'Style variations'}}}
                {{#card_body}}

                    <!-- /Style variations -->
                    <p>Add <code>data-color</code> attribute (like <code>data-color="primary"</code>) for tooltip with all theme colors.</p>
                    <button type="button" class="btn btn-primary btn-icon" data-toggle="tooltip" data-color="primary" title="Primary tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-secondary btn-icon" data-toggle="tooltip" data-color="secondary" title="Secondary tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-success btn-icon" data-toggle="tooltip" data-color="success" title="Success tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-danger btn-icon" data-toggle="tooltip" data-color="danger" title="Danger tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-warning btn-icon" data-toggle="tooltip" data-color="warning" title="Warning tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-info btn-icon" data-toggle="tooltip" data-color="info" title="Info tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-light btn-icon" data-toggle="tooltip" data-color="light" title="Light tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>

                    <button type="button" class="btn btn-dark btn-icon" data-toggle="tooltip" data-color="dark" title="Dark tooltip"
                            data-trigger="hover"><i class="icon-heart"></i>
                    </button>
                    <!-- /Style variations -->
                {{/card_body}}
            {{/card}}
        </div>
        <div class="col-md-6 pl-md-2">
            {{#card}}
                {{{card_header 'Multiple triggers on same element'}}}
                {{#card_body}}

                    <!-- Multiple triggers -->
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <p>The tooltip is for information when the user hovers, and the modal is to show extra information when they click.
                                Trigger the modal from a wrapper <code>&lt;span&gt;</code>.</p>
                            <!-- Tooltip + Modal -->
                            <span data-toggle="modal" data-target="#myLeadsModal">
                                <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Tooltip + Modal">
                                Tooltip + Modal<span class="badge badge-danger ml-1">4</span>
                                </button>
                            </span>
                            <!-- /Tooltip + Modal -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <p>The tooltip is for information when the user hovers, and the popover is for a confirmation box when they click.
                                Trigger the tooltip from a wrapper <code>&lt;span&gt;</code>.</p>
                            <!-- Tooltip + Popover -->
                            <span data-toggle="tooltip" data-placement="right" title="Tooltip + Popover">
                            <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover"
                                    data-placement="left" title="Popover on left"
                                    data-content="And here's some amazing content. It's very engaging. Right?">
                            Tooltip + Popover <span class="badge badge-info ml-1">4</span>
                            </button>
                             </span>
                            <!-- /Tooltip + Popover -->
                        </div>
                    </div>
                    <!-- /Multiple triggers -->

                    {{#modal 'fade''myLeadsModal' ''}}
                        {{{modalHeader 'Modal title'}}}
                        {{#modalContent}}
                            <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                        {{/modalContent}}
                        {{{modalFooter 'button' 'Save changes' 'secondary'}}}
                    {{/modal}}
                {{/card_body}}
            {{/card}}
        </div>
    </div>

</div>
