<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}} | {{site.title}}</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author.name }}">
    <!-- 
        //////////////////////////////////////////////////////

        ADMIN HTML5 TEMPLATE 
        DESIGNED & DEVELOPED by {{ site.author.name }}

        Website:        xxx
        Email:          xxx
 
         //////////////////////////////////////////////////////
        -->
    <link rel="icon" href="{{assets}}/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{assets}}/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{assets}}/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{assets}}/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{assets}}/img/apple-touch-icon-114x114.png" />
    <!-- bower:css -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- Custom styles for this template -->
    <link href="{{assets}}/css/{{ site.name }}.min.css" rel="stylesheet" title="mainStyle">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> 
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> 
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> 
        <![endif]-->
</head>
<body>

<div class="wrapper">
    <!-- Sidebar -->

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
            <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
        </ul>
    </nav>




    <!-- Page Content -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
             <i class="glyphicon glyphicon-align-left"></i>
            Toggle Sidebar
        </button>
         <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header text-center">MY BLOG - Production Branch</h1>
            </div>
            <div class="col-md-12">
                {{> body }}
            </div>
        </div>
    </div>


    
    </div>
</div>     

    <!-- bower:js -->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/popper.js/dist/umd/popper.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <!-- endbower -->
    <script src="{{assets}}/js/{{ site.name }}.js"></script>
</body>

</html>
