<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} | {{site.title}}</title>
		<meta name="description" content="{{ site.description }}">
		<meta name="keywords" content="{{ site.keywords }}">
        <meta name="author" content="{{ site.author.name }}">
        <link rel="icon" href="{{assets}}/img/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="{{assets}}/img/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{assets}}/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{assets}}/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{assets}}/img/apple-touch-icon-114x114.png" />
          <!-- bower:css -->
          <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
          <!-- endbower -->

    <link href="{{assets}}/css/{{ site.name }}.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header text-center">MY BLOG - Production Branch</h1>
              </div>
              
            <div class="col-md-12">
            {{> body }}
            </div>
        </div>
    </div>

 
        <!-- bower:js -->
        <script src="vendor/jquery/dist/jquery.js"></script>
        <script src="vendor/popper.js/dist/umd/popper.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->

        <script src="{{assets}}/js/{{ site.name }}.js"></script>

</body>
</html>
