---
title: "Number spinners"
lead: A mobile and touch friendly input spinner
forms-ui: true
categories: Advanced Form Elements
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Vertical spinner'}}}
                {{#card_body_has 'example'''}}
                    <form>

                        {{{card_title 'Right side spinner'}}}
                        <p>Place spinner button on right side of an input. Remember to add <code>.number-spinner.has-spinner-right</code> to <code>.input-group</code>.
                            Be sure to add <code>data-action="decrement"</code> attribute to the decrement button and <code>data-action="increment"</code> attribute to
                            the increment button.</p>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <!-- Right side spinner (Min 0 - Max 50) -->
                                <div class="input-group number-spinner has-spinner-right">
                                    <input type="text" class="form-control" value="1" min="0" max="50">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                        <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">Min 0 - Max 50</small>
                                <!-- /Right side spinner (Min 0 - Max 50) -->
                            </div>
                            <div class="form-group col-md-4">
                                <!-- Right side spinner (Min 0 - Max 100) -->
                                <div class="input-group number-spinner has-spinner-right">
                                    <input type="text" class="form-control" value="10" min="0" max="100">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                        <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">Min 0 - Max 100</small>
                                <!-- /Right side spinner (Min 0 - Max 100) -->
                            </div>
                            <div class="form-group col-md-4">
                                <!-- Right side spinner (Min -20 - Max 20) -->
                                <div class="input-group number-spinner has-spinner-right">
                                    <input type="text" class="form-control" value="15" min="-20" max="20">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-icon btn-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                        <button class="btn btn-icon btn-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">Min -20 - Max 20</small>
                                <!-- /Right side spinner (Min -20 - Max 20) -->
                            </div>
                        </div>

                        <hr>
                        {{{card_title 'Left side spinner'}}}
                        <p>Place spinner button on left side of an input. Remember to add <code>.number-spinner.has-spinner-left</code> to <code>.input-group</code></p>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <!-- Left side spinner (Min 0 - Max 50) -->
                                <div class="input-group number-spinner has-spinner-left">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i>
                                        </button>
                                        <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" value="1" min="0" max="50">
                                </div>
                                <small class="form-text text-muted">Min 0 - Max 50</small>
                                <!-- /Left side spinner (Min 0 - Max 50) -->
                            </div>
                            <div class="form-group col-md-4">
                                <!-- Left side spinner (Min 0 - Max 100) -->
                                <div class="input-group number-spinner has-spinner-left">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i>
                                        </button>
                                        <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" value="10" min="0" max="100">
                                </div>
                                <small class="form-text text-muted">Min 0 - Max 100</small>
                                <!-- /Left side spinner (Min 0 - Max 100) -->
                            </div>
                            <div class="form-group col-md-4">
                                <!-- Left side spinner (Min -20 - Max 20) -->
                                <div class="input-group number-spinner has-spinner-left">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-icon btn-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                        <button class="btn btn-icon btn-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                    </div>
                                    <input type="text" class="form-control" value="15" min="-20" max="20">
                                </div>
                                <small class="form-text text-muted">Min -20 - Max 20</small>
                                <!-- /Left side spinner (Min -20 - Max 20) -->
                            </div>
                        </div>
                        <hr>
                        {{{card_title 'Sizing'}}}
                        <p>Add the relative form sizing classes <code>input-group-*</code> to the <code>.input-group</code> itself and contents within will automatically
                            resize—no need for repeating the form control size classes on each element. For default size, spinner markup doesn't require any additional
                            sizing class.</p>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="col-form-label">Small size</label>
                                <!-- Small size -->
                                <div class="input-group input-group-sm number-spinner has-spinner-right">
                                    <input type="text" class="form-control" value="1" min="0" max="50">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i>
                                        </button>
                                        <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /Small size -->
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-form-label">Default size</label>
                                <!-- Default size -->
                                <div class="input-group number-spinner has-spinner-right">
                                    <input type="text" class="form-control" value="10" min="0" max="100">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i>
                                        </button>
                                        <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /Default size -->

                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-form-label">Large size</label>
                                <!-- Large size -->
                                <div class="input-group input-group-lg number-spinner has-spinner-right">
                                    <input type="text" class="form-control" value="15" min="-20" max="20">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-icon btn-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                        <button class="btn btn-icon btn-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                    </div>
                                </div>
                                <!-- /Large size -->
                            </div>
                        </div>
                    </form>
                {{/card_body_has}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Vertical spinner themes'}}}
                {{#card_body_has 'example'''}}

                    {{{card_title 'Filled themes'}}}
                    <p>Use modifier classes <code>.btn-*</code> to spinner buttons to change background colors.</p>
                    <!-- Vertical spinner themes - Filled themes -->
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Primary theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Primary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Secondary theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-secondary" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-secondary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Secondary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Warning theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-warning" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-warning" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Warning theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Danger theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-danger" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-danger" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Danger theme -->
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Success theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-success" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-success" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Success theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Info theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-info" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-info" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Info theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Light theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-light" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-light" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Light theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Dark theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-dark" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-dark" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Dark theme -->
                        </div>
                    </div>
                    <!-- /Vertical spinner themes - Filled themes -->
                    <hr>
                    {{{card_title 'Outline themes'}}}
                    <p>Create outline spinner buttons, by replace the default modifier classes with the <code>.btn-outline-*</code> ones to remove background colors.</p>
                    <!-- Vertical spinner themes - Outline themes -->
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Primary theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Primary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Secondary theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-outline-secondary" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-outline-secondary" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Secondary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Warning theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-outline-warning" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-outline-warning" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Warning theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Danger theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-outline-danger" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-outline-danger" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Danger theme -->
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Success theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-outline-success" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-outline-success" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Success theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Info theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-outline-info" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-outline-info" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Info theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Light theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-outline-light" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-outline-light" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Light theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Dark theme -->
                            <div class="input-group number-spinner has-spinner-right">
                                <input type="text" class="form-control" value="1" min="0" max="50">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-icon btn-outline-dark" data-action="increment" type="button"><i class="fas fa-caret-up"></i></button>
                                    <button class="btn btn-icon btn-outline-dark" data-action="decrement" type="button"><i class="fas fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /Darkdark theme -->
                        </div>
                    </div>
                    <!-- /Vertical spinner themes - Outline themes -->
                    <hr>

                {{/card_body_has}}
            {{/card}}
        </div>
    </div>

    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Horizontal spinner'}}}
                {{#card_body_has 'example'''}}
                    <form>
                        <p>Place spinner button on either side of an input. Use <code>.input-group-prepend</code> to add the spinner on left the input, and <code>.input-group-append</code>
                            to add on right side of the
                            input. Be sure to add <code>data-action="decrement"</code> attribute to the decrement button and <code>data-action="increment"</code>
                            attribute to the increment button.
                        </p>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <!-- Horizontal spinner (Min 0 - Max 50) -->
                                <div class="input-group number-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">Min 0 - Max 50</small>
                                <!-- /Horizontal spinner (Min 0 - Max 50) -->
                            </div>
                            <div class="form-group col-md-4">
                                <!-- Horizontal spinner (Min 0 - Max 100) -->
                                <div class="input-group number-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-icon btn-primary btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="100">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-primary btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">Min 0 - Max 100</small>
                                <!-- /Horizontal spinner (Min 0 - Max 100) -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <!-- Horizontal spinner with postfix -->
                                <div class="input-group number-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" value="0" min="0" max="500">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">With postfix</small>
                                <!-- /Horizontal spinner with postfix -->
                            </div>
                            <div class="form-group col-md-4">
                                <!-- Horizontal spinner with prefix and postfix -->
                                <div class="input-group number-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-icon btn-primary btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i>
                                        </button>
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control" value="0" min="0" max="500">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                        <button class="btn btn-icon btn-primary btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">With prefix and postfix</small>
                                <!-- /Horizontal spinner with prefix and postfix -->
                            </div>
                        </div>

                        <hr>
                        {{{card_title 'Horizontal group spinner'}}}
                        <p>Place spinner buttons one on right side of an input.</p>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <!-- Horizontal group spinner (Min 0 - Max 50) -->
                                <div class="input-group number-spinner">
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i>
                                        </button>
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i>
                                        </button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">Min 0 - Max 50</small>
                                <!-- /Horizontal group spinner (Min 0 - Max 50) -->
                            </div>
                            <div class="form-group col-md-4">
                                <!-- Horizontal group spinner (Min 0 - Max 100) -->
                                <div class="input-group number-spinner">
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="100">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-primary btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i>
                                        </button>
                                        <button class="btn btn-icon btn-primary btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i>
                                        </button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">Min 0 - Max 100</small>
                                <!-- /Horizontal group spinner (Min 0 - Max 50) -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <!-- Horizontal group spinner with prefix -->
                                <div class="input-group number-spinner">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">USD</span>
                                    </div>
                                    <input type="text" class="form-control" value="0" min="0" max="500">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="decrement" type="button"><i
                                                class="icon-arrow-down"></i></button>
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="increment" type="button"><i
                                                class="icon-arrow-up"></i></button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">With prefix</small>
                                <!-- /Horizontal group spinner with prefix -->
                            </div>
                            <div class="form-group col-md-4">
                                <!-- Horizontal group spinner with prefix and postfix -->
                                <div class="input-group number-spinner">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">USD</span>
                                    </div>
                                    <input type="text" class="form-control" value="0" min="0" max="500">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                        <button class="btn btn-icon btn-primary btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i>
                                        </button>
                                        <button class="btn btn-icon btn-primary btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i>
                                        </button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">With prefix and postfix</small>
                                <!-- /Horizontal group spinner with prefix and postfix -->
                            </div>
                        </div>

                        <hr>

                        {{{card_title 'Sizing'}}}
                        <p>Add the relative form sizing classes <code>input-group-*</code> to the <code>.input-group</code> itself and contents within will automatically
                            resize—no need for repeating the form control size classes on each element. For default size, spinner markup doesn't require any additional
                            sizing class.</p>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="col-form-label">Small size</label>
                                <!-- Small size -->
                                <div class="input-group input-group-sm number-spinner mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>

                                <div class="input-group input-group-sm number-spinner">
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="decrement" type="button"><i
                                                class="icon-arrow-down"></i></button>
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="increment" type="button"><i
                                                class="icon-arrow-up"></i></button>
                                    </div>
                                </div>
                                <!-- /Small size -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="col-form-label">Default size</label>
                                <!-- Default size -->

                                <div class="input-group number-spinner mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>

                                <div class="input-group number-spinner">
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="decrement" type="button"><i
                                                class="icon-arrow-down"></i></button>
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="increment" type="button"><i
                                                class="icon-arrow-up"></i></button>
                                    </div>
                                </div>
                                <!-- /Default size -->

                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="col-form-label">Large size</label>
                                <!-- Large size -->

                                <div class="input-group input-group-lg number-spinner mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-icon btn-outline-primary" data-action="decrement" type="button"><i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-outline-primary" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>

                                <div class="input-group input-group-lg number-spinner">
                                    <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                    <div class="input-group-append">
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="decrement" type="button"><i
                                                class="icon-arrow-down"></i></button>
                                        <button class="btn btn-icon btn-outline-primary btn-sm" data-action="increment" type="button"><i
                                                class="icon-arrow-up"></i></button>
                                    </div>
                                </div>

                                <!-- /Large size -->
                            </div>
                        </div>


                    </form>
                {{/card_body_has}}
            {{/card}}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Horizontal spinner themes'}}}
                {{#card_body_has 'example'''}}

                    {{{card_title 'Filled themes'}}}
                    <p>Use modifier classes <code>.btn-*</code> to spinner buttons to change background colors and add a color to the input border with any of the contextual border color classes.</p>
                    <!-- Horizontal spinner themes - Filled themes -->
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Primary theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-primary btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-primary btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Primary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Secondary theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-secondary btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-secondary" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-secondary btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Secondary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Warning theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-warning btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-warning" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-warning btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Warning theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Danger theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-danger btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-danger" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-danger btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Danger theme -->
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Success theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-success btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-success" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-success btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Success theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Info theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-info btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-info" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-info btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Info theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Light theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-light btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-light" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-light btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Light theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Dark theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-dark btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-dark" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-dark btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Dark theme -->
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Primary theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-primary btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-primary btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Primary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Secondary theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-secondary" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-secondary btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-secondary btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Secondary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Warning theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-warning" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-warning btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-warning btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Warning theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Danger theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-danger" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-danger btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-danger btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Danger theme -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Success theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-success" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-success btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-success btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Success theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Info theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-info" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-info btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-info btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Info theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Light theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-light" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-light btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-light btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Light theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Dark theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-dark" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-dark btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-dark btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Dark theme -->
                        </div>
                    </div>
                    <!-- /Horizontal spinner themes - Filled themes -->

                    <hr>
                    {{{card_title 'Outline themes'}}}
                    <p>Create outline spinner buttons, by replace the default modifier classes with the <code>.btn-outline-*</code> ones to remove background colors.</p>

                    <!-- Horizontal spinner themes - Outline themes -->
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Primary theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-outline-primary btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-primary btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Primary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Secondary theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-outline-secondary btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-secondary" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-secondary btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Secondary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Warning theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-outline-warning btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-warning" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-warning btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Warning theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Danger theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-outline-danger btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-danger" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-danger btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Danger theme -->
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Success theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-outline-success btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-success" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-success btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Success theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Info theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-outline-info btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-info" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-info btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Info theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Light theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-outline-light btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-light" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-light btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Light theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Dark theme -->
                            <div class="input-group number-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon btn-outline-dark btn-sm" data-action="decrement" type="button"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control border-dark" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-dark btn-sm" data-action="increment" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /Dark theme -->
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Primary theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-primary" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-primary btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-outline-primary btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Primary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Secondary theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-secondary" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-secondary btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i>
                                    </button>
                                    <button class="btn btn-icon btn-outline-secondary btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Secondary theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Warning theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-warning" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-warning btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-outline-warning btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Warning theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Danger theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-danger" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-danger btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-outline-danger btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Danger theme -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <!-- Success theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-success" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-success btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-outline-success btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Success theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Info theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-info" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-info btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-outline-info btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Info theme -->
                        </div>
                        <div class="form-group col-md-3">
                            <!-- Light theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-light" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-light btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-outline-light btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Light theme -->
                        </div>

                        <div class="form-group col-md-3">
                            <!-- Dark theme -->
                            <div class="input-group number-spinner">
                                <input type="text" class="form-control border-dark" value="1" min="0" max="50">
                                <div class="input-group-append">
                                    <button class="btn btn-icon btn-outline-dark btn-sm" data-action="decrement" type="button"><i class="icon-arrow-down"></i></button>
                                    <button class="btn btn-icon btn-outline-dark btn-sm" data-action="increment" type="button"><i class="icon-arrow-up"></i></button>
                                </div>
                            </div>
                            <!-- /Dark theme -->
                        </div>
                    </div>
                    <!-- /Horizontal spinner themes - Outline themes -->

                {{/card_body_has}}
            {{/card}}
        </div>
    </div>
</div>