---
title: "Password strength"
lead: Provides rulesets for visualy displaying the quality of a users typed in password.
forms-ui: true
categories: Advanced Form Elements

js_cdn_vendors:
- https://cdnjs.cloudflare.com/ajax/libs/pwstrength-bootstrap/3.0.1/pwstrength-bootstrap.min.js

css_vendors_extended:
- pwstrength-bootstrap

js_vendors_extended:
- pwstrength-bootstrap

---

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{#card}}
                {{{card_header 'Pwstrength-bootstrap'}}}
                {{#card_body_has 'example'''}}
                    <form>
                        {{{card_title 'Default'}}}
                        <!-- Default -->
                        <div class="form-group">
                            <label for="pwstrength-1">Please type in your password</label>
                            <input type="password" class="form-control" id="pwstrength-1" placeholder="Password">
                        </div>
                        <!-- /Default -->

                        <hr>
                        {{{card_title 'Inside progress bar'}}}
                        <!-- Inside progress bar -->
                        <div class="form-group">
                            <label for="pwstrength-2">Please type in your password</label>
                            <input type="password" class="form-control" id="pwstrength-2" placeholder="Password">
                        </div>
                        <!-- /Inside progress bar -->

                        <hr>
                        {{{card_title 'Show errors'}}}
                        <!-- Show errors -->
                        <div class="form-group">
                            <label for="pwstrength-3">Please type in your password</label>
                            <input type="password" class="form-control" id="pwstrength-3" placeholder="Password">
                        </div>
                        <!-- /Show errors -->

                        <hr>
                        {{{card_title 'With visibility toggle'}}}
                        <!-- With visibility toggle -->
                        <div class="form-group" id="pwd-container">
                            <label for="pwstrength-4">Please type in your password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="pwstrength-4" placeholder="Password" name="password">
                                <div class="input-group-append icon-wrapper">
                                    <button type="button" class="btn btn-success">
                                        <i toggle="#pwstrength-4" class="icon-eye toggle-password"></i>
                                    </button>
                                </div>
                            </div>
                            <div id="pwstrength_viewport_progress"></div>
                            <div id="pwstrength_viewport_verdict"></div>
                            <div id="pwstrength_viewport_errors"></div>
                            <div id="pwstrength_viewport_score"></div>
                        </div>
                        <!-- /With visibility toggle -->

                        <hr>
                        {{{card_title 'Show popover'}}}
                        <!-- Show popover -->
                        <div class="form-group">
                            <label for="pwstrength-5">Please type in your password</label>
                            <input type="password" class="form-control" id="pwstrength-5" placeholder="Password">
                        </div>
                        <!-- /Show popover -->


                        <hr>
                        {{{card_title 'Show border status'}}}
                        <!-- Show border status -->
                        <div class="form-group">
                            <label for="pwstrength-6">Please type in your password</label>
                            <input type="password" class="form-control mb-2" id="pwstrength-6" placeholder="Password">
                        </div>
                        <!-- /Show border status -->

                    </form>
                {{/card_body_has}}
            {{/card}}
        </div>
    </div>
</div>