---
title: "Tags Input"
lead: User interface for managing tags.
forms-ui: true
categories: Advanced Form Elements

css_cdn_vendors:
- https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css
- https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css

js_cdn_vendors:
- https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js
- https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js
- https://code.jquery.com/ui/1.12.1/jquery-ui.js

css_vendors_extended:
- bootstrap-tagsinput
- selectize

js_vendors_extended:
- bootstrap-tagsinput
- selectize

---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Bootstrap Tagsinput'}}}
                {{#card_body}}
                    <form action="">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Default</label>
                            <div class="col-lg-10">
                                <!-- Default -->
                                <input type="text" required value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" class="form-control">
                                <!-- /Default -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">True multi value</label>
                            <div class="col-lg-10">
                                <!-- True multi value -->
                                <select multiple data-role="tagsinput" class="form-control">
                                    <option value="Amsterdam">Amsterdam</option>
                                    <option value="Washington">Washington</option>
                                    <option value="Sydney">Sydney</option>
                                    <option value="Beijing">Beijing</option>
                                    <option value="Cairo">Cairo</option>
                                </select>
                                <!-- /True multi value -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Categorizing tags</label>
                            <div class="col-lg-10">
                                <!-- Categorizing tags -->
                                <input type="text" class="form-control" id="bs-tagsinput-1">
                                <!-- /Categorizing tags -->
                            </div>
                        </div>
                    </form>
                {{/card_body}}

                <hr>
                {{#card_body}}
                    <form>
                        {{{card_title 'Colored tags'}}}
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Primary tags</label>
                            <div class="col-lg-10">
                                <!-- Primary tags -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control" id="bs-tagsinput-2">
                                <!-- /Primary tags -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Secondary tags</label>
                            <div class="col-lg-10">
                                <!-- Secondary tags -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control" id="bs-tagsinput-3">
                                <!-- /Secondary tags -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Success tags</label>
                            <div class="col-lg-10">
                                <!-- Success tags -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control" id="bs-tagsinput-4">
                                <!-- /Success tags -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Info tags</label>
                            <div class="col-lg-10">
                                <!-- Info tags -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control" id="bs-tagsinput-5">
                                <!-- /Info tags -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Warning tags</label>
                            <div class="col-lg-10">
                                <!-- Warning tags -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control" id="bs-tagsinput-6">
                                <!-- /Warning tags -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Danger tags</label>
                            <div class="col-lg-10">
                                <!-- Danger tags -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control" id="bs-tagsinput-7">
                                <!-- /Danger tags -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Light tags</label>
                            <div class="col-lg-10">
                                <!-- Light tags -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control" id="bs-tagsinput-8">
                                <!-- /Light tags -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Dark tags</label>
                            <div class="col-lg-10">
                                <!-- Dark tags -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control" id="bs-tagsinput-9">
                                <!-- /Dark tags -->
                            </div>
                        </div>
                    </form>
                {{/card_body}}

                <hr>
                {{#card_body}}
                    {{{card_title 'Validation states'}}}
                    <form action="">
                        <div class="form-group row is-valid">
                            <label class="col-lg-2 col-form-label text-lg-right">Valid</label>
                            <div class="col-lg-10">
                                <!-- Valid state -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" class="form-control">
                                <!-- /Valid state -->
                            </div>
                        </div>
                        <div class="form-group row is-invalid">
                            <label class="col-lg-2 col-form-label text-lg-right">Invalid</label>
                            <div class="col-lg-10">
                                <!-- Invalid state -->
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" class="form-control">
                                <!-- /Invalid state -->
                            </div>
                        </div>
                    </form>
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Selectize'}}}
                {{#card_body_has 'example'''}}
                    <form action="">

                        {{{card_title 'Input type "text"'}}}

                        <div class="form-group">
                            <label for="input-tags">Tagging:</label>
                            <!-- Tagging -->
                            <input type="text" id="input-tags" class="bs-selectize" value="awesome,neat">
                            <!-- /Tagging -->
                        </div>

                        {{{card_title 'Remove button'}}}
                        <div class="form-group">
                            <label for="input-tags-remove">Tagging:</label>
                            <!-- Remove button -->
                            <input type="text" id="input-tags-remove" class="bs-selectize" value="awesome,neat">
                            <!-- /Remove button -->
                        </div>

                        {{{card_title 'Drag-and-Drop'}}}
                        <div class="form-group">
                            <label for="input-draggable">Tags:</label>
                            <!-- Drag-and-Drop -->
                            <input type="text" id="input-draggable" class="bs-selectize" value="drag,these,items,mouse,around,with,your">
                            <small class="form-text text-muted">Adds drag-and-drop support for easily rearranging selected items. Requires jQuery UI (sortable).
                            </small>
                            <!-- /Drag-and-Drop -->
                        </div>


                        <hr>
                        {{{card_title 'Select single'}}}
                        <div class="form-group">
                            <label for="select-beast">Beast:</label>
                            <!-- Select -->
                            <select id="select-beast" class="bs-selectize" placeholder="Select a person...">
                                <option value="">Select a person...</option>
                                <option value="4">Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                            <!-- /Select -->
                        </div>

                        {{{card_title 'Select single (allow empty)'}}}
                        <div class="form-group">
                            <label for="select-beast-empty">Beast:</label>
                            <!-- Select (allow empty) -->
                            <select id="select-beast-empty" class="bs-selectize" data-placeholder="Select a person...">
                                <option value="">None</option>
                                <option value="4">Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                            <!-- /Select (allow empty) -->
                        </div>

                        {{{card_title 'Select single (disabled)'}}}
                        <div class="form-group">
                            <label for="select-beast-disabled">Beast:</label>
                            <!-- Select (disabled) -->
                            <select id="select-beast-disabled" class="bs-selectize" disabled placeholder="Select a person...">
                                <option value="">Select a person...</option>
                                <option value="4">Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3" selected>Nikola Tesla</option>
                            </select>
                            <!-- /Select (disabled) -->
                        </div>

                        {{{card_title 'Select single (option disabled)'}}}
                        <div class="form-group">
                            <label for="select-beast-single-disabled">Beast:</label>
                            <!-- Select (option disabled) -->
                            <select id="select-beast-single-disabled" class="bs-selectize" placeholder="Select a person...">
                                <option value="">Select a person...</option>
                                <option value="4" disabled>Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3" selected>Nikola Tesla</option>
                            </select>
                            <!-- /Select (option disabled) -->
                        </div>

                        {{{card_title 'Select multiple'}}}
                        <div class="form-group">
                            <label for="select-state-multiple">States:</label>
                            <!-- Select multiple -->
                            <select id="select-state-multiple" name="state[]" multiple class="bs-selectize" placeholder="Select a state...">
                                <option value="">Select a state...</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA" selected>California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                            </select>
                            <!-- /Select multiple -->
                        </div>

                        {{{card_title 'Select multiple (Max Items)'}}}
                        <div class="form-group">
                            <label for="select-state-multiple-max">Select 3 States:</label>
                            <!-- Select multiple (Max Items) -->
                            <select id="select-state-multiple-max" name="state[]" multiple class="bs-selectize" placeholder="Select a state...">
                                <option value="">Select a state...</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA" selected>California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                            </select>
                            <!-- /Select multiple (Max Items) -->
                        </div>

                        {{{card_title 'Select multiple (disabled)'}}}
                        <div class="form-group">
                            <label for="select-state-disabled">States:</label>
                            <!-- Select multiple (disabled) -->
                            <select id="select-state-disabled" name="state[]" multiple disabled class="bs-selectize" placeholder="Select a state...">
                                <option value="">Select a state...</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA" selected>California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                            </select>
                            <!-- /Select multiple (disabled) -->
                        </div>

                        <hr>
                        {{{card_title 'State / City Selection'}}}
                        <div class="form-group">
                            <label for="select-beast">State:</label>
                            <!-- State / City Selection -->
                            <select id="select-state" class="bs-selectize" placeholder="Pick a state...">
                                <option value="">Select a state...</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                            <label for="select-beast" style="margin-top:20px">City:</label>
                            <select id="select-city" class="bs-selectize" placeholder="Pick a city..."></select>
                            <small class="form-text text-muted">A demonstration showing how to use the API to cascade controls for a classic state / city selector. Note:
                                The API for fetching cities is a little spotty, so if it fails to list cities, that's what's going on (try another state).
                            </small>
                            <!-- /State / City Selection -->
                        </div>

                        <hr>
                        {{{card_title 'Confirm Delete'}}}
                        <div class="form-group">
                            <label for="input-tags-delete">Tags:</label>
                            <!-- Confirm Delete -->
                            <input type="text" id="input-tags-delete" class="bs-selectize" value="awesome,neat,yeah">
                            <!-- /Confirm Delete -->
                        </div>


                        <hr>
                        {{{card_title 'Email Contacts'}}}
                        <div class="form-group">
                            <label for="select-to">To:</label>
                            <!-- Email Contacts -->
                            <select id="select-to" class="bs-selectize contacts" placeholder="Pick some people..."></select>
                            <!-- /Email Contacts -->
                        </div>


                        <hr>
                        {{{card_title 'Optgroups'}}}
                        <div class="form-group">
                            <label for="select-gear">Gear:</label>
                            <!-- Optgroups -->
                            <select id="select-gear" class="bs-selectize" multiple placeholder="Select gear...">
                                <option value="">Select gear...</option>
                                <optgroup label="Climbing">
                                    <option value="pitons">Pitons</option>
                                    <option value="cams">Cams</option>
                                    <option value="nuts">Nuts</option>
                                    <option value="bolts">Bolts</option>
                                    <option value="stoppers">Stoppers</option>
                                    <option value="sling">Sling</option>
                                </optgroup>
                                <optgroup label="Skiing">
                                    <option value="skis">Skis</option>
                                    <option value="skins">Skins</option>
                                    <option value="poles">Poles</option>
                                </optgroup>
                            </select>
                            <!-- /Optgroups -->
                        </div>

                        <hr>
                        {{{card_title 'Optgroup columns'}}}
                        <div class="form-group">
                            <label for="select-car">Car:</label>
                            <!-- Optgroup columns -->
                            <select id="select-car" class="bs-selectize" placeholder="Select a car..."></select>
                            <!-- /Optgroup columns -->
                        </div>


                        <hr>
                        {{{card_title 'Large size'}}}
                        <div class="form-group">
                            <p>Add <code>.bs-selectize-lg</code> class to the <code>.bs-selectize</code></p>
                            <!-- Large -->
                            <select id="select-size-lg" class="bs-selectize bs-selectize-lg" multiple placeholder="Select a person...">
                                <option value="">Select a person...</option>
                                <option value="4" selected>Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                            <!-- /Large -->
                        </div>
                        {{{card_title 'Default size'}}}
                        <div class="form-group">
                            <p>For default size, selectize markup doesn't require any additional sizing class.</p>
                            <!-- SDefault -->
                            <select id="select-size-sm" class="bs-selectize" multiple placeholder="Select a person...">
                                <option value="">Select a person...</option>
                                <option value="4" selected>Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                            <!-- /SDefault -->
                        </div>
                        {{{card_title 'Small size'}}}
                        <div class="form-group">
                            <p>Add <code>.bs-selectize-sm</code> class to the <code>.bs-selectize</code></p>
                            <!-- Small -->
                            <select id="select-size-default" class="bs-selectize bs-selectize-sm" multiple placeholder="Select a person...">
                                <option value="">Select a person...</option>
                                <option value="4" selected>Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                            <!-- /Small -->
                        </div>

                        <hr>
                        {{{card_title 'Validation states'}}}
                        <div class="form-group is-valid">
                            <label for="select-valid">Valid</label>
                            <!-- Valid -->
                            <select id="select-valid" class="bs-selectize" multiple placeholder="Select a person..." name="beast">
                                <option value="">Select a person...</option>
                                <option value="4" selected>Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                            <!-- /Valid -->
                        </div>
                        <div class="form-group is-invalid">
                            <label for="select-invalid">Invalid</label>
                            <!-- Invalid -->
                            <select id="select-invalid" class="bs-selectize" multiple placeholder="Select a person..." name="beast">
                                <option value="">Select a person...</option>
                                <option value="4" selected>Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                            <!-- /Invalid -->
                        </div>

                    </form>
                {{/card_body_has}}
            {{/card}}

        </div>
    </div>
</div>