---
title: "Toggle switches"
lead: Lightweight, beautiful drag’n’drop file uploader.
forms-ui: true
categories: Advanced Form Elements
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Toggle switch'}}}
                {{#card_body                                                                                                                                                                                                        }}
                    <p>Each switch is wrapped in a <code>&lt;label&gt;</code> for three reasons:</p>
                    <ul>
                        <li>It provides a larger hit areas for checking the control.</li>
                        <li>It provides a helpful and semantic wrapper to help us replace the default <code>&lt;input&gt;</code>s.</li>
                        <li>It triggers the state of the <code>&lt;input&gt;</code> automatically, meaning no JavaScript is required.</li>
                    </ul>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Themes'}}}

                        <p>Use the <code>.switch</code> class together with a contextual class <code>switch-*</code> to change the color of a switch.</p>

                        <!-- Toggle switch themes -->
                        <label class="custom-control switch switch-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Primary</span>
                        </label>

                        <label class="custom-control switch switch-secondary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Secondary</span>
                        </label>

                        <label class="custom-control switch switch-success custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Success</span>
                        </label>

                        <label class="custom-control switch switch-danger custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Danger</span>
                        </label>

                        <label class="custom-control switch switch-warning custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Warning</span>
                        </label>

                        <label class="custom-control switch switch-info custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Info</span>
                        </label>

                        <label class="custom-control switch switch-light custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Light</span>
                        </label>

                        <label class="custom-control switch switch-dark custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Dark</span>
                        </label>
                        <!-- /Toggle switch themes -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'All states'}}}
                        <!-- Toggle switch states -->
                        <label class="custom-control switch switch-primary custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Normal state</span>
                        </label>

                        <label class="custom-control switch switch-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Checked state</span>
                        </label>

                        <form class="was-validated custom-control-inline">
                            <label class="custom-control switch switch-primary">
                                <input class="custom-control-input" required type="checkbox">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Invalid state</span>
                            </label>
                        </form>

                        <label class="custom-control switch switch-primary custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox" disabled>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Disabled state</span>
                        </label>

                        <label class="custom-control switch switch-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox" disabled>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Checked + Disabled state</span>
                        </label>

                        <!-- /Toggle switch states -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Radios'}}}
                        <!-- Toggle switch - Radios -->
                        <label class="custom-control switch switch-primary custom-control-inline">
                            <input class="custom-control-input" checked="" type="radio" name="toggle-switch-radio">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Option 1</span>
                        </label>

                        <label class="custom-control switch switch-primary custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-switch-radio">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Option 2</span>
                        </label>

                        <label class="custom-control switch switch-primary custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-switch-radio">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Option 3</span>
                        </label>
                        <!-- /Toggle switch - Radios -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Sizing'}}}
                        <p>Toggle switch can have different sizes. Add <code>.switch-sm</code> or <code>.switch-lg</code> to <code>.switch</code> class for additional sizes. For default size, toggle switch markup doesn't
                            require any additional sizing class.
                        </p>

                        <!-- Toggle switch - Small size -->
                        <label class="custom-control switch switch-sm switch-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Small size</span>
                        </label>
                        <!-- /Toggle switch - Small size -->

                        <!-- Toggle switch - Default size -->
                        <label class="custom-control switch switch-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Default size</span>
                        </label>
                        <!-- /Toggle switch - Default size -->

                        <!-- Toggle switch - Large size -->
                        <label class="custom-control switch switch-lg switch-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Large size</span>
                        </label>
                        <!-- /Toggle switch - Large size -->
                    </div>

                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Toggle switch with label'}}}
                {{#card_body}}
                    <div class="form-group">
                        <p>Add <code>.has-label</code> to <code>.switch</code> and toggle the text via multiple data attributes by adding (<code>data-toggle-on="Live mode" data-toggle-off="Test mode"</code>)
                            to <code>custom-control-indicator</code>.</p>
                        {{{card_title 'Themes'}}}
                        <!-- Toggle switch with label themes -->
                        <label class="custom-control switch switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Primary</span>
                        </label>

                        <label class="custom-control switch switch-secondary custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Secondary</span>
                        </label>
                        <label class="custom-control switch switch-success custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Success</span>
                        </label>
                        <label class="custom-control switch switch-danger custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Danger</span>
                        </label>
                        <label class="custom-control switch switch-warning custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Warning</span>
                        </label>
                        <label class="custom-control switch switch-info custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Info</span>
                        </label>
                        <label class="custom-control switch switch-light custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Light</span>
                        </label>
                        <label class="custom-control switch switch-dark custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Dark</span>
                        </label>
                        <!-- /Toggle switch with label themes -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'All states'}}}
                        <!-- Toggle switch with label states -->
                        <label class="custom-control switch switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" required="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description"><span class="small text-muted">(Normal state)</span></span>
                        </label>
                        <label class="custom-control switch switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description"><span class="small text-muted">(Checked state)</span></span>
                        </label>

                        <form class="was-validated  custom-control-inline">
                            <label class="custom-control switch switch-primary has-label">
                                <input class="custom-control-input" required type="checkbox">
                                <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                                <span class="custom-control-description"><span class="small text-muted">(Invalid state)</span></span>
                            </label>
                        </form>

                        <label class="custom-control switch switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" required="" type="checkbox" disabled>
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description"><span class="small text-muted">(Disabled state)</span></span>
                        </label>
                        <label class="custom-control switch switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox" disabled>
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description"><span class="small text-muted">(Checked + Disabled state)</span></span>
                        </label>
                        <!-- /Toggle switch with label states -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Radios'}}}
                        <!-- Toggle switch with label - Radios -->
                        <label class="custom-control switch switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" checked="" type="radio" name="toggle-switch-label-radio">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Option 1</span>
                        </label>

                        <label class="custom-control switch switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" type="radio" name="toggle-switch-label-radio">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Option 2</span>
                        </label>

                        <label class="custom-control switch switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" type="radio" name="toggle-switch-label-radio">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Option 3</span>
                        </label>
                        <!-- /Toggle switch with label - Radios -->
                    </div>

                    <hr>
                    <div class="form-group">
                        {{{card_title 'SIzing'}}}
                        <p>Use the CSS width property to set the width of the switch</p>
                        <!-- Toggle switch with label - Small size -->
                        <label class="custom-control switch switch-sm switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 100px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Small size</span>
                        </label>
                        <!-- /Toggle switch with label - Small size -->

                        <!-- Toggle switch with label - Default size -->
                        <label class="custom-control switch switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 120px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Default size</span>
                        </label>
                        <!-- /Toggle switch with label - Default size -->

                        <!-- Toggle switch with label - Large size -->
                        <label class="custom-control switch switch-lg switch-primary custom-control-inline has-label">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" style="width: 140px" data-toggle-on="Live mode" data-toggle-off="Test mode"></span>
                            <span class="custom-control-description">Large size</span>
                        </label>
                        <!-- /Toggle switch with label - Large size -->
                    </div>

                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Mini toggle switch'}}}
                {{#card_body}}
                    <p>Add <code>.mini</code> class along with <code>.switch</code> class for Mini toggle switch.</p>
                    <div class="form-group">
                        {{{card_title 'Themes'}}}
                        <!-- Mini toggle switch themes -->
                        <label class="custom-control switch switch-primary mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Primary</span>
                        </label>
                        <label class="custom-control switch switch-secondary mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Secondary</span>
                        </label>
                        <label class="custom-control switch switch-success mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Success</span>
                        </label>
                        <label class="custom-control switch switch-danger mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Danger</span>
                        </label>
                        <label class="custom-control switch switch-warning mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Warning</span>
                        </label>
                        <label class="custom-control switch switch-info mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Info</span>
                        </label>
                        <label class="custom-control switch switch-light mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Light</span>
                        </label>
                        <label class="custom-control switch switch-dark mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Dark</span>
                        </label>
                        <!-- /Mini toggle switch themes -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'All states'}}}
                        <!-- Mini toggle switch states -->
                        <label class="custom-control switch switch-primary mini custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Normal state</span>
                        </label>
                        <label class="custom-control switch switch-primary mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Checked state</span>
                        </label>

                        <form class="was-validated custom-control-inline">
                            <label class="custom-control switch switch-primary mini">
                                <input class="custom-control-input" required="" type="checkbox">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Invalid state</span>
                            </label>
                        </form>
                        <label class="custom-control switch switch-primary mini custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox" disabled>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Disabled state</span>
                        </label>
                        <label class="custom-control switch switch-primary mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox" disabled>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Checked + Disabled state</span>
                        </label>
                        <!-- /Mini toggle switch states -->
                    </div>
                    <hr>
                    <div class="form-group">
                        <!-- Mini toggle switch - Radios -->
                        {{{card_title 'Radios'}}}
                        <label class="custom-control switch switch-primary mini custom-control-inline">
                            <input class="custom-control-input" checked type="radio" name="toggle-switch-mini-radio">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Option 1</span>
                        </label>
                        <label class="custom-control switch switch-primary mini custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-switch-mini-radio">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Option 2</span>
                        </label>
                        <label class="custom-control switch switch-primary mini custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-switch-mini-radio">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Option 3</span>
                        </label>
                        <!-- /Mini toggle switch - Radios -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Sizing'}}}

                        <!-- Mini toggle switch - Small size -->
                        <label class="custom-control switch switch-primary switch-sm mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Small size</span>
                        </label>
                        <!-- /Mini toggle switch - Small size -->

                        <!-- Mini toggle switch - Default size -->
                        <label class="custom-control switch switch-primary mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Default size</span>
                        </label>
                        <!-- /Mini toggle switch - Default size -->

                        <!-- Mini toggle switch - Large size -->
                        <label class="custom-control switch switch-primary switch-lg mini custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Large size</span>
                        </label>
                        <!-- /Mini toggle switch - Large size -->
                    </div>
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Square toggle switch'}}}
                {{#card_body}}
                    <p>Add <code>.square</code> class along with <code>.switch</code> class for Square toggle switch.</p>
                    <div class="form-group">
                        {{{card_title 'Themes'}}}
                        <!-- Square toggle switch themes -->
                        <label class="custom-control switch switch-primary square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Primary</span>
                        </label>
                        <label class="custom-control switch switch-secondary square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Secondary</span>
                        </label>
                        <label class="custom-control switch switch-success square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Success</span>
                        </label>
                        <label class="custom-control switch switch-danger square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Danger</span>
                        </label>
                        <label class="custom-control switch switch-warning square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Warning</span>
                        </label>
                        <label class="custom-control switch switch-info square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Info</span>
                        </label>
                        <label class="custom-control switch switch-light square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Light</span>
                        </label>
                        <label class="custom-control switch switch-dark square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Dark</span>
                        </label>
                        <!-- /Square toggle switch themes -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'All states'}}}
                        <!-- Square toggle switch states -->
                        <label class="custom-control switch switch-primary square custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Normal state</span>
                        </label>
                        <label class="custom-control switch switch-primary square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Checked state</span>
                        </label>

                        <form class="was-validated custom-control-inline">
                            <label class="custom-control switch switch-primary square">
                                <input class="custom-control-input" required="" type="checkbox">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Invalid state</span>
                            </label>
                        </form>
                        <label class="custom-control switch switch-primary square custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox" disabled>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Disabled state</span>
                        </label>
                        <label class="custom-control switch switch-primary square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox" disabled>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Checked + Disabled state</span>
                        </label>
                        <!-- /Square toggle switch states -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Radios'}}}
                        <!-- Square toggle switch - Radios -->
                        <label class="custom-control switch switch-primary square custom-control-inline">
                            <input class="custom-control-input" checked type="radio" name="toggle-switch-square-radio">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Option 1</span>
                        </label>
                        <label class="custom-control switch switch-primary square custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-switch-square-radio">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Option 2</span>
                        </label>
                        <label class="custom-control switch switch-primary square custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-switch-square-radio">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Option 3</span>
                        </label>
                        <!-- /Square toggle switch - Radios -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Sizing'}}}

                        <!-- Square toggle switch - Small size -->
                        <label class="custom-control switch switch-primary switch-sm square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Small size</span>
                        </label>
                        <!-- /Square toggle switch - Small size -->

                        <!-- Square toggle switch - Default size -->
                        <label class="custom-control switch switch-primary square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Default size</span>
                        </label>
                        <!-- /Square toggle switch - Default size -->

                        <!-- Square toggle switch - Large size -->
                        <label class="custom-control switch switch-primary switch-lg square custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Large size</span>
                        </label>
                        <!-- /Square toggle switch - Large size -->

                    </div>
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Flipped toggle switch'}}}
                {{#card_body}}
                    <p>Add <code>.switch-flip</code> to <code>.custom-control</code> and toggle the text via multiple data attributes by adding (<code>data-toggle-on="ON" data-toggle-off="OFF"</code>)
                        to <code>custom-control-indicator</code>. Use contextual class <code>switch-flip-*</code> to change the color of a switch.</p>
                    <div class="form-group">
                        {{{card_title 'Themes'}}}
                        <!-- Flipped toggle switch themes -->
                        <label class="custom-control switch-flip switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Primary</span>
                        </label>

                        <label class="custom-control switch-flip switch-flip-secondary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Secondary</span>
                        </label>

                        <label class="custom-control switch-flip switch-flip-success custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Success</span>
                        </label>

                        <label class="custom-control switch-flip switch-flip-danger custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Danger</span>
                        </label>

                        <label class="custom-control switch-flip switch-flip-warning custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Warning</span>
                        </label>

                        <label class="custom-control switch-flip switch-flip-info custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Info</span>
                        </label>

                        <label class="custom-control switch-flip switch-flip-light custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Light</span>
                        </label>

                        <label class="custom-control switch-flip switch-flip-dark custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Dark</span>
                        </label>
                        <!-- /Flipped toggle switch themes -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'All states'}}}
                        <!-- Flipped toggle switch states -->
                        <label class="custom-control switch-flip switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Normal state</span>
                        </label>
                        <label class="custom-control switch-flip switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Checked state</span>
                        </label>

                        <form class="was-validated custom-control-inline">
                            <label class="custom-control switch-flip switch-flip-primary">
                                <input class="custom-control-input" required="" type="checkbox">
                                <span class="custom-control-indicator" data-toggle-on="ON"
                                      data-toggle-off="OFF"></span>
                                <span class="custom-control-description">Invalid state</span>
                            </label>
                        </form>

                        <label class="custom-control switch-flip switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox" disabled>
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Disabled state</span>
                        </label>
                        <label class="custom-control switch-flip switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox" disabled>
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Checked + Disabled state</span>
                        </label>
                        <!-- /Flipped toggle switch states -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Radios'}}}
                        <!-- Flipped toggle switch - Radios -->
                        <label class="custom-control switch-flip switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" checked type="radio" name="toggle-flip-radio">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Option 1</span>
                        </label>
                        <label class="custom-control switch-flip switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-flip-radio">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Option 2</span>
                        </label>
                        <label class="custom-control switch-flip switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-flip-radio">
                            <span class="custom-control-indicator" data-toggle-on="ON"
                                  data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Option 3</span>
                        </label>
                        <!-- Flipped toggle switch - Radios -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Sizing'}}}
                        <!-- Flipped toggle switch - Small size -->
                        <label class="custom-control switch-flip switch-flip-sm switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON" data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Small size</span>
                        </label>
                        <!-- Flipped toggle switch - Small size -->
                        <!-- Flipped toggle switch - Default size -->
                        <label class="custom-control switch-flip switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON" data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Default size</span>
                        </label>
                        <!-- Flipped toggle switch - Default size -->
                        <!-- Flipped toggle switch - Large size -->
                        <label class="custom-control switch-flip switch-flip-lg switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="ON" data-toggle-off="OFF"></span>
                            <span class="custom-control-description">Large size</span>
                        </label>
                        <!-- Flipped toggle switch - Large size -->
                    </div>

                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Yes/No flipped toggle switch'}}}
                {{#card_body}}
                    <p>Add <code>.yes-no</code> class along with <code>.switch-flip</code> class for Yes/No flipped toggle switch.</p>
                    <div class="form-group">
                        {{{card_title 'Themes'}}}
                        <!-- Yes/No flipped toggle switch themes -->
                        <label class="custom-control switch-flip yes-no switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on=" YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Primary</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-secondary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Secondary</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-success custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Success</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-danger custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Danger</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-warning custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Warning</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-info custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Info</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-light custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Light</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-dark custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Dark</span>
                        </label>
                        <!-- /Yes/No flipped toggle switch themes -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'All states'}}}
                        <!-- Yes/No flipped toggle switch states -->
                        <label class="custom-control switch-flip yes-no switch-flip-success custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Normal state</span>
                        </label>

                        <label class="custom-control switch-flip yes-no switch-flip-success custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Checked state</span>
                        </label>

                        <form class="was-validated custom-control-inline">
                            <label class="custom-control switch-flip yes-no switch-flip-success">
                                <input class="custom-control-input" required="" type="checkbox">
                                <span class="custom-control-indicator" data-toggle-on="YES"
                                      data-toggle-off="NO"></span>
                                <span class="custom-control-description">Invalid state</span>
                            </label>
                        </form>

                        <label class="custom-control switch-flip yes-no switch-flip-success custom-control-inline">
                            <input class="custom-control-input" required="" type="checkbox" disabled>
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Disabled state</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-success custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox" disabled>
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="ON"></span>
                            <span class="custom-control-description">Checked + Disabled state</span>
                        </label>
                        <!-- /Yes/No flipped toggle switch states -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Radios'}}}
                        <!-- Yes/No flipped toggle switch - Radios -->
                        <label class="custom-control switch-flip yes-no switch-flip-success custom-control-inline">
                            <input class="custom-control-input" checked type="radio" name="toggle-flip-yes-no">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Option 1</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-success custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-flip-yes-no">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Option 2</span>
                        </label>
                        <label class="custom-control switch-flip yes-no switch-flip-success custom-control-inline">
                            <input class="custom-control-input" type="radio" name="toggle-flip-yes-no">
                            <span class="custom-control-indicator" data-toggle-on="YES"
                                  data-toggle-off="NO"></span>
                            <span class="custom-control-description">Option 3</span>
                        </label>
                        <!-- Yes/No flipped toggle switch - Radios -->
                    </div>
                    <hr>
                    <div class="form-group">
                        {{{card_title 'Sizing'}}}
                        <!-- Yes/No flipped toggle switch - Small size -->
                        <label class="custom-control switch-flip switch-flip-sm yes-no switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on=" YES" data-toggle-off="NO"></span>
                            <span class="custom-control-description">Small size</span>
                        </label>
                        <!-- Yes/No flipped toggle switch - Small size -->
                        <!-- Yes/No flipped toggle switch - Default size -->
                        <label class="custom-control switch-flip yes-no switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on=" YES" data-toggle-off="NO"></span>
                            <span class="custom-control-description">Default size</span>
                        </label>
                        <!-- Yes/No flipped toggle switch - Default size -->
                        <!-- Yes/No flipped toggle switch - Large size -->
                        <label class="custom-control switch-flip switch-flip-lg yes-no switch-flip-primary custom-control-inline">
                            <input class="custom-control-input" required="" checked="" type="checkbox">
                            <span class="custom-control-indicator" data-toggle-on=" YES" data-toggle-off="NO"></span>
                            <span class="custom-control-description">Large size</span>
                        </label>
                        <!-- Yes/No flipped toggle switch - Large size -->
                    </div>
                {{/card_body}}
            {{/card}}

        </div>
    </div>
</div>