---
title: "Toggle switches"
lead: Lightweight, beautiful drag’n’drop file uploader.
forms-ui: true
categories: Advanced Form Elements
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Toggle switch'}}}
                {{#card_body}}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{{card_title 'All states'}}}
                            <!-- Toggle switch states -->
                            <fieldset>
                                    <label class="custom-control custom-toggle-switch custom-toggle-switch-primary">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Pizza <span class="small text-muted">(Normal state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Pasta  <span class="small text-muted">(Checked state)</span></span>
                                </label>
                            </fieldset>

                            <form class="was-validated">
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary">
                                    <input class="custom-control-input" required type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Pasta  <span class="small text-muted">(Invalid state)</span></span>
                                </label>
                            </fieldset>
                            </form>


                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Burgers <span class="small text-muted">(Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Tacos <span class="small text-muted">(Checked + Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <!-- /Toggle switch states -->
                        </div>
                        <div class="form-group col-md-4">
                            {{{card_title 'Color variations'}}}
                            <!-- Toggle switch color variations -->
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Primary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-secondary">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Secondary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-success">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Success</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-danger">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Danger</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-warning">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Warning</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-info">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Info</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-light">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Light</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-dark">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Dark</span>
                                </label>
                            </fieldset>
                            <!-- /Toggle switch color variations -->
                        </div>

                        <div class="form-group col-md-4">
                            {{{card_title 'Radio'}}}
                            <!-- Toggle switch - Radio -->
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary">
                                    <input class="custom-control-input"  checked="" type="radio" name="toggle-switch-radio">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Option 1</span>
                                </label>

                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary">
                                    <input class="custom-control-input" type="radio" name="toggle-switch-radio">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Option 2</span>
                                </label>

                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary">
                                    <input class="custom-control-input" type="radio" name="toggle-switch-radio">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Option 3</span>
                                </label>
                            <!-- /Toggle switch - Radio -->
                        </div>


                    </div>
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Mini toggle switch'}}}
                {{#card_body}}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{{card_title 'All states'}}}
                            <!-- Mini toggle switch states -->
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary mini">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Cookies <span class="small text-muted">(Normal state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Pancakes  <span class="small text-muted">(Checked state)</span></span>
                                </label>
                            </fieldset>

                            <form class="was-validated">
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary mini">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Pancakes  <span class="small text-muted">(Invalid state)</span></span>
                                </label>
                            </fieldset>
                            </form>

                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary mini">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Chocolate <span class="small text-muted">(Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Milkshake <span class="small text-muted">(Checked + Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <!-- /Mini toggle switch states -->
                        </div>
                        <div class="form-group col-md-4">
                            {{{card_title 'Color variations'}}}
                            <!-- Mini toggle switch color variations -->
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Primary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-secondary mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Secondary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-success mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Success</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-danger mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Danger</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-warning mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Warning</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-info mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Info</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-light mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Light</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-dark mini">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Dark</span>
                                </label>
                            </fieldset>
                            <!-- /Mini toggle switch color variations -->
                        </div>

                        <div class="form-group col-md-4">
                            <!-- Mini toggle switch - Radio -->
                            {{{card_title 'Radio'}}}
                            <label class="custom-control custom-toggle-switch custom-toggle-switch-primary mini">
                                <input class="custom-control-input" checked type="radio" name="toggle-switch-mini-radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Option 1</span>
                            </label>
                            <label class="custom-control custom-toggle-switch custom-toggle-switch-primary mini">
                                <input class="custom-control-input" type="radio" name="toggle-switch-mini-radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Option 2</span>
                            </label>
                            <label class="custom-control custom-toggle-switch custom-toggle-switch-primary mini">
                                <input class="custom-control-input" type="radio" name="toggle-switch-mini-radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Option 3</span>
                            </label>
                            <!-- /Mini toggle switch - Radio -->
                        </div>


                    </div>
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Square toggle switch'}}}
                {{#card_body}}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{{card_title 'All states'}}}
                            <!-- Square toggle switch states -->
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary square">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Cookies <span class="small text-muted">(Normal state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Pancakes  <span class="small text-muted">(Checked state)</span></span>
                                </label>
                            </fieldset>

                            <form class="was-validated">
                                <fieldset>
                                    <label class="custom-control custom-toggle-switch custom-toggle-switch-primary square">
                                        <input class="custom-control-input" required="" type="checkbox">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Pancakes  <span class="small text-muted">(Invalid state)</span></span>
                                    </label>
                                </fieldset>
                            </form>

                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary square">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Chocolate <span class="small text-muted">(Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Milkshake <span class="small text-muted">(Checked + Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <!-- /Square toggle switch states -->
                        </div>
                        <div class="form-group col-md-4">
                            {{{card_title 'Color variations'}}}
                            <!-- Square toggle switch color variations -->
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-primary square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Primary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-secondary square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Secondary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-success square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Success</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-danger square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Danger</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-warning square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Warning</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-info square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Info</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-light square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Light</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-switch custom-toggle-switch-dark square">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Dark</span>
                                </label>
                            </fieldset>
                            <!-- /Square toggle switch color variations -->
                        </div>
                        <div class="form-group col-md-4">
                            {{{card_title 'Radio'}}}
                            <!-- Square toggle switch - Radio -->
                            <label class="custom-control custom-toggle-switch custom-toggle-switch-primary square">
                                <input class="custom-control-input" checked type="radio" name="toggle-switch-square-radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Option 1</span>
                            </label>
                            <label class="custom-control custom-toggle-switch custom-toggle-switch-primary square">
                                <input class="custom-control-input" type="radio" name="toggle-switch-square-radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Option 2</span>
                            </label>
                            <label class="custom-control custom-toggle-switch custom-toggle-switch-primary square">
                                <input class="custom-control-input" type="radio" name="toggle-switch-square-radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Option 3</span>
                            </label>
                            <!-- /Square toggle switch - Radio -->
                        </div>

                    </div>
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Flipped toggle switch'}}}
                {{#card_body}}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{{card_title 'All states'}}}
                            <!-- Flipped toggle switch states -->
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Rockets <span
                                            class="small text-muted text-muted">(Normal state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Lasers <span class="small text-muted">(Checked state)</span></span>
                                </label>
                            </fieldset>

                            <form class="was-validated">
                                <fieldset>
                                    <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                        <input class="custom-control-input" required="" type="checkbox">
                                        <span class="custom-control-indicator" data-toggle-on="ON"
                                              data-toggle-off="OFF"></span>
                                        <span class="custom-control-description">Lasers <span class="small text-muted">(Invalid state)</span></span>
                                    </label>
                                </fieldset>
                            </form>


                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">HAL 9K <span class="small text-muted">(Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-primary ">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Ultron <span class="small text-muted">(Checked + Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <!-- /Flipped toggle switch states -->
                        </div>
                        <div class="form-group col-md-4">
                            {{{card_title 'Color variations'}}}
                            <!-- Flipped toggle switch color variations -->
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Primary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-secondary">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Secondary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-success">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Success</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-danger">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Danger</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-warning">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Warning</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-info">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Info</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-light">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Light</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip custom-toggle-flip-dark">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="ON"
                                          data-toggle-off="OFF"></span>
                                    <span class="custom-control-description">Dark</span>
                                </label>
                            </fieldset>
                            <!-- /Flipped toggle switch color variations -->
                        </div>

                        <div class="form-group col-md-4">
                            {{{card_title 'Radio'}}}
                            <!-- Flipped toggle switch - Radio -->
                            <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                <input class="custom-control-input" checked type="radio" name="toggle-flip-radio">
                                <span class="custom-control-indicator" data-toggle-on="ON"
                                      data-toggle-off="OFF"></span>
                                <span class="custom-control-description">Option 1</span>
                            </label>
                            <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                <input class="custom-control-input" type="radio" name="toggle-flip-radio">
                                <span class="custom-control-indicator" data-toggle-on="ON"
                                      data-toggle-off="OFF"></span>
                                <span class="custom-control-description">Option 2</span>
                            </label>
                            <label class="custom-control custom-toggle-flip custom-toggle-flip-primary">
                                <input class="custom-control-input" type="radio" name="toggle-flip-radio">
                                <span class="custom-control-indicator" data-toggle-on="ON"
                                      data-toggle-off="OFF"></span>
                                <span class="custom-control-description">Option 3</span>
                            </label>
                            <!-- Flipped toggle switch - Radio -->
                        </div>
                    </div>
                {{/card_body}}
            {{/card}}

            {{#card}}
                {{{card_header 'Yes/No flipped toggle switch'}}}
                {{#card_body}}

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{{card_title 'All states'}}}
                            <!-- Yes/No flipped toggle switch states -->
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-success">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Rockets <span
                                            class="small text-muted text-muted">(Normal state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-success">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Lasers <span class="small text-muted">(Checked state)</span></span>
                                </label>
                            </fieldset>

                            <form class="was-validated">
                                <fieldset>
                                    <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-success">
                                        <input class="custom-control-input" required="" type="checkbox">
                                        <span class="custom-control-indicator" data-toggle-on="YES"
                                              data-toggle-off="NO"></span>
                                        <span class="custom-control-description">Lasers <span class="small text-muted">(Invalid state)</span></span>
                                    </label>
                                </fieldset>
                            </form>

                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-success">
                                    <input class="custom-control-input" required="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">HAL 9K <span class="small text-muted">(Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <fieldset disabled="disabled">
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-success">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="ON"></span>
                                    <span class="custom-control-description">Ultron <span class="small text-muted">(Checked + Disabled state)</span></span>
                                </label>
                            </fieldset>
                            <!-- /Yes/No flipped toggle switch states -->
                        </div>
                        <div class="form-group col-md-3">
                            {{{card_title 'Color variations'}}}
                            <!-- Yes/No flipped toggle switch color variations -->
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-primary">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on=" YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Primary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-secondary">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Secondary</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-success">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Success</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-danger">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Danger</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-warning">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Warning</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-info">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Info</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-light">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Light</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-dark">
                                    <input class="custom-control-input" required="" checked="" type="checkbox">
                                    <span class="custom-control-indicator" data-toggle-on="YES"
                                          data-toggle-off="NO"></span>
                                    <span class="custom-control-description">Dark</span>
                                </label>
                            </fieldset>
                            <!-- /Yes/No flipped toggle switch color variations -->
                        </div>
                        <div class="form-group col-md-5">
                            {{{card_title 'Inline radio'}}}
                            <!-- Yes/No flipped toggle switch - Radio -->
                            <div class="d-flex align-items-center">
                            <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-success mr-3">
                                <input class="custom-control-input" checked type="radio" name="toggle-flip-yes-no">
                                <span class="custom-control-indicator" data-toggle-on="YES"
                                      data-toggle-off="NO"></span>
                                <span class="custom-control-description">Option 1</span>
                            </label>
                            <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-success mr-3">
                                <input class="custom-control-input" type="radio" name="toggle-flip-yes-no">
                                <span class="custom-control-indicator" data-toggle-on="YES"
                                      data-toggle-off="NO"></span>
                                <span class="custom-control-description">Option 2</span>
                            </label>
                            <label class="custom-control custom-toggle-flip yes-no custom-toggle-flip-success mr-3">
                                <input class="custom-control-input" type="radio" name="toggle-flip-yes-no">
                                <span class="custom-control-indicator" data-toggle-on="YES"
                                      data-toggle-off="NO"></span>
                                <span class="custom-control-description">Option 3</span>
                            </label>
                            </div>
                            <!-- Yes/No flipped toggle switch - Radio -->
                        </div>
                    </div>

                {{/card_body}}
            {{/card}}

        </div>
    </div>
</div>