<!-- Required meta tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{{title}} | {{package.title}}</title>
<meta name="description" content="{{ package.description }}">
<meta name="keywords" content="{{ package.keywords }}">
<meta name="author" content="{{ package.author.name }}">

<!-- TODO, check this HEAD html very carefully -https://github.com/octobroid/oc-boilerplate/blob/master/themes/my-theme/partials/head.htm ->
<!--
    //////////////////////////////////////////////////////

    ADMIN HTML5 TEMPLATE
    DESIGNED & DEVELOPED by {{ package.author.name }}

    Website:        xxx
    Email:          xxx

    //////////////////////////////////////////////////////
    -->

<!-- Favicons -->
<!--<link rel="icon" href="{{assets}}{{img}}favicon.ico" type="image/x-icon"/>-->
<!--<link rel="shortcut icon" href="{{assets}}{{img}}favicon.ico" type="image/x-icon"/>-->
<!--<link rel="apple-touch-icon" href="{{assets}}{{img}}apple-touch-icon.png"/>-->
<!--<link rel="apple-touch-icon" sizes="72x72" href="{{assets}}{{img}}apple-touch-icon-72x72.png"/>-->
<!--<link rel="apple-touch-icon" sizes="114x114" href="{{assets}}{{img}}apple-touch-icon-114x114.png"/>-->

{{!--<link rel="stylesheet" href="{{assets}}/css/bootstrap.css" />--}}

<!-- BEGIN GLOBAL VENDORS :CSS -->
<link rel="stylesheet" href="{{assets}}{{vendors}}metismenu/dist/metisMenu.css">
<link rel="stylesheet" href="{{assets}}{{vendors}}animate.css/animate.css">
<link rel="stylesheet" href="{{assets}}{{vendors}}bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="{{assets}}{{vendors}}simple-line-icons/css/simple-line-icons.css">
<!-- /END GLOBAL VENDORS :CSS -->

<!-- BEGIN PAGE LEVEL VENDORS :CSS -->
{{#if css_cdn_vendors}}
    {{helper-cdn css_cdn_vendors}}
{{/if}}

{{#if css_vendors}}
    {{#each css_vendors}}
        <link rel="stylesheet" href="{{../assets}}{{../vendors}}{{ this }}.css">
    {{/each}}
{{/if}}
<!-- /END PAGE LEVEL VENDORS :CSS -->

<!-- BEGIN PAGE LEVEL VENDORS EXTENDED :CSS -->
{{#if css_vendors_extended}}
    {{#each css_vendors_extended}}
        <link rel="stylesheet" href="{{../assets}}{{../activeTheme}}/vendors-extended/{{ this }}{{#if ../production}}.min{{/if}}.css">
    {{/each}}
{{/if}}
<!-- /END PAGE LEVEL VENDORS EXTENDED :CSS -->

<!-- BEGIN OBEUS :CSS -->
<link rel="stylesheet" href="{{assets}}{{activeTheme}}/{{ package.name }}{{#if production}}.min{{/if}}.css" title="mainStyle">
<!-- /END OBEUS :CSS -->

<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<noscript>
    <p><strong>This web page requires JavaScript to be enabled.</strong></p>
    <p>JavaScript is an object-oriented computer programming language
        commonly used to create interactive effects within web browsers.</p>
    <p><a href="https://goo.gl/koeeaJ">How to enable JavaScript?</a></p>
</noscript>