---
title: Text alignment
lead: You can quickly change the text alignment of any card—in its entirety or specific parts —with text align classes.
components: true
categories: Cards
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12 pr-md-2">
            <!-- Text alignment variation 1 -->
            <div class="card">
                <div class="card-body">
                    {{{card_title_has_subtitle 'Text align left' 'Card subtitle'}}}
                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                    <a href="#" class="btn btn-primary mb-1">Go somewhere</a>
                    <a href="#" class="btn btn-secondary mb-1">Take a look</a>
                </div>
            </div>
            <!-- /Text alignment variation 1 -->
        </div>

        <div class="col-xl-4 col-md-4 col-sm-12 px-md-2">
            <!-- Text alignment variation 2 -->
            <div class="card text-center">
                <div class="card-body">
                    {{{card_title_has_subtitle 'Text align center' 'Card subtitle'}}}
                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                    <a href="#" class="btn btn-primary mb-1">Go somewhere</a>
                    <a href="#" class="btn btn-secondary mb-1">Take a look</a>
                </div>
            </div>
            <!-- /Text alignment variation 2 -->
        </div>

        <div class="col-xl-4 col-md-4 col-sm-12 pl-md-2">
            <!-- Text alignment variation 3 -->
            <div class="card text-right">
                <div class="card-body">
                    {{{card_title_has_subtitle 'Text align right' 'Card subtitle'}}}
                    <p class="card-text">{{{placeholder-lorem-sm}}}</p>
                    <a href="#" class="btn btn-primary mb-1">Go somewhere</a>
                    <a href="#" class="btn btn-secondary mb-1">Take a look</a>
                </div>
            </div>
            <!-- /Text alignment variation 3 -->
        </div>

    </div>
</div>
